# Phase 1

**This is the beginning of the work. The dataset is the A2F 2023 Survey from Enhancing Financial Inclusion & Advancement (EFInA). The link to the data source is below:**

https://a2f.ng/datasets/#licence-2023-Dataset-revised-popup

**I chose this dataset becaue it is the most recent version of the survey taken. Others were taken in 2020, 2018, etc.**

**Please feel free to pass any comments/ make any edits as you deem fit at any point in the project.**

**The file is quite a large file, with almost 30,000 rows and over 1,600 columns. It is a ".sav" file with a size of about 350MB.**

**The large size of this file can cause some issues with computing values later on. I will try to consolidate the columns so we can have a more compact data structure to work with.**

In [95]:
# First, install the library if you haven't:
# pip install pyreadstat

In [96]:
import pyreadstat
import pandas as pd
import numpy as np

# At this point, I am loading the .sav file locally. Make sure to replace the path with the actual path to your .sav file. The path could be a raw string (prefix with 'r') to avoid issues with backslashes.

file_path = r"c:\Users\USER\Desktop\A2F-2023-Revised-dataset-with-Revised-weights\A2F 2023 Revised dataset with Revised weights.sav"

# Load the file by unpacking the .sav file into a pandas DataFrame and metadata. The `read_sav` function reads the .sav file and returns a tuple (data, meta) where `data` is a DataFrame and `meta` contains metadata about the variables. The `meta` object contains information about the variable labels, value labels, and other metadata

data, meta = pyreadstat.read_sav(file_path)
data = data.drop_duplicates().dropna(how="all", axis=1)

# Again,
# `data` is a pandas DataFrame containing the data
# `meta` contains metadata like variable labels

display(data.head())  # Just getting an overview

,statecode,state_code,e6,state,agegroup,respondent_serial,Weightingvariable,final_hh_wgt,region,state_name,...,finneeds_transferofvalue,target_groups,savings_group,cooperative,village_comm_association,savings_thrift,microfinance,money_lender,finhealth_indicator_final,finlit_cap_final
0,1.0,31.0,2.0,ABIA,2.0,3697287.0,686.992065,749.888855,2.0,ABIA,...,1.0,2.0,0.0,0.0,0.0,0.0,NaN,NaN,1.0,1.0
1,1.0,31.0,2.0,ABIA,2.0,3546312.0,1292.105957,1028.419067,2.0,ABIA,...,1.0,2.0,0.0,0.0,0.0,0.0,NaN,NaN,1.0,0.0
2,1.0,31.0,1.0,ABIA,2.0,3737095.0,274.308411,492.784119,2.0,ABIA,...,1.0,5.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
3,1.0,31.0,1.0,ABIA,2.0,3545118.0,1194.719360,1028.419067,2.0,ABIA,...,1.0,5.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0
4,1.0,31.0,1.0,ABIA,2.0,3705829.0,4107.366211,1906.860229,2.0,ABIA,...,1.0,4.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0

In [97]:
# Just trying to save a csv copy of the data for later use
# data.to_csv(r"c:\Users\USER\Desktop\A2F-2023-Revised-dataset-with-Revised-weights/data.csv", index=False)

In [98]:

# You can get summary statistics for numerical columns, I have temporarily commented it out
#display(data.describe())  

# Getting a summary of the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28392 entries, 0 to 28391
Columns: 1606 entries, statecode to finlit_cap_final
dtypes: float64(1496), object(110)
memory usage: 347.9+ MB

In [99]:
# Let's check the attributes of the "meta" object so we can know where to look
print(dir(meta))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'column_labels', 'column_names', 'column_names_to_labels', 'creation_time', 'file_encoding', 'file_format', 'file_label', 'missing_ranges', 'missing_user_values', 'modification_time', 'mr_sets', 'notes', 'number_columns', 'number_rows', 'original_variable_types', 'readstat_variable_types', 'table_name', 'value_labels', 'variable_alignment', 'variable_display_width', 'variable_measure', 'variable_storage_width', 'variable_to_label', 'variable_value_labels']

In [100]:
# You can access various attributes in "meta", such as:
# - meta.column_labels: Provides the variable (column) names and their corresponding labels.
# - meta.variable_measure: Shows the measurement types (e.g., nominal, scale).
# - meta.file_label: Displays the label of the file if available.
# - meta.notes: Any additional notes saved in the .sav file.

# Access metadata attributes
# print(meta.column_labels)  # Variable labels
# print(meta.variable_measure)  # Measurement levels for variables
# print(meta.file_label)  # Overall file label
# print(meta.notes)  # Notes from the .sav file

In [101]:
# Targetting the attribute "Column_names_to_labels" to get the variable names and their labels. This attribute contains a dictionary mapping variable names to their labels. 

columns_to_labels = meta.column_names_to_labels  # This gives a dictionary

# Loop through the dictionary and print each column with its description
for column_name, label in columns_to_labels.items():
    print(f"{column_name}: {label}")

statecode: 8. state
state_code: state_code
e6: gender
state: None
agegroup: Age (15-17) (18 & above)
respondent_serial: 3. serial number
Weightingvariable: new weighting variable
final_hh_wgt: 5. household weight
region: geopolitical zones
state_name: 8. state
lga_name: 9. lga name
locality_name: 10. locality_name
ea_name: 11. ea name
sector: 12. sector
ea_code: 13. ea code
ee1: 1, 1, 1 : how many adults (aged 15+) live in this household?
hh_total_size_1: total_total household size
hh_total_size_2: male_total household size
hh_total_size_3: female_total household size
hh_age_15_17_1: total_number of persons age 15 to 17 yrs
hh_age_15_17_2: male_number of persons age 15 to 17 yrs
hh_age_15_17_3: female_number of persons age 15 to 17 yrs
hh_age_18_plus_1: total_total of persons age 18 yrs+
hh_age_18_plus_2: male_total of persons age 18 yrs+
hh_age_18_plus_3: female_total of persons age 18 yrs+
q1_1: interview type
c1: c1.  how many people live in this household?
c2a: c2a.  how many people in the household are aged 18 years and above?
c2b: c2b.  how many people in the household are aged between 15-17 years?
c3a: c3a.  how many people in this household bring money into the household?
c3b: c3b.  is there any member of this household aged 15 years and above who is unemp
c4: c4.  how many separate rooms do the members of the household occupy (not countin
c5: c5.  considering all the household members 15 years and above, has anyone comple
d1: d1.  do you or your family own or rent this house?
d2_1: d2. how was this house acquired? -  mortgage
d2_2: d2. how was this house acquired? -  a loan from government scheme
d2_3: d2. how was this house acquired? -  a loan from other sources : how was this hou
d2_4: d2. how was this house acquired? -  own savings : how was this house acquired?
d2_5: d2. how was this house acquired? - inheritance
d2_96: d2. do not know
d2_95: d2. refused to answer
d2_98: d2. other, specify
d2_other: d2. how was this house acquired? - other, specify
d3_1: d3. which of the following do you have in your household? - one mattress
d3_2: d3. which of the following do you have in your household? - two mattresses
d3_3: d3. which of the following do you have in your household? - three or more mattre
d3_4: d3. which of the following do you have in your household? - microwave
d3_5: d3. which of the following do you have in your household? - household help
d3_6: d3. which of the following do you have in your household? - fridge/deep freezer
d3_7: d3. which of the following do you have in your household? - video player
d3_8: d3. which of the following do you have in your household? - car/vehicle (excludi
d3_9: d3. which of the following do you have in your household? - colour tv
d3_10: d3. which of the following do you have in your household? - music system
d3_11: d3. which of the following do you have in your household? - air conditioning (sp
d3_12: d3. which of the following do you have in your household? - air conditioning (si
d3_13: d3. which of the following do you have in your household? - satellite dish
d3_14: d3. which of the following do you have in your household? - washing machine
d3_15: d3. which of the following do you have in your household? - black & white tv
d3_16: d3. which of the following do you have in your household? - dvd player
d3_17: d3. which of the following do you have in your household? - cable satellite
d3_18: d3. which of the following do you have in your household? - telephone (land)
d3_19: d3. which of the following do you have in your household? - telephone (mobile)
d3_20: d3. which of the following do you have in your household? - personal driver
d3_21: d3. which of the following do you have in your household? - keke napep
d3_22: d3. which of the following do you have in your household? - motorbike
d3_23: d3. which of the following do you have in your household? - computer (desktop)
d3_24: d3. which of the following do you have in your household? - computer (laptop)
d3_25: d3. which of the following do you have in your household? - generator set
d4a_1: d4a. what kind of cooking facilities do you have in your household? - gas cooker
d4a_2: d4a. what kind of cooking facilities do you have in your household? - electric c
d4a_3: d4a. what kind of cooking facilities do you have in your household? - combinatio
d4a_4: d4a. what kind of cooking facilities do you have in your household? - kerosene s
d4a_5: d4a. what kind of cooking facilities do you have in your household? - charcoal/w
d4a_6: d4a. what kind of cooking facilities do you have in your household? - none
d4b: d4b.  what is the main cooking facility that your household use?
d5: d5.  what is the  main  fuel used for lighting in your household?
d6: d6.  what type of toilet facilities does the household  mainly  use?
d7: d7.  what is the  main  source of drinking water for your household?
d8a: d8a.  what type of house does the household reside in?
d8b: d8b.  what is the  main material of the floor of the house?
d8c: d8c.  what is the  main material of the walls of the house?
d8d: d8d.  what is the predominant material of the roof of the main dwelling?
d8e: d8e.  does anyone in your household have a bank account?
d9a: d9a.  is there anyone in this household that has a disability?
d9b_1: d9b. who has a disability in your household? - myself
d9b_2: d9b. who has a disability in your household? - parent
d9b_3: d9b. who has a disability in your household? - spouse
d9b_4: d9b. who has a disability in your household? - children
d9b_5: d9b. who has a disability in your household? - sister/brother
d9b_6: d9b. who has a disability in your household? - relative
d10: d10. who makes the main decisions about how money is spent in this household? wo
e1_1: e1. which languages do you speak fluently? - english
e1_2: e1. which languages do you speak fluently? - pidgin english
e1_3: e1. which languages do you speak fluently? - hausa
e1_4: e1. which languages do you speak fluently? - yoruba
e1_5: e1. which languages do you speak fluently? - igbo
e1_98: e1. which languages do you speak fluently? - other
e1_6: e1. which languages do you speak fluently? - none
e1_other: e1. which languages do you speak fluently? - other, specify
e2_1: e2. which languages can you read comfortably? - english
e2_2: e2. which languages can you read comfortably? - pidgin english
e2_3: e2. which languages can you read comfortably? - hausa
e2_4: e2. which languages can you read comfortably? - yoruba
e2_5: e2. which languages can you read comfortably? - igbo
e2_98: e2. which languages can you read comfortably? - other
e2_6: e2. which languages can you read comfortably? - none
e3: e3. which language would you like to be interviewed in?
e4: e4. which of the following best describes your marital status?
e5: e5. what is your relationship with the head of the household?
e7: e7. how old are you?
e8: e8. what is your highest level of education?
e9_1: e9. source of money - salary/wages from government (including nysc payments)
e9_2: e9. source of money - salary/wages from a business/company (formal sector)
e9_3: e9. from where/from whom do you usually get money to buy the things you need? -s
e9_4: e9. from where/from whom do you usually get money to buy the things you need? -s
e9_5: e9. from where/from whom do you usually get money to buy the things you need? -s
e9_6: e9. from where/from whom do you usually get money to buy the things you need? -c
e9_7: e9. from where/from whom do you usually get money to buy the things you need? -o
e9_8: e9. from where/from whom do you usually get money to buy the things you need? -o
e9_9: e9. from where/from whom do you usually get money to buy the things you need? -o
e9_10: e9. from where/from whom do you usually get money to buy the things you need? -o
e9_11: e9. from where/from whom do you usually get money to buy the things you need? -r
e9_12: e9. from where/from whom do you usually get money to buy the things you need? -p
e9_13: e9. from where/from whom do you usually get money to buy the things you need? -g
e9_14: e9. from where/from whom do you usually get money to buy the things you need? -d
e9_15: e9. from where/from whom do you usually get money to buy the things you need? -i
e9_16: e9. from where/from whom do you usually get money to buy the things you need? -r
e9_17: e9. from where/from whom do you usually get money to buy the things you need? -g
e9_18: e9. from where/from whom do you usually get money to buy the things you need? -g
e9_19: e9. from where/from whom do you usually get money to buy the things you need? -g
e9_98: e9. others specify
e9_other: e9. from where/from whom do you usually get money to buy the things you need? -
e10: e10. which of these sources of money you told me about do you rely most on to co
e11: e11. how often do you usually receive the money you get from ..?
e11_other: e11. how often do you usually receive the money you get from ..? - other specify
e12: e12. how do you mostly receive the money you get from..?
e12_other: e12. how do you mostly receive the money you get from..? - other specify
e13a_1: e13a. sector of work - agriculture, forestry, and fishing
e13a_2: e13a. sector of work - mining and quarrying
e13a_3: e13a. in which sector would you say your source/sources of income falls into? -m
e13a_4: e13a. in which sector would you say your source/sources of income falls into? -e
e13a_5: e13a. in which sector would you say your source/sources of income falls into? -w
e13a_6: e13a. in which sector would you say your source/sources of income falls into? -c
e13a_7: e13a. in which sector would you say your source/sources of income falls into? -w
e13a_8: e13a. in which sector would you say your source/sources of income falls into? -t
e13a_9: e13a. in which sector would you say your source/sources of income falls into? -a
e13a_10: e13a. in which sector would you say your source/sources of income falls into? -i
e13a_11: e13a. in which sector would you say your source/sources of income falls into? -f
e13a_12: e13a. in which sector would you say your source/sources of income falls into? -r
e13a_13: e13a. in which sector would you say your source/sources of income falls into? -p
e13a_14: e13a. in which sector would you say your source/sources of income falls into? -a
e13a_15: e13a. in which sector would you say your source/sources of income falls into? -e
e13a_16: e13a. in which sector would you say your source/sources of income falls into? -h
e13a_17: e13a. in which sector would you say your source/sources of income falls into? -a
e13a_18: e13a. in which sector would you say your source/sources of income falls into? -a
e13a_19: e13a. in which sector would you say your source/sources of income falls into? -o
e13a_20: e13a. in which sector would you say your source/sources of income falls into? -o
e13a_21: e13a. in which sector would you say your source/sources of income falls into? -r
e13a_other: e13a. in which sector would you say your source/sources of income falls into? -
e13b: e13b. how many people do you employ in your business?
e13d_1: e13d. in what ways have the recent naira redesign policy impacted the following-
e13d_2: e13d. in what ways have the recent naira redesign policy impacted the following-
e13d_3: e13d. in what ways have the recent naira redesign policy impacted the following-
e13d_4: e13d. in what ways have the recent naira redesign policy impacted the following-
e13d_5: e13d. in what ways have the recent naira redesign policy impacted the following-
e13d_6: e13d. in what ways have the recent naira redesign policy impacted the following-
e13d_7: e13d. in what ways have the recent naira redesign policy impacted the following-
e14_1: e14. do you have..? - national identification number (nin)
e14_2: e14. do you have..? - idp card
e14_3: e14. do you have..? - voter's id card (temporary or permanent)
e14_4: e14. do you have..? - international passport
e14_5: e14. do you have..? - employment id card
e14_6: e14. do you have..? - medical insurance id card (hmo card)
e14_7: e14. do you have..? - driver's licence
e14_8: e14. do you have..? - payslip/salary slip
e14_9: e14. do you have..? - land ownership documents
e14_10: e14. do you have..? - house ownership documents
e14_11: e14. do you have..? - bank verification number (bvn)
e14_12: e14. do you have..? - electricity bill
e14_13: e14. do you have..? - water bill
e14_14: e14. do you have..? - telephone/mobile phone bill
e14_15: e14. do you have..? - local government rates and taxes invoice
e14_16: e14. do you have..? - lease or rental agreement
e14_17: e14. do you have..? - tax clearance certificate
e14_18: e14. do you have..? - birth certificate
f3: f3. thinking about money matters and goals that require a large amount of money,
f3_other: f3. thinking about money matters and goals that require a large amount of money,
f4a_1: f4a. done in the past year to achieve goal - borrowed from a bank or other insti
f4a_2: f4a. done in the past year to achieve goal - borrowed from a digital microfinanc
f4a_3: f4a. done in the past year to achieve goal - borrowed from moneylender (informal
f4a_4: f4a. done in the past year to achieve goal - borrowed from saving group/cooperat
f4a_5: f4a. done in the past year to achieve goal - borrowed from family or friends or
f4a_6: f4a. done in the past year to achieve goal - took a loan or advance from my empl
f4a_7: f4a. done in the past year to achieve goal - took a loan from a shopkeeper
f4a_8: f4a. done in the past year to achieve goal - used savings held at a formal insti
f4a_9: f4a. done in the past year to achieve goal - used savings from savings group, sa
f4a_10: f4a. done in the past year to achieve goal - used savings held with friends or f
f4a_11: f4a. done in the past year to achieve goal - used savings held in a secret hidin
f4a_12: f4a. done in the past year to achieve goal - sold livestock
f4a_13: f4a. done in the past year to achieve goal - sold other assets such as a car, bu
f4a_14: f4a. done in the past year to achieve goal - got money or other assistance from
f4a_15: f4a. done in the past year to achieve goal - cut back on my expenses
f4a_16: f4a. done in the past year to achieve goal - worked more or got additional jobs
f4a_17: f4a. done in the past year to achieve goal - bought on credit
f4a_18: f4a. done in the past year to achieve goal - bought on hire purchase
f4a_19: f4a. done in the past year to achieve goal - got a credit card or extended my li
f4a_20: f4a. done in the past year to achieve goal - have a goal but did nothing in the
f4a_98: f4a. done in the past year to achieve goal - other
f4a_other: f4a. done in the past year to achieve goal - other, specify
f4b: f4b. which of these would you say is your main means of achieving your goal?
f5a: f5a. do you save or keep money for different reasons?
f5b: f5b. do you invest money in assets (that is buying properties, equipment, livest
f5c: f5c. how many months of income do you have in savings?
f6: f6. to what extent do you agree or disagree with the following statement? you pl
f7a1: f7a1. in the past 12 months, how often have you experienced running out of money
f7b: f7b. what did you mainly do to pay for things when this happened?
f7b_other: f7b. what did you mainly do to pay for things when this happened? - other specif
f7b1: f7b1. over the past 12 months, how would you describe your income and spending?
f7c: f7c. how difficult would it be for you to come up with n75,000 within the next 7
f7d: f7d. how would you mainly raise this money?
f7d_other: f7d. how would you mainly raise this money? - other specify
f8_1: f8. to what extent do you agree or disagree with the following statements - you
f8_2: f8. to what extent do you agree or disagree with the following statements - most
f8_3: f8. to what extent do you agree or disagree with the following statements - most
f8_4: f8. to what extent do you agree or disagree with the following statements - you
f8_5: f8. to what extent do you agree or disagree with the following statements - you
f8_6: f8. to what extent do you agree or disagree with the following statements - you
f8_7: f8. to what extent do you agree or disagree with the following statements - it
f8_8: f8. to what extent do you agree or disagree with the following statements - you
f9: f9. imagine that five friends are given a gift of 20 000 naira.if the friends mu
f10: f10. if you could choose between two options, which would you take?
f11: f11. if you could choose between two options, which would you take?
f12_1: f12. when you buy financial products or services you compare different options a
f12_2: f12. you know what to do when not satisfied with a financial service or product
f12_3: f12. you are confident enough to make a complaint against a bank or financial in
f12_4: f12. you understand the terms and conditions in the contract with a financial in
f14: f14. do you feel that the information on financial products or services is lways
f15: f15. have you ever taken a financial product/service and were later on surprised
f16: f16. 'in the past 12 months, have you been informed of changes to fees/charges o
f17: f17. do you feel that bank fees or charges are affordable
f18: f18. have you been unfairly treated by staff/agent from a financial institution
f19: f19. have you experienced a problem with your financial service provider?
f20: f20. the bank system or platform is always down.
f26: f26. you are satisfied with your financial institution's customer support
f27: f27. 'whenever you visit a bank branch, you are always served on time'
f28: f28. 'you use a mobile phone and/or tablets to manage your financial activities
f29: f29. do you budget for your money?
f30: f30. do you know how much money you spent personally in the last 7 days?
f31: f31. do you keep track of the money you get and spend?
qf1_1: qf1. ever used a service they provide - commercial bank
qf1_2: qf1. ever used a service they provide - microfinance bank (lapo, accion,)
qf1_16: qf1. ever used a service they provide - digital microfinance bank (neo banks lik
qf1_3: qf1. ever used a service they provide - non-interest banking institution (islami
qf1_4: qf1. ever used a service they provide - mortgage institution such as fmbn
qf1_5: qf1. ever used a service they provide - mobile money operator (palm pay, opay)
qf1_6: qf1. ever used a service they provide - cooperative society
qf1_7: qf1. ever used a service they provide - capital market operator
qf1_8: qf1. ever used a service they provide - payment service bank (9psb, mtn momo, ho
qf1_9: qf1. ever used a service they provide - insurance provider
qf1_10: qf1. ever used a service they provide - pension fund administrator
qf1_11: qf1. ever used a service they provide - microfinance institution
qf1_12: qf1. ever used a service they provide - savings group that you save with or borr
qf1_13: qf1. ever used a service they provide - village/community association
qf1_14: qf1. ever used a service they provide - savings/thrift collector/merchant
qf1_15: qf1. ever used a service they provide - moneylender
qf1_17: qf1. ever used a service they provide - none of the above
qf2_1: qf2. does your commercial bank offer at least one of the following services savi
qf2_2: qf2. does your microfinance bank (lapo, accion,) offer at least one of the follo
qf2_16: qf2. does your digital microfinance bank (neo banks like money point, fair money
qf2_3: qf2. does your non-interest banking institution (islamic finance e.g., jaiz bank
qf2_4: qf2. does your mortgage institution such as fmbn offer  at least one of the foll
qf2_5: qf2. does your mobile money operator (palm pay, opay)offer at least one of the f
qf2_6: qf2. does your cooperative society offer at least one of the following services
qf2_7: qf2. does your capital market operator offer at least one of the following servi
qf2_8: qf2. does your payment service bank (9psb, mtn momo, hope psb, money master) off
qf2_9: qf2. does your insurance provider offer at least one of the following services s

### In this project, the main work will be about consolidating the columns in the dataset into a more compact structure. We will then feed this compact structure into the function that'll give us different visualizations to explore the data and extract the stories hidden in the data. I have defined a list of columns that we need to create based on the data at hand. The list is as follows:


### **1. `bank_account_ownership`**
- **Description**: Indicates whether an individual owns a formal bank account (e.g., savings, checking) and the type of financial institution they use (e.g., commercial bank, microfinance institution).
- **Purpose**: This column helps assess financial inclusion by identifying individuals with access to formal banking services.

---

### **2. `urban_rural`**
- **Description**: Categorizes individuals based on whether they reside in urban or rural areas.
- **Purpose**: This column provides geographic context for understanding disparities in access to financial services, infrastructure, and opportunities between urban and rural populations.

---

### **3. `financial_inclusion_metrics`**
- **Description**: Aggregates multiple indicators of financial inclusion, such as ownership of bank accounts, mobile money usage, and access to credit.
- **Purpose**: This composite metric offers a holistic view of an individual's engagement with formal and informal financial systems.

---

### **4. `demographic_factors`**
- **Description**: Combines demographic attributes such as age, gender, education level, and marital status into a single representation.
- **Purpose**: These factors are critical for analyzing how demographic characteristics influence financial behavior and inclusion.

---

### **5. `savings_behavior`**
- **Description**: Captures how individuals save money, including methods (e.g., at home, in banks, via mobile wallets) and purposes (e.g., emergencies, education, business).
- **Purpose**: This column highlights saving habits and preferences, which are key to understanding financial resilience and planning.

---

### **6. `borrowing_behavior`**
- **Description**: Describes borrowing patterns, including sources of loans (e.g., family, banks, microfinance institutions) and reasons for borrowing (e.g., emergencies, business expansion).
- **Purpose**: This column provides insights into debt management and access to credit, which are essential for assessing financial vulnerability and entrepreneurial activities.

---

### **7. `digital_payment_adoption`**
- **Description**: Indicates the extent to which individuals use digital payment methods, such as mobile money, e-wallets, or online banking.
- **Purpose**: This column measures adoption of modern financial technologies, which is a strong indicator of financial inclusion and economic participation.

---

### **8. `access_to_electricity`**
- **Description**: Identifies whether individuals have reliable access to electricity, which is a prerequisite for using digital devices and financial services.
- **Purpose**: This column highlights infrastructure challenges that may hinder access to financial tools and services, particularly in rural areas.

---

### **9. `internet_access`**
- **Description**: Indicates whether individuals have access to the internet, either through smartphones, computers, or other devices.
- **Purpose**: Internet access is crucial for digital financial inclusion, enabling activities like online banking, mobile payments, and e-commerce.

---

### **10. `mobile_phone_usage`**
- **Description**: Describes how individuals use mobile phones, including ownership, type of phone (e.g., smartphone, feature phone), and comfort with apps.
- **Purpose**: Mobile phones are often a gateway to financial services, especially in regions where traditional banking is limited.

---

### **11. `credit_access`**
- **Description**: Assesses access to credit, including borrowing history, sources of credit, and repayment behavior.
- **Purpose**: This column highlights barriers to accessing credit and identifies opportunities to expand financial inclusion for underserved populations.

---

### **12. `small_business_ownership`**
- **Description**: Indicates whether individuals own or operate small businesses, including ownership of business equipment, control over assets, and proximity to markets.
- **Purpose**: This column evaluates entrepreneurial activity and identifies individuals who may benefit from targeted financial products and services.

---

### **13. `entrepreneurship`**
- **Description**: Provides a comprehensive view of entrepreneurial activities, including income-generating activities, sectors of operation, and employment of others.
- **Purpose**: This column helps identify individuals engaged in entrepreneurial ventures and assesses their needs for financial support and resources.

---

### Summary
These columns collectively provide a detailed understanding of financial inclusion, economic behavior, and access to resources. While `urban_rural` has been temporarily skipped, it can be revisited later to incorporate geographic insights into the analysis. Each column contributes to a broader narrative about how individuals interact with financial systems and what factors influence their economic opportunities.

### > state or territory <

In [132]:
# We need to validate that this column carries the expected state names. The column name is "state", representing the states in Nigeria.
# We check to see if they match the expected state names (the 37 states in Nigeria plus the Federal Capital Territory (FCT)).

# Define the list of expected state names (37 states + FCT)
expected_states = [
    'ABIA', 'ADAMAWA', 'AKWA IBOM', 'ANAMBRA', 'BAUCHI', 'BAYELSA', 'BENUE', 'BORNO',
    'CROSS RIVER', 'DELTA', 'EBONYI', 'EDO', 'EKITI', 'ENUGU', 'FCT', 'GOMBE', 'IMO',
    'JIGAWA', 'KADUNA', 'KANO', 'KATSINA', 'KEBBI', 'KOGI', 'KWARA', 'LAGOS',
    'NASARAWA', 'NIGER', 'OGUN', 'ONDO', 'OSUN', 'OYO', 'PLATEAU', 'RIVERS', 'SOKOTO',
    'TARABA', 'YOBE', 'ZAMFARA'
]

# Step 1: Check for missing values
missing_values = data['state'].isnull().sum()
print(f"Missing Values in 'state' Column: {missing_values}")

# Step 2: Retrieve unique values in the 'state' column
unique_states = data['state'].unique()
print(f"Unique Values in 'state' Column ({len(unique_states)}): {unique_states}")

# Step 3: Compare unique values with the expected state names
missing_from_data = set(expected_states) - set(unique_states)
extra_in_data = set(unique_states) - set(expected_states)

print("\nValidation Results:")
if missing_from_data:
    print(f"States Missing from Data: {missing_from_data}")
else:
    print("All expected states are present in the data.")

if extra_in_data:
    print(f"Unexpected States in Data: {extra_in_data}")
else:
    print("No unexpected states found in the data.")

# Step 4: Check if the number of unique states matches the expected count
if len(unique_states) == len(expected_states):
    print("The number of unique states matches the expected count (37).")
else:
    print(f"Mismatch in Count: Found {len(unique_states)}, Expected {len(expected_states)}.")

Missing Values in 'state' Column: 0
Unique Values in 'state' Column (37): ['ABIA' 'ADAMAWA' 'AKWA IBOM' 'ANAMBRA' 'BAUCHI' 'BAYELSA' 'BENUE' 'BORNO'
 'CROSS RIVER' 'DELTA' 'EBONYI' 'EDO' 'EKITI' 'ENUGU' 'FCT' 'GOMBE' 'IMO'
 'JIGAWA' 'KADUNA' 'KANO' 'KATSINA' 'KEBBI' 'KOGI' 'KWARA' 'LAGOS'
 'NASARAWA' 'NIGER' 'OGUN' 'ONDO' 'OSUN' 'OYO' 'PLATEAU' 'RIVERS' 'SOKOTO'
 'TARABA' 'YOBE' 'ZAMFARA']

Validation Results:
All expected states are present in the data.
No unexpected states found in the data.
The number of unique states matches the expected count (37).

### 1, bank_account_ownership

To ensure we properly consolidate the bank_account_ownership column, letâ€™s first analyze the relevant columns (qf4_* and qf5_*) to understand their structure, values, and suitability. This step is critical to confirm how account ownership is recorded and whether there are any inconsistencies or missing data.

Step 1: Identify Relevant Columns
The relevant columns for bank_account_ownership are:

qf4_* :
These columns indicate whether an individual has an account registered in their name with various financial institutions.
Examples:
qf4_1: "Do you have an account registered in your name with a commercial bank?"
qf4_2: "Do you have an account registered in your name with a microfinance bank?"
qf4_3: "Do you have an account registered in your name with a non-interest banking institution?"
Additional columns like qf4_4 to qf4_15 cover other types of institutions (e.g., mortgage institutions, mobile money operators, etc.).
qf5_* :
These columns indicate whether the individual currently uses specific financial providers.
Examples:
qf5_1: "Do you currently use this provider (commercial bank)?"
qf5_2: "Do you currently use this provider (microfinance bank)?"


Step 2: Analyze Relevant Columns
We will loop through each of these columns to extract their data types, unique values, value counts, missing values, and sample values. This analysis will help us confirm their suitability for consolidation.

In [103]:
# Define relevant column groups
account_registration_cols = [col for col in data.columns if col.startswith('qf4_')]  # Account registration
current_usage_cols = [col for col in data.columns if col.startswith('qf5_')]        # Current usage

# Combine all relevant columns into a single list
relevant_columns = account_registration_cols + current_usage_cols

# Analyze each column
for column in relevant_columns:
    print(f"--- Analysis for Column: {column} ---")
    
    # Step 1: Check the column type
    print(f"Data Type: {data[column].dtype}")
    
    # Step 2: List unique values
    unique_values = data[column].unique()
    print(f"Unique Values ({len(unique_values)}): {unique_values}")
    
    # Step 3: Show value counts (frequency of each unique value)
    print("Value Counts:")
    print(data[column].value_counts())
    
    # Step 4: Count missing values
    missing_values = data[column].isnull().sum()
    print(f"Missing Values: {missing_values}")
    
    # Step 5: Show sample values
    print("Sample Values:")
    print(data[[column]].sample(5))
    
    print("\n" + "-"*50 + "\n")

--- Analysis for Column: qf4_1 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_1
1.0    11209
2.0      477
Name: count, dtype: int64
Missing Values: 16706
Sample Values:
       qf4_1
24485    1.0
27650    NaN
11138    1.0
25090    1.0
6698     NaN

--------------------------------------------------

--- Analysis for Column: qf4_2 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_2
1.0    403
2.0    194
Name: count, dtype: int64
Missing Values: 27795
Sample Values:
       qf4_2
20785    NaN
28035    NaN
21275    NaN
6965     NaN
22577    NaN

--------------------------------------------------

--- Analysis for Column: qf4_16 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_16
1.0    243
2.0     93
Name: count, dtype: int64
Missing Values: 28056
Sample Values:
       qf4_16
27220     NaN
13783     NaN
13118     NaN
22986     1.0
16515     NaN

--------------------------------------------------

--- Analysis for Column: qf4_3 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_3
1.0    71
2.0    27
Name: count, dtype: int64
Missing Values: 28294
Sample Values:
       qf4_3
21751    NaN
26651    NaN
19376    NaN
14381    NaN
890      NaN

--------------------------------------------------

--- Analysis for Column: qf4_4 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_4
1.0    31
2.0    15
Name: count, dtype: int64
Missing Values: 28346
Sample Values:
       qf4_4
23957    NaN
24767    NaN
18602    NaN
19015    NaN
13887    NaN

--------------------------------------------------

--- Analysis for Column: qf4_5 ---
Data Type: float64
Unique Values (4): [nan  1.  2.  0.]
Value Counts:
qf4_5
1.0    1873
2.0     323
0.0      92
Name: count, dtype: int64
Missing Values: 26104
Sample Values:
       qf4_5
9720     NaN
4465     NaN
13060    NaN
21467    1.0
23546    NaN

--------------------------------------------------

--- Analysis for Column: qf4_6 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_6
1.0    812
2.0    195
Name: count, dtype: int64
Missing Values: 27385
Sample Values:
       qf4_6
5480     NaN
18252    NaN
24825    NaN
24924    NaN
12028    NaN

--------------------------------------------------

--- Analysis for Column: qf4_7 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_7
2.0    16
1.0    16
Name: count, dtype: int64
Missing Values: 28360
Sample Values:
       qf4_7
8142     NaN
18191    NaN
11810    NaN
17542    NaN
22673    NaN

--------------------------------------------------

--- Analysis for Column: qf4_8 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_8
1.0    111
2.0     66
Name: count, dtype: int64
Missing Values: 28215
Sample Values:
       qf4_8
14367    NaN
23598    NaN
7704     NaN
13643    NaN
23497    NaN

--------------------------------------------------

--- Analysis for Column: qf4_9 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_9
1.0    79
2.0    24
Name: count, dtype: int64
Missing Values: 28289
Sample Values:
       qf4_9
15202    NaN
22614    NaN
8033     NaN
14950    NaN
19101    NaN

--------------------------------------------------

--- Analysis for Column: qf4_10 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_10
1.0    336
2.0     20
Name: count, dtype: int64
Missing Values: 28036
Sample Values:
       qf4_10
16146     NaN
17992     NaN
2738      NaN
1266      NaN
13342     NaN

--------------------------------------------------

--- Analysis for Column: qf4_11 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_11
1.0    49
2.0    28
Name: count, dtype: int64
Missing Values: 28315
Sample Values:
       qf4_11
7636      NaN
2148      NaN
12116     NaN
22650     NaN
9332      NaN

--------------------------------------------------

--- Analysis for Column: qf4_12 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_12
1.0    1541
2.0     671
Name: count, dtype: int64
Missing Values: 26180
Sample Values:
       qf4_12
11306     NaN
5747      NaN
3412      NaN
25297     NaN
13865     NaN

--------------------------------------------------

--- Analysis for Column: qf4_13 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_13
1.0    1888
2.0     604
Name: count, dtype: int64
Missing Values: 25900
Sample Values:
       qf4_13
20240     NaN
8192      NaN
7854      NaN
18970     NaN
17243     NaN

--------------------------------------------------

--- Analysis for Column: qf4_14 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_14
1.0    2318
2.0     485
Name: count, dtype: int64
Missing Values: 25589
Sample Values:
       qf4_14
4821      NaN
3269      NaN
22980     1.0
7323      NaN
13205     NaN

--------------------------------------------------

--- Analysis for Column: qf4_15 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_15
2.0    107
1.0     61
Name: count, dtype: int64
Missing Values: 28224
Sample Values:
       qf4_15
17332     NaN
4418      NaN
10867     NaN
2946      NaN
13334     NaN

--------------------------------------------------

--- Analysis for Column: qf5_1 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
qf5_1
2.0    14284
1.0    14108
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       qf5_1
17716    1.0
5614     2.0
21099    1.0
850      2.0
5708     2.0

--------------------------------------------------

--- Analysis for Column: qf5_2 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_2
2.0    322
1.0    275
Name: count, dtype: int64
Missing Values: 27795
Sample Values:
       qf5_2
18360    NaN
19088    NaN
1821     NaN
25812    NaN
25838    NaN

--------------------------------------------------

--- Analysis for Column: qf5_16 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_16
1.0    241
2.0     95
Name: count, dtype: int64
Missing Values: 28056
Sample Values:
       qf5_16
15755     NaN
26924     NaN
13985     NaN
9116      NaN
1188      NaN

--------------------------------------------------

--- Analysis for Column: qf5_3 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_3
1.0    72
2.0    26
Name: count, dtype: int64
Missing Values: 28294
Sample Values:
       qf5_3
7534     NaN
23115    NaN
15779    NaN
18786    NaN
21949    NaN

--------------------------------------------------

--- Analysis for Column: qf5_4 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_4
2.0    24
1.0    22
Name: count, dtype: int64
Missing Values: 28346
Sample Values:
       qf5_4
11562    NaN
23400    NaN
8163     NaN
11042    NaN
23524    NaN

--------------------------------------------------

--- Analysis for Column: qf5_5 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_5
1.0    2437
2.0     407
Name: count, dtype: int64
Missing Values: 25548
Sample Values:
       qf5_5
18831    NaN
20260    NaN
11897    NaN
15098    NaN
9812     NaN

--------------------------------------------------

--- Analysis for Column: qf5_6 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_6
1.0    816
2.0    191
Name: count, dtype: int64
Missing Values: 27385
Sample Values:
       qf5_6
19353    NaN
11468    NaN
3881     NaN
12415    NaN
16310    NaN

--------------------------------------------------

--- Analysis for Column: qf5_7 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_7
2.0    18
1.0    14
Name: count, dtype: int64
Missing Values: 28360
Sample Values:
       qf5_7
8051     NaN
25408    NaN
12572    NaN
4200     NaN
15228    NaN

--------------------------------------------------

--- Analysis for Column: qf5_8 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_8
1.0    125
2.0     52
Name: count, dtype: int64
Missing Values: 28215
Sample Values:
       qf5_8
28090    NaN
11831    NaN
26442    NaN
8688     NaN
18428    NaN

--------------------------------------------------

--- Analysis for Column: qf5_9 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_9
1.0    68
2.0    35
Name: count, dtype: int64
Missing Values: 28289
Sample Values:
       qf5_9
22059    NaN
17151    NaN
13568    NaN
12585    NaN
2662     NaN

--------------------------------------------------

--- Analysis for Column: qf5_10 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_10
1.0    307
2.0     49
Name: count, dtype: int64
Missing Values: 28036
Sample Values:
       qf5_10
27014     NaN
22527     NaN
17745     NaN
10402     NaN
24156     NaN

--------------------------------------------------

--- Analysis for Column: qf5_11 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_11
1.0    44
2.0    33
Name: count, dtype: int64
Missing Values: 28315
Sample Values:
       qf5_11
27065     NaN
12212     NaN
9750      NaN
109       NaN
12863     NaN

--------------------------------------------------

--- Analysis for Column: qf5_12 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_12
1.0    1842
2.0     370
Name: count, dtype: int64
Missing Values: 26180
Sample Values:
       qf5_12
24306     NaN
5189      NaN
15185     NaN
11643     NaN
20134     NaN

--------------------------------------------------

--- Analysis for Column: qf5_13 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_13
1.0    2151
2.0     341
Name: count, dtype: int64
Missing Values: 25900
Sample Values:
       qf5_13
4956      NaN
16940     NaN
2631      NaN
13868     NaN
4302      NaN

--------------------------------------------------

--- Analysis for Column: qf5_14 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_14
1.0    2367
2.0     436
Name: count, dtype: int64
Missing Values: 25589
Sample Values:
       qf5_14
7089      NaN
746       NaN
522       NaN
4460      NaN
14747     NaN

--------------------------------------------------

--- Analysis for Column: qf5_15 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_15
2.0    92
1.0    76
Name: count, dtype: int64
Missing Values: 28224
Sample Values:
       qf5_15
24875     NaN
28055     NaN
22473     NaN
27765     NaN
7762      NaN

--------------------------------------------------

In [104]:
# Now we can consolidate

# Step 1: Identify relevant columns
account_registration_cols = [col for col in data.columns if col.startswith('qf4_')]  # Account registration
current_usage_cols = [col for col in data.columns if col.startswith('qf5_')]        # Current usage

# Combine all relevant columns into a single list
relevant_columns = account_registration_cols + current_usage_cols

# Step 2: Create binary indicator for bank account ownership
data['bank_account_ownership'] = (
    data[relevant_columns].isin([1.0]).any(axis=1).astype(int)
)

# Step 3: Handle missing values (optional)
# If all relevant columns are NaN, assign NaN to bank_account_ownership
data.loc[data[relevant_columns].isnull().all(axis=1), 'bank_account_ownership'] = np.nan

# Display the consolidated column
print(data[['bank_account_ownership']].head())

   bank_account_ownership
0                     0.0
1                     0.0
2                     0.0
3                     0.0
4                     0.0

### 2, urban_rural

We do not have sufficient data to infer this value, so we will skip it for now. We can always come back to it later. We'll just do a quick EDA

In [105]:
# Define the relevant columns for urbanization_rate
relevant_columns = ['locality_name', 'ea_name', 'lga_name']

# Analyze each column
for column in relevant_columns:
    print(f"--- Analysis for Column: {column} ---")
    
    # Step 1: Check the column type
    print(f"Data Type: {data[column].dtype}")
    
    # Step 2: List unique values
    unique_values = data[column].unique()
    print(f"Unique Values ({len(unique_values)}): {unique_values[:10]}...")  # Show first 10 unique values
    
    # Step 3: Show value counts (frequency of each unique value)
    print("Value Counts (Top 10):")
    print(data[column].value_counts().head(10))
    
    # Step 4: Count missing values
    missing_values = data[column].isnull().sum()
    print(f"Missing Values: {missing_values}")
    
    # Step 5: Show sample values
    print("Sample Values:")
    print(data[[column]].sample(5))
    
    print("\n" + "-"*50 + "\n")

--- Analysis for Column: locality_name ---
Data Type: object
Unique Values (1672): ['UMUORAM OHIYA' 'OWOAHIAFOR' 'AMAKPOKE' 'UKWA NKPORO' 'AKIRIKA UKU'
 'AMAUZU' 'EZIAMA' 'MGBELU UMUNNEKWU' 'OKOPEDI' 'AMUOHA ISIEKETA']...
Value Counts (Top 10):
locality_name
TUDUN WADA    112
SABON GARI    109
LAFIA          96
BWARI          80
KEFFI          80
GAJIGANNA      78
GAJIRAM        77
LUGBE          76
ILORIN         64
NGURU          63
Name: count, dtype: int64
Missing Values: 0
Sample Values:
                       locality_name
19203                        SHOMOLU
3058   CHUKWURAH VILLAGE UMUEZE ANAM
15197                   KASUWAR KUKA
10880                           KUJE
1746                       AKPAUTONG

--------------------------------------------------

--- Analysis for Column: ea_name ---
Data Type: object
Unique Values (1817): ['JESUS GOSPEL MANIFESTATION OF POWER &HEALING MINIS'
 'DEEPER LIFE BIBLE CHURCH OWOAHIAFOR' 'AMAKPOKE HEALTH CENTRE UMUAKU'
 'EME UKA UKA' 'CHINWE EKEKE RESIDENCE AKIRIKA UKU' 'SOLOMON  AGUWAMBA'
 'OHOMJA UTUTU' 'MGBELU UMUNNEKWU  COMMUNITY SCHOOL'
 'PRESBYTERIAN CHURCH, OKOPEDI ITUMBAUZO'
 'HRH  EZE NELSON  ACHIELFU NMERENGWA']...
Value Counts (Top 10):
ea_name
GIDAN RIDI                  64
EBIRA CAMP 1 (EKEKE ERA)    48
ANGWAN YERIMA               48
ALHAJI DORAI                48
SARKIN GUM                  46
ANGWAN SAUKA KOKONA         32
KEREPE OKE OBA              32
AGO PAANU                   32
OHIA KWUORU AJALLI          32
CHIEF EBUTU HENRY           32
Name: count, dtype: int64
Missing Values: 0
Sample Values:
                                            ea_name
14655                     TANKO MOHAMMED MAFOK GIDA
10232                                 THOMAS EZEORA
9365   CHIEF AJANAKU OJODI STREET EFON ALAAYE EKITI
1145                DEEPER LIFE CHURCH SANGERE ABDU
209                                    OKORO NA ETE

--------------------------------------------------

--- Analysis for Column: lga_name ---
Data Type: object
Unique Values (734): ['UMUAHIA SOUTH' 'OBI NGWA' 'UMU-NNEOCHI' 'OHAFIA' 'UKWA EAST' 'UGWUNAGHO'
 'AROCHUKWU' 'ISUIKWUATO' 'BENDE' 'ISIALA-NGWA SOUTH']...
Value Counts (Top 10):
lga_name
ABUJA MUNICIPAL AREA COUNCIL    184
BWARI                           176
GWAGWALADA                      144
YENAGOA                         138
KEFFI                           128
OJO                             113
LAFIA                           112
BRASS                           111
NEMBE                           110
OGBIA                           108
Name: count, dtype: int64
Missing Values: 0
Sample Values:
              lga_name
4428             OGBIA
4848         GWER WEST
8713   OVIA SOUTH WEST
3481             SHIRA
14646          MAKARFI

--------------------------------------------------

### 3, financial_inclusion_metrics

To consolidate the financial_inclusion_metrics column, we need to aggregate multiple indicators that capture various dimensions of financial inclusion. These metrics typically include account ownership, savings behavior, borrowing behavior, credit access, digital payment adoption, and mobile money usage. Based on the dataset's column names and descriptions, hereâ€™s how we can consolidate this column:

Step 1: Identify Relevant Columns
The following columns are likely candidates for deriving financial_inclusion_metrics:

1. Account Ownership
Relevant Columns :
qf4_*: Indicates whether an individual has an account registered in their name with various institutions (e.g., commercial banks, microfinance banks, etc.).
qf5_*: Indicates whether the individual currently uses specific financial providers.
2. Savings Behavior
Relevant Columns :
sa2_*: Captures reasons for saving.
sa3a_*: Captures methods of saving.
3. Borrowing Behavior
Relevant Columns :
lc2a_*: Captures sources of borrowing.
lc4_*: Captures reasons for not borrowing.
4. Credit Access
Relevant Columns :
qf6_*: Captures activities done using financial institutions, such as loans or credit services.
5. Digital Payment Adoption
Relevant Columns :
py1b_*: Captures payment methods like USSD, mobile money, internet banking, etc.
6. Mobile Money Usage
Relevant Columns :
fs3_5_*: Indicates whether the individual uses mobile money services.
Step 2: Consolidation Logic
We will create a composite score or categorical representation for financial_inclusion_metrics based on the above dimensions. Hereâ€™s how:

Binary Indicators :
For each dimension (account ownership, savings behavior, etc.), assign a binary value (1 = Yes, 0 = No) based on whether the individual participates in that activity.
Composite Score :
Sum up the binary indicators across all dimensions to calculate a composite score. For example:
A score of 0: No financial inclusion.
A score of 1â€“2: Low financial inclusion.
A score of 3â€“4: Moderate financial inclusion.
A score of 5+: High financial inclusion.
Categorical Representation :
Alternatively, classify individuals into categories like "Low," "Moderate," or "High" financial inclusion based on thresholds derived from the composite score.

In [106]:
# Weâ€™ll loop through each of these groups of columns to extract their data types, unique values, value counts, missing values, and sample values. This will help us confirm their suitability for consolidation.

# Define the relevant column groups
account_ownership_cols = [col for col in data.columns if col.startswith('qf4_') or col.startswith('qf5_')]
savings_behavior_cols = [col for col in data.columns if col.startswith('sa2_') or col.startswith('sa3a_')]
borrowing_behavior_cols = [col for col in data.columns if col.startswith('lc2a_') or col.startswith('lc4_')]
credit_access_cols = [col for col in data.columns if col.startswith('qf6_')]
digital_payment_cols = [col for col in data.columns if col.startswith('py1b_')]
mobile_money_cols = [col for col in data.columns if col.startswith('fs3_5_')]

# Combine all relevant columns into a single list
relevant_columns = (
    account_ownership_cols +
    savings_behavior_cols +
    borrowing_behavior_cols +
    credit_access_cols +
    digital_payment_cols +
    mobile_money_cols
)

# Analyze each column
for column in relevant_columns:
    print(f"--- Analysis for Column: {column} ---")
    
    # Step 1: Check the column type
    print(f"Data Type: {data[column].dtype}")
    
    # Step 2: List unique values
    unique_values = data[column].unique()
    print(f"Unique Values ({len(unique_values)}): {unique_values}")
    
    # Step 3: Show value counts (frequency of each unique value)
    print("Value Counts:")
    print(data[column].value_counts())
    
    # Step 4: Count missing values
    missing_values = data[column].isnull().sum()
    print(f"Missing Values: {missing_values}")
    
    # Step 5: Show sample values
    print("Sample Values:")
    print(data[[column]].sample(5))
    
    print("\n" + "-"*50 + "\n")

--- Analysis for Column: qf4_1 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_1
1.0    11209
2.0      477
Name: count, dtype: int64
Missing Values: 16706
Sample Values:
       qf4_1
27790    NaN
19724    NaN
15627    NaN
23278    NaN
24407    1.0

--------------------------------------------------

--- Analysis for Column: qf4_2 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_2
1.0    403
2.0    194
Name: count, dtype: int64
Missing Values: 27795
Sample Values:
       qf4_2
24253    NaN
13632    NaN
17371    NaN
16721    NaN
22560    NaN

--------------------------------------------------

--- Analysis for Column: qf4_16 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_16
1.0    243
2.0     93
Name: count, dtype: int64
Missing Values: 28056
Sample Values:
       qf4_16
2774      NaN
26347     NaN
4781      NaN
9949      NaN
8841      NaN

--------------------------------------------------

--- Analysis for Column: qf4_3 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_3
1.0    71
2.0    27
Name: count, dtype: int64
Missing Values: 28294
Sample Values:
       qf4_3
22668    NaN
7259     NaN
9089     NaN
21122    NaN
10390    NaN

--------------------------------------------------

--- Analysis for Column: qf4_4 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_4
1.0    31
2.0    15
Name: count, dtype: int64
Missing Values: 28346
Sample Values:
       qf4_4
25275    NaN
22431    NaN
21130    NaN
9662     NaN
26948    NaN

--------------------------------------------------

--- Analysis for Column: qf4_5 ---
Data Type: float64
Unique Values (4): [nan  1.  2.  0.]
Value Counts:
qf4_5
1.0    1873
2.0     323
0.0      92
Name: count, dtype: int64
Missing Values: 26104
Sample Values:
       qf4_5
3632     NaN
15901    NaN
1753     NaN
24101    NaN
6211     NaN

--------------------------------------------------

--- Analysis for Column: qf4_6 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_6
1.0    812
2.0    195
Name: count, dtype: int64
Missing Values: 27385
Sample Values:
       qf4_6
482      NaN
26593    NaN
26114    NaN
20004    NaN
26082    NaN

--------------------------------------------------

--- Analysis for Column: qf4_7 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_7
2.0    16
1.0    16
Name: count, dtype: int64
Missing Values: 28360
Sample Values:
       qf4_7
16153    NaN
12093    NaN
1156     NaN
10832    NaN
26986    NaN

--------------------------------------------------

--- Analysis for Column: qf4_8 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_8
1.0    111
2.0     66
Name: count, dtype: int64
Missing Values: 28215
Sample Values:
       qf4_8
6612     NaN
22028    NaN
23690    NaN
24671    NaN
23502    NaN

--------------------------------------------------

--- Analysis for Column: qf4_9 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_9
1.0    79
2.0    24
Name: count, dtype: int64
Missing Values: 28289
Sample Values:
       qf4_9
14692    NaN
19056    NaN
21485    NaN
15903    NaN
2343     NaN

--------------------------------------------------

--- Analysis for Column: qf4_10 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_10
1.0    336
2.0     20
Name: count, dtype: int64
Missing Values: 28036
Sample Values:
       qf4_10
22759     NaN
22045     NaN
23631     NaN
4603      NaN
3583      NaN

--------------------------------------------------

--- Analysis for Column: qf4_11 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_11
1.0    49
2.0    28
Name: count, dtype: int64
Missing Values: 28315
Sample Values:
       qf4_11
27408     NaN
8235      NaN
3818      NaN
17969     NaN
11364     NaN

--------------------------------------------------

--- Analysis for Column: qf4_12 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_12
1.0    1541
2.0     671
Name: count, dtype: int64
Missing Values: 26180
Sample Values:
       qf4_12
27828     NaN
4390      NaN
22102     NaN
15295     NaN
18799     NaN

--------------------------------------------------

--- Analysis for Column: qf4_13 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_13
1.0    1888
2.0     604
Name: count, dtype: int64
Missing Values: 25900
Sample Values:
       qf4_13
25542     NaN
14437     NaN
21929     NaN
26376     NaN
15274     NaN

--------------------------------------------------

--- Analysis for Column: qf4_14 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf4_14
1.0    2318
2.0     485
Name: count, dtype: int64
Missing Values: 25589
Sample Values:
       qf4_14
22324     NaN
17629     NaN
2125      NaN
8759      NaN
20731     NaN

--------------------------------------------------

--- Analysis for Column: qf4_15 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf4_15
2.0    107
1.0     61
Name: count, dtype: int64
Missing Values: 28224
Sample Values:
       qf4_15
10754     NaN
25239     NaN
6692      NaN
27053     NaN
8752      NaN

--------------------------------------------------

--- Analysis for Column: qf5_1 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
qf5_1
2.0    14284
1.0    14108
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       qf5_1
15978    2.0
8372     1.0
13815    1.0
26832    1.0
15524    2.0

--------------------------------------------------

--- Analysis for Column: qf5_2 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_2
2.0    322
1.0    275
Name: count, dtype: int64
Missing Values: 27795
Sample Values:
       qf5_2
7436     NaN
18931    NaN
21013    NaN
14670    NaN
23204    NaN

--------------------------------------------------

--- Analysis for Column: qf5_16 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_16
1.0    241
2.0     95
Name: count, dtype: int64
Missing Values: 28056
Sample Values:
       qf5_16
20076     NaN
4746      NaN
25302     NaN
24228     NaN
3214      NaN

--------------------------------------------------

--- Analysis for Column: qf5_3 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_3
1.0    72
2.0    26
Name: count, dtype: int64
Missing Values: 28294
Sample Values:
       qf5_3
4998     NaN
21791    NaN
9129     NaN
4646     NaN
19107    NaN

--------------------------------------------------

--- Analysis for Column: qf5_4 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_4
2.0    24
1.0    22
Name: count, dtype: int64
Missing Values: 28346
Sample Values:
       qf5_4
1715     NaN
19907    NaN
23534    NaN
22157    NaN
17604    NaN

--------------------------------------------------

--- Analysis for Column: qf5_5 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_5
1.0    2437
2.0     407
Name: count, dtype: int64
Missing Values: 25548
Sample Values:
       qf5_5
18864    1.0
24914    NaN
27838    NaN
7596     NaN
13153    NaN

--------------------------------------------------

--- Analysis for Column: qf5_6 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_6
1.0    816
2.0    191
Name: count, dtype: int64
Missing Values: 27385
Sample Values:
       qf5_6
23655    NaN
28053    NaN
1420     NaN
27461    NaN
18998    NaN

--------------------------------------------------

--- Analysis for Column: qf5_7 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_7
2.0    18
1.0    14
Name: count, dtype: int64
Missing Values: 28360
Sample Values:
       qf5_7
18222    NaN
18356    NaN
27501    NaN
1827     NaN
1627     NaN

--------------------------------------------------

--- Analysis for Column: qf5_8 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_8
1.0    125
2.0     52
Name: count, dtype: int64
Missing Values: 28215
Sample Values:
       qf5_8
18193    NaN
25800    NaN
11525    NaN
23867    NaN
6043     NaN

--------------------------------------------------

--- Analysis for Column: qf5_9 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_9
1.0    68
2.0    35
Name: count, dtype: int64
Missing Values: 28289
Sample Values:
       qf5_9
6273     NaN
10229    NaN
6272     NaN
27107    NaN
17439    NaN

--------------------------------------------------

--- Analysis for Column: qf5_10 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_10
1.0    307
2.0     49
Name: count, dtype: int64
Missing Values: 28036
Sample Values:
       qf5_10
10075     NaN
541       NaN
10963     NaN
18420     NaN
10176     NaN

--------------------------------------------------

--- Analysis for Column: qf5_11 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_11
1.0    44
2.0    33
Name: count, dtype: int64
Missing Values: 28315
Sample Values:
       qf5_11
6914      NaN
512       NaN
6567      NaN
1913      NaN
12610     NaN

--------------------------------------------------

--- Analysis for Column: qf5_12 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_12
1.0    1842
2.0     370
Name: count, dtype: int64
Missing Values: 26180
Sample Values:
       qf5_12
13604     NaN
15382     NaN
10805     NaN
24930     NaN
10419     1.0

--------------------------------------------------

--- Analysis for Column: qf5_13 ---
Data Type: float64
Unique Values (3): [nan  2.  1.]
Value Counts:
qf5_13
1.0    2151
2.0     341
Name: count, dtype: int64
Missing Values: 25900
Sample Values:
       qf5_13
2354      NaN
23214     NaN
7648      NaN
487       NaN
24640     NaN

--------------------------------------------------

--- Analysis for Column: qf5_14 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_14
1.0    2367
2.0     436
Name: count, dtype: int64
Missing Values: 25589
Sample Values:
       qf5_14
13045     NaN
23323     NaN
14549     NaN
15222     NaN
2681      NaN

--------------------------------------------------

--- Analysis for Column: qf5_15 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
qf5_15
2.0    92
1.0    76
Name: count, dtype: int64
Missing Values: 28224
Sample Values:
       qf5_15
24667     NaN
8858      NaN
27649     NaN
26806     NaN
19851     NaN

--------------------------------------------------

--- Analysis for Column: sa2_1 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_1
0.0    10443
1.0      161
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_1
8568     NaN
8607     0.0
1919     NaN
25442    NaN
21976    0.0

--------------------------------------------------

--- Analysis for Column: sa2_2 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_2
0.0    7150
1.0    3454
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_2
18321    NaN
26451    NaN
25335    NaN
15116    NaN
2967     0.0

--------------------------------------------------

--- Analysis for Column: sa2_3 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_3
0.0    8289
1.0    2315
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_3
25853    0.0
21849    1.0
10298    0.0
24643    NaN
7516     NaN

--------------------------------------------------

--- Analysis for Column: sa2_4 ---
Data Type: float64
Unique Values (3): [ 0.  1. nan]
Value Counts:
sa2_4
0.0    9037
1.0    1567
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_4
24917    0.0
20359    0.0
21045    0.0
4725     NaN
11169    NaN

--------------------------------------------------

--- Analysis for Column: sa2_5 ---
Data Type: float64
Unique Values (3): [ 1.  0. nan]
Value Counts:
sa2_5
0.0    8293
1.0    2311
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_5
8081     NaN
16357    NaN
14779    NaN
19928    NaN
15165    0.0

--------------------------------------------------

--- Analysis for Column: sa2_6 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_6
0.0    9969
1.0     635
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_6
11787    NaN
4622     NaN
23862    0.0
24367    NaN
9228     0.0

--------------------------------------------------

--- Analysis for Column: sa2_7 ---
Data Type: float64
Unique Values (3): [ 0.  1. nan]
Value Counts:
sa2_7
0.0    9559
1.0    1045
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_7
24606    NaN
1286     NaN
18228    NaN
28176    0.0
25115    0.0

--------------------------------------------------

--- Analysis for Column: sa2_8 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_8
0.0    8309
1.0    2295
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_8
16959    0.0
22747    0.0
2937     NaN
16555    NaN
24648    0.0

--------------------------------------------------

--- Analysis for Column: sa2_9 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_9
0.0    8878
1.0    1726
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_9
4403     NaN
27676    NaN
21359    0.0
3909     0.0
23903    NaN

--------------------------------------------------

--- Analysis for Column: sa2_10 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_10
0.0    9318
1.0    1286
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_10
16305     NaN
8351      0.0
9137      NaN
1734      NaN
13831     NaN

--------------------------------------------------

--- Analysis for Column: sa2_11 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_11
0.0    9963
1.0     641
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_11
5331      NaN
9460      NaN
18209     0.0
13793     NaN
22575     0.0

--------------------------------------------------

--- Analysis for Column: sa2_12 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_12
0.0    10551
1.0       53
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_12
19565     0.0
14212     NaN
23267     NaN
9907      NaN
14157     NaN

--------------------------------------------------

--- Analysis for Column: sa2_13 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_13
0.0    8751
1.0    1853
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_13
22757     NaN
18052     NaN
6066      NaN
10838     NaN
6044      0.0

--------------------------------------------------

--- Analysis for Column: sa2_14 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_14
0.0    7753
1.0    2851
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_14
17735     0.0
22159     NaN
14007     NaN
18695     NaN
15907     NaN

--------------------------------------------------

--- Analysis for Column: sa2_15 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_15
0.0    9770
1.0     834
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_15
10319     NaN
8329      NaN
15553     NaN
5088      NaN
18193     NaN

--------------------------------------------------

--- Analysis for Column: sa2_16 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_16
0.0    10350
1.0      254
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_16
8748      0.0
6314      NaN
3410      NaN
15944     NaN
11894     NaN

--------------------------------------------------

--- Analysis for Column: sa2_17 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_17
0.0    10113
1.0      491
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_17
20245     NaN
25844     0.0
16873     0.0
23214     0.0
17303     NaN

--------------------------------------------------

--- Analysis for Column: sa2_18 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_18
0.0    10470
1.0      134
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_18
10463     NaN
27032     NaN
12191     0.0
14699     NaN
6658      NaN

--------------------------------------------------

--- Analysis for Column: sa2_19 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_19
0.0    10084
1.0      520
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_19
16627     NaN
15787     NaN
23283     NaN
24008     NaN
14746     NaN

--------------------------------------------------

--- Analysis for Column: sa2_98 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_98
0.0    10406
1.0      198
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_98
1308      NaN
10634     0.0
20093     NaN
12108     0.0
13594     NaN

--------------------------------------------------

--- Analysis for Column: sa2_other1 ---
Data Type: object
Unique Values (127): ['' 'Death' 'For emergency reasons' 'Unforeseen circumstances' 'Sickness'
 'Sickness or unknown circumstances'
 'To help my self in terms of need or emergency' 'Unforseen circumstances'
 "I don't know what will happen tomorrow" 'For personal use'
 'Incase of sickness' 'Family emergency' 'Unexpected issues'
 "FOR MY CHILDREN'S NEED" 'Buying food'
 'Hospital bills and other purposes' 'If any emergency come apart'
 'For my musical instruments' 'Death of  any family member'
 'Health issues' 'Pressing issues in the family' 'Child birth' 'Anything'
 'Personal' 'Illness or death' 'Any unforeseen circumstance'
 'Medical expenses' 'Illness' 'Unforseeen occurrence' '5000'
 'When arising' '10000' 'Rashin lafiya' 'School fees' 'Death or sickness'
 'Any emergency' 'Toiletries' 'Feeding and to learn how to sew'
 'Future purpose' 'A rainy day' 'Future use' 'Health' 'Emergency action'
 'Medical emergency' 'For my children  expenses'
 'To cover unexpected expenses' 'For household needs daily' 'Savings'
 'To pay bills' 'Household' 'Health related' 'Like sickness and food'
 'Unexpected expenses' 'Children emergency' 'Illi health'
 'Unexpected emergency' 'For any emergency like health'
 'To maintain the family needs' 'To cover unexpected events'
 'For other  things' 'Family purposes' 'Health conditions'
 'Medical treatment' 'Unforseen corcumstances' 'Emergency can be anything'
 'Medical bills' 'Any unforseen circumstances' 'Health Issues'
 'Health issues, Accidents' 'Health issues and any miscellaneous expenses'
 'Any Unforseen circumstances' 'For Miscellaneous expenses' 'LACK MONEY'
 'If any needs from my family come I will have what to use'
 'For home emergency and need' 'Health challenges of a child' 'Food'
 'Ill health' 'Urgent need' '1000' 'For future use' 'ILLNESS'
 'Unknown expenses' 'Cloth/Accessories' 'Unexpected bills'
 'Anything that may occur' 'Sickness or any other issues' 'Child care'
 'Health challenge' 'Personal reasons' 'Anything that may happen'
 'Any future needs' 'Personal use' 'For security purposes' "It's personal"
 'Sickness or accident' 'Family needs' 'Rainy days' 'Personal problems'
 'Pay bandits for the release of my son' 'To service my Okada and repairs'
 'Not being specific' 'Family emergencies' 'Family members' "DON'T KNOW"
 'Education' 'Family'
 'Incase I need to get something and I dont want to bother people again'
 'Owo ina' 'School/ food' 'To ri ole' 'Bukata ile'
 'Any unforseen circumstances or situation' 'Unforseen cocigency'
 'Family support' 'Upkeep' 'For unforseen circumstances'
 'Traveling or sickness' 'Hospital bills' 'Like medical treatment'
 'When neighbour is having issues' 'Money shortage'
 'Lack of food I will buy it' 'Quick travel' 'Serious illness'
 'Incase of health issues' 'medical or fire out break']
Value Counts:
sa2_other1
                             28231

In [107]:
# Using the information above, we can now consolidate these columns into our desried column.

# Step 1: Create binary indicators for each dimension
data['account_ownership'] = data[account_ownership_cols].isin([1.0]).any(axis=1).astype(int)
data['savings_behavior'] = data[savings_behavior_cols].isin([1.0]).any(axis=1).astype(int)
data['borrowing_behavior'] = data[borrowing_behavior_cols].isin([1.0]).any(axis=1).astype(int)
data['credit_access'] = data[credit_access_cols].isin([1.0]).any(axis=1).astype(int)
data['digital_payment_adoption'] = data[digital_payment_cols].isin([1.0, 2.0, 3.0, 4.0, 5.0]).any(axis=1).astype(int)
data['mobile_money_usage'] = data[mobile_money_cols].isin([1.0]).any(axis=1).astype(int)

# Step 2: Calculate a composite score
data['financial_inclusion_metrics'] = (
    data['account_ownership'] +
    data['savings_behavior'] +
    data['borrowing_behavior'] +
    data['credit_access'] +
    data['digital_payment_adoption'] +
    data['mobile_money_usage']
)

# Step 3: Categorize financial inclusion levels
def categorize_financial_inclusion(score):
    if score == 0:
        return 'None'
    elif 1 <= score <= 2:
        return 'Low'
    elif 3 <= score <= 4:
        return 'Moderate'
    else:
        return 'High'

data['financial_inclusion_level'] = data['financial_inclusion_metrics'].apply(categorize_financial_inclusion)

# Display the consolidated columns
print(data[['account_ownership', 'savings_behavior', 'borrowing_behavior', 'credit_access',
            'digital_payment_adoption', 'mobile_money_usage', 'financial_inclusion_metrics',
            'financial_inclusion_level']].head())

   account_ownership  savings_behavior  borrowing_behavior  credit_access  \
0                  0                 1                   0              0
1                  0                 1                   0              0
2                  0                 1                   0              0
3                  0                 0                   0              0
4                  0                 0                   0              0

   digital_payment_adoption  mobile_money_usage  financial_inclusion_metrics  \
0                         1                   0                            2
1                         1                   0                            2
2                         1                   0                            2
3                         1                   0                            1
4                         1                   0                            1

  financial_inclusion_level
0                       Low
1                       Low
2                       Low
3                       Low
4                       Low

### 4, demographic_factors


To create the demographic_factors column, we need to consolidate information about key demographic attributes such as age , gender , education level , and potentially other factors like income group or household size . These attributes are typically spread across multiple columns in the dataset.

Step 1: Identify Relevant Columns
Based on the dataset's column names and descriptions, the following columns are likely candidates for deriving demographic_factors:

1. Age
Relevant Columns :
agegroup: Categorical variable indicating age groups (e.g., "15â€“17," "18+").
hh_age_15_17_*: Household-level breakdown of individuals aged 15â€“17.
hh_age_18_plus_*: Household-level breakdown of individuals aged 18+.
e7: their age
2. Gender
Relevant Columns :
e6: Binary or categorical variable indicating gender (e.g., "Male," "Female").
3. Education Level
Relevant Columns :
e8: Likely a categorical variable indicating the highest level of education achieved (e.g., "Primary," "Secondary," "Tertiary").
4. Income Group
Relevant Columns :
wealthscore: A numeric variable representing household wealth.
quintile: A categorical variable dividing households into wealth quintiles (e.g., "Lowest," "Second," "Middle," "Fourth," "Highest").
5. Household Size
Relevant Columns :
hh_total_size_1: Total household size.
hh_total_size_2: Male household members.
hh_total_size_3: Female household members.
Step 2: Consolidation Logic
We will create a composite representation of demographic factors by combining the above attributes. Hereâ€™s how:

Categorize Age :
Use agegroup to classify individuals into broad age categories (e.g., "Youth," "Adult").
Gender :
Use gender to classify individuals as "Male" or "Female."
Education Level :
Use education_level to classify individuals into categories like "Low Education" (Primary), "Medium Education" (Secondary), or "High Education" (Tertiary).
Income Group :
Use quintile to classify households into income groups (e.g., "Low Income," "Middle Income," "High Income").
Household Size :
Use hh_total_size_1 to classify households as "Small" (â‰¤4 members), "Medium" (5â€“8 members), or "Large" (>8 members).
Composite Representation :
Combine these factors into a single string or categorical variable (e.g., "Young Male, Secondary Education, Low Income, Small Household").

In [108]:
# Analyzing relevant columns

# Define relevant columns
relevant_columns = ['e7', 'e6', 'e8', 'quintile', 'hh_total_size_1']

# Analyze each column
for column in relevant_columns:
    print(f"--- Analysis for Column: {column} ---")
    
    # Step 1: Check the column type
    print(f"Data Type: {data[column].dtype}")
    
    # Step 2: List unique values
    unique_values = data[column].unique()
    print(f"Unique Values ({len(unique_values)}): {unique_values}")
    
    # Step 3: Show value counts (frequency of each unique value)
    print("Value Counts:")
    print(data[column].value_counts())
    
    # Step 4: Count missing values
    missing_values = data[column].isnull().sum()
    print(f"Missing Values: {missing_values}")
    
    # Step 5: Show sample values
    print("Sample Values:")
    print(data[[column]].sample(5))
    
    print("\n" + "-"*50 + "\n")

--- Analysis for Column: e7 ---
Data Type: float64
Unique Values (83): [ 43.  51.  69.  65.  82.  40.  30.  67.  52.  35.  20.  27.  16.  50.
  58.  53.  62.  17. 995.  54.  38.  45.  42.  75.  60.  77.  15.  63.
  26.  25.  56.  48.  31.  84.  47.  24.  36.  18.  70.  29.  22.  32.
  68.  80.  28.  41.  44.  73.  66.  55.  89.  79.  74.  46.  23.  57.
  59.  34.  19.  64.  85.  90.  37.  72.  76.  81.  86.  33.  78.  49.
  61.  39.  83.  71.  88.  21.  98.  87.  95.  96.  92.  97.  91.]
Value Counts:
e7
30.0    1892
40.0    1612
35.0    1570
25.0    1445
45.0    1104
        ...
95.0       6
96.0       2
92.0       1
97.0       1
91.0       1
Name: count, Length: 83, dtype: int64
Missing Values: 0
Sample Values:
         e7
16086  55.0
25868  50.0
11511  16.0
7098   50.0
4600   48.0

--------------------------------------------------

--- Analysis for Column: e6 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
e6
2.0    15198
1.0    13194
Name: count, dtype: int64
Missing Values: 0
Sample Values:
        e6
23713  2.0
2228   2.0
15170  2.0
21954  2.0
25545  1.0

--------------------------------------------------

--- Analysis for Column: e8 ---
Data Type: float64
Unique Values (11): [ 5.  4.  3.  6.  7. 11.  2.  8.  9. 10.  1.]
Value Counts:
e8
5.0     9850
3.0     3726
11.0    3444
4.0     3183
10.0    2548
6.0     2022
7.0     1577
2.0     1155
9.0      425
1.0      340
8.0      122
Name: count, dtype: int64
Missing Values: 0
Sample Values:
         e8
20765  11.0
3146   10.0
17733   5.0
13468  11.0
1202    6.0

--------------------------------------------------

--- Analysis for Column: quintile ---
Data Type: float64
Unique Values (5): [4. 3. 2. 5. 1.]
Value Counts:
quintile
1.0    5703
3.0    5686
5.0    5678
4.0    5670
2.0    5655
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       quintile
3837        1.0
27168       1.0
23335       3.0
430         4.0
8468        2.0

--------------------------------------------------

--- Analysis for Column: hh_total_size_1 ---
Data Type: object
Unique Values (22): ['2' '1' '3' '4' '5' '8' '6' '7' '9' '12' '10' '13' '11' '15' '22' '28'
 '21' '14' '24' '26' '16' '17']
Value Counts:
hh_total_size_1
2     13240
1      7167
3      3819
4      1773
5       944
6       531
7       288
8       214
9       179
10      142
11       32
12       23
13       12
15       10
14        6
16        4
24        3
22        1
28        1
21        1
26        1
17        1
Name: count, dtype: int64
Missing Values: 0
Sample Values:
      hh_total_size_1
13805               2
6176                9
18356               2
20834               2
5095                3

--------------------------------------------------

In [109]:
# Now to consolidate

# Step 1: Categorize age
def categorize_age(age):
    if age <= 25:
        return 'Youth'
    else:
        return 'Adult'

data['age_category'] = data['e7'].apply(categorize_age)

# Step 2: Categorize gender
def categorize_gender(gender_code):
    if gender_code == 1.0:
        return 'Male'
    elif gender_code == 2.0:
        return 'Female'
    else:
        return 'Unknown'

data['gender'] = data['e6'].apply(categorize_gender)

# Step 3: Categorize education level
def categorize_education(education_level):
    if education_level in [1.0, 2.0, 3.0]:
        return 'Low Education'
    elif education_level in [4.0, 5.0, 6.0, 7.0]:
        return 'Medium Education'
    elif education_level in [8.0, 9.0, 10.0, 11.0]:
        return 'High Education'
    else:
        return 'Unknown'

data['education_category'] = data['e8'].apply(categorize_education)

# Step 4: Categorize income group
def categorize_income(quintile):
    if quintile in [1.0, 2.0]:
        return 'Low Income'
    elif quintile in [3.0, 4.0]:
        return 'Middle Income'
    elif quintile == 5.0:
        return 'High Income'
    else:
        return 'Unknown'

data['income_group'] = data['quintile'].apply(categorize_income)

# Step 5: Categorize household size
def categorize_household_size(size):
    size = int(size)  # Convert from object to integer
    if size <= 4:
        return 'Small Household'
    elif 5 <= size <= 8:
        return 'Medium Household'
    else:
        return 'Large Household'

data['household_size_category'] = data['hh_total_size_1'].apply(categorize_household_size)

# Step 6: Combine demographic factors
data['demographic_factors'] = (
    data['age_category'] + ', ' +
    data['gender'] + ', ' +
    data['education_category'] + ', ' +
    data['income_group'] + ', ' +
    data['household_size_category']
)

# Display the consolidated column
print(data[['age_category', 'gender', 'education_category', 'income_group', 'household_size_category', 'demographic_factors']].head())

  age_category  gender education_category   income_group  \
0        Adult  Female   Medium Education  Middle Income
1        Adult  Female   Medium Education  Middle Income
2        Adult    Male   Medium Education  Middle Income
3        Adult    Male   Medium Education  Middle Income
4        Adult    Male      Low Education  Middle Income

  household_size_category                                demographic_factors
0         Small Household  Adult, Female, Medium Education, Middle Income...
1         Small Household  Adult, Female, Medium Education, Middle Income...
2         Small Household  Adult, Male, Medium Education, Middle Income, ...
3         Small Household  Adult, Male, Medium Education, Middle Income, ...
4         Small Household  Adult, Male, Low Education, Middle Income, Sma...

### 5, savings_behavior

Letâ€™s proceed to create the savings_behavior column. The savings_behavior column should capture information about:

Whether an individual saves money.

How they save (e.g., formal institutions like banks, informal methods like savings groups, or at home).

Frequency or purpose of saving (if available).

From the dataset, the following columns are likely candidates for deriving savings_behavior:

sa2_* : Captures reasons for saving (e.g., emergencies, education, personal needs).
sa3a_* : Captures methods of saving (e.g., with a bank, mobile money, savings groups, etc.).
sa7b1_* : Captures types of savings (e.g., cash, assets, cryptocurrency, etc.).

In [110]:
# Define relevant column groups
savings_reason_cols = [col for col in data.columns if col.startswith('sa2_')]
savings_method_cols = [col for col in data.columns if col.startswith('sa3a_')]
savings_type_cols = [col for col in data.columns if col.startswith('sa7b1_')]

# Combine all relevant columns into a single list
relevant_columns = savings_reason_cols + savings_method_cols + savings_type_cols

# Analyze each column
for column in relevant_columns:
    print(f"--- Analysis for Column: {column} ---")
    
    # Step 1: Check the column type
    print(f"Data Type: {data[column].dtype}")
    
    # Step 2: List unique values
    unique_values = data[column].unique()
    print(f"Unique Values ({len(unique_values)}): {unique_values}")
    
    # Step 3: Show value counts (frequency of each unique value)
    print("Value Counts:")
    print(data[column].value_counts())
    
    # Step 4: Count missing values
    missing_values = data[column].isnull().sum()
    print(f"Missing Values: {missing_values}")
    
    # Step 5: Show sample values
    print("Sample Values:")
    print(data[[column]].sample(5))
    
    print("\n" + "-"*50 + "\n")

--- Analysis for Column: sa2_1 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_1
0.0    10443
1.0      161
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_1
24271    0.0
15238    NaN
20974    NaN
21836    NaN
10725    NaN

--------------------------------------------------

--- Analysis for Column: sa2_2 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_2
0.0    7150
1.0    3454
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_2
16894    NaN
1859     NaN
27539    NaN
256      NaN
4844     NaN

--------------------------------------------------

--- Analysis for Column: sa2_3 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_3
0.0    8289
1.0    2315
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_3
8167     NaN
8711     NaN
4046     NaN
23227    NaN
10750    0.0

--------------------------------------------------

--- Analysis for Column: sa2_4 ---
Data Type: float64
Unique Values (3): [ 0.  1. nan]
Value Counts:
sa2_4
0.0    9037
1.0    1567
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_4
18248    0.0
27164    NaN
18321    NaN
16774    NaN
21110    0.0

--------------------------------------------------

--- Analysis for Column: sa2_5 ---
Data Type: float64
Unique Values (3): [ 1.  0. nan]
Value Counts:
sa2_5
0.0    8293
1.0    2311
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_5
12979    NaN
27993    NaN
19145    NaN
16765    NaN
17144    0.0

--------------------------------------------------

--- Analysis for Column: sa2_6 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_6
0.0    9969
1.0     635
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_6
20120    0.0
14210    NaN
11286    NaN
499      0.0
15469    NaN

--------------------------------------------------

--- Analysis for Column: sa2_7 ---
Data Type: float64
Unique Values (3): [ 0.  1. nan]
Value Counts:
sa2_7
0.0    9559
1.0    1045
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_7
27055    NaN
22826    0.0
9393     NaN
10355    NaN
26156    NaN

--------------------------------------------------

--- Analysis for Column: sa2_8 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_8
0.0    8309
1.0    2295
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_8
22727    0.0
19659    NaN
5621     NaN
17745    NaN
13906    0.0

--------------------------------------------------

--- Analysis for Column: sa2_9 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_9
0.0    8878
1.0    1726
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_9
8033     NaN
9259     NaN
9562     NaN
28293    NaN
9037     0.0

--------------------------------------------------

--- Analysis for Column: sa2_10 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_10
0.0    9318
1.0    1286
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_10
2166      0.0
7310      NaN
14444     NaN
21181     0.0
1470      0.0

--------------------------------------------------

--- Analysis for Column: sa2_11 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_11
0.0    9963
1.0     641
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_11
27008     NaN
4585      NaN
19610     0.0
27286     NaN
21507     0.0

--------------------------------------------------

--- Analysis for Column: sa2_12 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_12
0.0    10551
1.0       53
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_12
5537      NaN
26993     NaN
14062     NaN
13067     0.0
24559     0.0

--------------------------------------------------

--- Analysis for Column: sa2_13 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_13
0.0    8751
1.0    1853
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_13
304       NaN
4977      0.0
20303     NaN
12813     0.0
4596      0.0

--------------------------------------------------

--- Analysis for Column: sa2_14 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_14
0.0    7753
1.0    2851
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_14
22858     1.0
10940     0.0
13038     0.0
17848     NaN
10536     NaN

--------------------------------------------------

--- Analysis for Column: sa2_15 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_15
0.0    9770
1.0     834
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_15
23874     0.0
25693     1.0
2766      NaN
13131     0.0
2475      NaN

--------------------------------------------------

--- Analysis for Column: sa2_16 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_16
0.0    10350
1.0      254
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_16
13722     0.0
1000      NaN
10181     NaN
17495     NaN
8041      NaN

--------------------------------------------------

--- Analysis for Column: sa2_17 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_17
0.0    10113
1.0      491
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_17
22350     0.0
12407     NaN
22353     NaN
12411     NaN
12415     NaN

--------------------------------------------------

--- Analysis for Column: sa2_18 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_18
0.0    10470
1.0      134
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_18
7720      NaN
17727     0.0
2809      NaN
12621     0.0
154       0.0

--------------------------------------------------

--- Analysis for Column: sa2_19 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_19
0.0    10084
1.0      520
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_19
12160     NaN
562       0.0
10289     0.0
27405     NaN
9119      0.0

--------------------------------------------------

--- Analysis for Column: sa2_98 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa2_98
0.0    10406
1.0      198
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa2_98
21117     NaN
16904     NaN
15280     NaN
10702     0.0
9462      NaN

--------------------------------------------------

--- Analysis for Column: sa2_other1 ---
Data Type: object
Unique Values (127): ['' 'Death' 'For emergency reasons' 'Unforeseen circumstances' 'Sickness'
 'Sickness or unknown circumstances'
 'To help my self in terms of need or emergency' 'Unforseen circumstances'
 "I don't know what will happen tomorrow" 'For personal use'
 'Incase of sickness' 'Family emergency' 'Unexpected issues'
 "FOR MY CHILDREN'S NEED" 'Buying food'
 'Hospital bills and other purposes' 'If any emergency come apart'
 'For my musical instruments' 'Death of  any family member'
 'Health issues' 'Pressing issues in the family' 'Child birth' 'Anything'
 'Personal' 'Illness or death' 'Any unforeseen circumstance'
 'Medical expenses' 'Illness' 'Unforseeen occurrence' '5000'
 'When arising' '10000' 'Rashin lafiya' 'School fees' 'Death or sickness'
 'Any emergency' 'Toiletries' 'Feeding and to learn how to sew'
 'Future purpose' 'A rainy day' 'Future use' 'Health' 'Emergency action'
 'Medical emergency' 'For my children  expenses'
 'To cover unexpected expenses' 'For household needs daily' 'Savings'
 'To pay bills' 'Household' 'Health related' 'Like sickness and food'
 'Unexpected expenses' 'Children emergency' 'Illi health'
 'Unexpected emergency' 'For any emergency like health'
 'To maintain the family needs' 'To cover unexpected events'
 'For other  things' 'Family purposes' 'Health conditions'
 'Medical treatment' 'Unforseen corcumstances' 'Emergency can be anything'
 'Medical bills' 'Any unforseen circumstances' 'Health Issues'
 'Health issues, Accidents' 'Health issues and any miscellaneous expenses'
 'Any Unforseen circumstances' 'For Miscellaneous expenses' 'LACK MONEY'
 'If any needs from my family come I will have what to use'
 'For home emergency and need' 'Health challenges of a child' 'Food'
 'Ill health' 'Urgent need' '1000' 'For future use' 'ILLNESS'
 'Unknown expenses' 'Cloth/Accessories' 'Unexpected bills'
 'Anything that may occur' 'Sickness or any other issues' 'Child care'
 'Health challenge' 'Personal reasons' 'Anything that may happen'
 'Any future needs' 'Personal use' 'For security purposes' "It's personal"
 'Sickness or accident' 'Family needs' 'Rainy days' 'Personal problems'
 'Pay bandits for the release of my son' 'To service my Okada and repairs'
 'Not being specific' 'Family emergencies' 'Family members' "DON'T KNOW"
 'Education' 'Family'
 'Incase I need to get something and I dont want to bother people again'
 'Owo ina' 'School/ food' 'To ri ole' 'Bukata ile'
 'Any unforseen circumstances or situation' 'Unforseen cocigency'
 'Family support' 'Upkeep' 'For unforseen circumstances'
 'Traveling or sickness' 'Hospital bills' 'Like medical treatment'
 'When neighbour is having issues' 'Money shortage'
 'Lack of food I will buy it' 'Quick travel' 'Serious illness'
 'Incase of health issues' 'medical or fire out break']
Value Counts:
sa2_other1
                             28231
Personal                         6
Health                           6
Sickness                         6
Death                            5
                             ...
For my children  expenses        1
Medical emergency                1
Emergency action                 1
A rainy day                      1
medical or fire out break        1
Name: count, Length: 127, dtype: int64
Missing Values: 0
Sample Values:
      sa2_other1
13206
14946
15895
20906
13141

--------------------------------------------------

--- Analysis for Column: sa2_other2 ---
Data Type: object
Unique Values (173): ['' 'To train my children' 'Education' 'To travel abroad'
 'I do keep for personal reasons'
 'To buy spoon baskets for weeding in future'
 'For my children school fees and other expenses' 'For emergency'
 'For future purpose' 'Future use' 'Bride price' 'TO LEARN A SKILL'
 'TO LEARN SKILL' 'To learn thread' 'None' 'Acquiring a skill'
 'Not applicable' "I don't save" 'Back unfortunately business'
 'To avoid unnecessary spendings'
 'It also help our fellow women in the community  when they are in need or emergency'
 "When there's need to support my husband when he doesn't have"
 'To travel out' 'Relocating from this village' 'Move into own apartment'
 'To travel out of the country' 'Buy food and health purpose'
 'To help my family' 'For children' 'Buy food and farming' 'Food'
 'Farming' 'Buying of food and farming inquiment'
 'To buy food and when farming seems come' "Food and children's services"
 'Buying of food' 'Buying food' 'Buy food and make business'
 'Food and clothing' 'Business and food' 'To buy story books'
 "Don't have savings for now" "Don't save" 'Irrelevant'
 'To learn a skill and future use' "Don't have savings"
 'For servicing and repair of my motorbike' 'For future upkeep'
 'To acquire skills' 'Not saving for now' 'For  retirement' 'Not save'
 'To purchase electronic gadgets' 'Never saved' 'To buy a phone'
 'For food' 'Buy fowl food' 'For expenses  at home' 'Travel out'
 'Personal' 'To support my husband' 'Save for incident'
 'For future expenses'
 'For buying materials for the building project he mentioned earlier on'
 'To learn skills' 'For learning a skill' 'Household expenses'
 'To start my own pharmacy' 'To get married'
 'For starting up her own business' 'For opening of business'
 'For later use' 'Starting up a family of mine' 'To learn  a trade'
 'To send son oversea' 'Future project' 'Unexpected expenses' 'Time days'
 'Children education' "To complete my mother's house" 'Travel abroad'
 'For my agreement' 'To complete our house' 'For business'
 'To build my own house' 'Purchase of fertiliser' 'Buying of fertilizer'
 'Religious conference' 'Emergency situations' 'To marry'
 'For food expenses' 'Paying a bride price'
 "To pay my girlfriend's bride price" 'For Travel'
 'For Children  University school fees' 'For my child' 'TO HELP MY FAMILY'
 'MAULUD AND CLOTHES' 'Build house' 'FOR ANY PROBLEMS'
 'To buy red oil for consumption' 'No bank' 'Getting married'
 'Transportation' 'To go to hajji for worship' 'For future use'
 'Purposely to cater for my needs so as not to be disturbing my parents at all times'
 'FOR FUTURE USE' 'To build my Career' 'For Feeding'
 'For Businesses Expansion' 'Travelling' 'Construction of church building'
 'Nothing' 'In somebody else Account' 'Safety' 'Pilgrimage'
 'Future purpose' 'Buying a Mobile phone' 'To complete  my house'
 'To do freedom' 'To travel  abroad' 'RENOVATION OF MY HOUSE'
 'To relocate  abroad' 'Travelling Abroad' 'Okowo' 'Fun ounje'
 'Koledafunmilojowaju' 'To start working' 'Its Itoju awon omo'
 'Ki le ni ajeseku' 'Latira nkan ogbin' 'Tori ojami' 'Fun ojouwaju'
 'Owo oja' 'For my children school fees' 'Latira awon nkan' 'Owo ise'
 'Ofera phone abbl' 'Shop' 'I may lack of money when food finished'
 'To cater for future occurrence' 'Funded oko' 'Fun awon omomi'
 'Oja karakata' 'Okowo mi' 'Funliloarami' 'Ojalede kannikinwara oja'
 'I wish to travel abroad' 'Ra oja' 'Fun lilo omo' 'Freedom'
 'Personal use' 'La ti fi tun ile she' 'To buy a new phone'
 'To travel for hajj' 'Nothing particularly' 'To renovate my house'
 'Nothing in particular' 'Educational purpose' 'To buy phone'
 'Future porpose' 'For unforeseen circumstances' 'To further my education'
 'For unforseen circumstances' 'Travel Abroad' 'Savings' 'For Heritage'
 'Buy food' 'Never used' 'Ceremony' 'Weeding ceremony'
 'To change my Motorcycle']
Value Counts:
sa2_other2
                            28194
Not applicable                  8
None                            4
To travel abroad                3
Travel abroad                   3
                            ...
For learning a skill            1
Household expenses              1
To start my own pharmacy        1
To get married                  1
To change my Motorcycle         1
Name: count, Length: 173, dtype: int64
Missing Values: 0
Sample Values:
      sa2_other2
21703
26327
4493
16089
24034

--------------------------------------------------

--- Analysis for Column: sa3a_1 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa3a_1
0.0    5441
1.0    5163
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_1
10253     NaN
20140     NaN
10374     NaN
12617     0.0
21881     1.0

--------------------------------------------------

--- Analysis for Column: sa3a_2 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa3a_2
0.0    10497
1.0      107
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_2
12069     0.0
27660     NaN
1444      NaN
2182      NaN
19982     0.0

--------------------------------------------------

--- Analysis for Column: sa3a_3 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa3a_3
0.0    10575
1.0       29
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_3
21570     0.0
11565     0.0
18768     0.0
9856      NaN
454       NaN

--------------------------------------------------

--- Analysis for Column: sa3a_4 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa3a_4
0.0    10588
1.0       16
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_4
8474      NaN
23474     0.0
5539      NaN
3191      NaN
19471     NaN

--------------------------------------------------

--- Analysis for Column: sa3a_5 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa3a_5
0.0    10595
1.0        9
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_5
9216      NaN
22153     NaN
10053     NaN
93        NaN
4234      0.0

--------------------------------------------------

--- Analysis for Column: sa3a_6 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa3a_6
0.0    10345
1.0      259
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_6
21794     NaN
7037      0.0
7495      NaN
7077      NaN
9703      NaN

--------------------------------------------------

--- Analysis for Column: sa3a_7 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa3a_7
0.0    10577
1.0       27
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_7
843       0.0
27901     NaN
20908     0.0
26730     NaN
3321      NaN

--------------------------------------------------

--- Analysis for Column: sa3a_8 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa3a_8
0.0    10248
1.0      356
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_8
10607     0.0
8303      NaN
27674     NaN
21991     0.0
107       0.0

--------------------------------------------------

--- Analysis for Column: sa3a_9 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa3a_9
0.0    9817
1.0     787
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_9
17860     NaN
18076     0.0
20396     NaN
17856     0.0
24930     0.0

--------------------------------------------------

--- Analysis for Column: sa3a_10 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa3a_10
0.0    9667
1.0     937
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_10
2884       0.0
17350      0.0
316        NaN
26693      NaN
23975      NaN

--------------------------------------------------

--- Analysis for Column: sa3a_11 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa3a_11
0.0    9354
1.0    1250
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_11
1950       0.0
26876      NaN
25844      0.0
24196      NaN
14888      NaN

--------------------------------------------------

--- Analysis for Column: sa3a_12 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa3a_12
0.0    9785
1.0     819
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_12
7201       0.0
5565       NaN
23553      NaN
15062      NaN
11095      NaN

--------------------------------------------------

--- Analysis for Column: sa3a_13 ---
Data Type: float64
Unique Values (3): [ 1. nan  0.]
Value Counts:
sa3a_13
0.0    7222
1.0    3382
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_13
21832      NaN
4655       NaN
263        NaN
21990      NaN
7618       0.0

--------------------------------------------------

--- Analysis for Column: sa3a_14 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
sa3a_14
0.0    10450
1.0      154
Name: count, dtype: int64
Missing Values: 17788
Sample Values:
       sa3a_14
8037       0.0
14305      NaN
25106      NaN
3036       0.0
8949       0.0

--------------------------------------------------

--- Analysis for Column: sa3a_other ---
Data Type: object
Unique Values (104): ['' 'Mobile phone' 'Opay' 'No' 'Personal Savings' 'I personal save it'
 'No  money to save' 'None' 'Not applicable' 'Asusu' 'Babu' 'At home'
 'Keep it with my husband' 'Under my bed' 'I keep it at home'
 "At home  because I don't have money to save" 'Agida'
 'I SAVE IN MY HUSBAND ACCOUNT' 'Refused to answer' 'For my house'
 'Saving box' 'No savings' "Don't save" "Saving in a friend's account"
 'Saving Box' "Don't have savings" 'Never' 'Never saved' 'Opay account'
 'I save at home for easy collection' 'Mobile money operator'
 'Send to my people to buy things for me' 'Contributions  savings group'
 'Safe place in my house' 'With Church group' 'Pension' 'My mummy account'

In [111]:
# Now we consolidate


# Step 1: Identify relevant columns
formal_savings_cols = [
    col for col in data.columns if col.startswith('sa3a_') and 'bank' in col.lower() or 'microfinance' in col.lower() or 'mobile' in col.lower()
]
informal_savings_cols = [
    col for col in data.columns if col.startswith('sa3a_') and 'group' in col.lower() or 'community' in col.lower() or 'thrift' in col.lower()
]
home_savings_cols = [
    col for col in data.columns if col.startswith('sa3a_') and 'cash' in col.lower() or 'assets' in col.lower()
]

# Step 2: Create binary indicators for each category
data['saves_formally'] = data[formal_savings_cols].isin([1.0]).any(axis=1).astype(int)
data['saves_informally'] = data[informal_savings_cols].isin([1.0]).any(axis=1).astype(int)
data['saves_at_home'] = data[home_savings_cols].isin([1.0]).any(axis=1).astype(int)

# Step 3: Categorize saving behavior
def categorize_savings_behavior(row):
    if row['saves_formally']:
        return 'Formal Savings'
    elif row['saves_informally']:
        return 'Informal Savings'
    elif row['saves_at_home']:
        return 'Saves at Home'
    else:
        return 'Does Not Save'

data['savings_behavior'] = data.apply(categorize_savings_behavior, axis=1)

# Display the consolidated column
print(data[['saves_formally', 'saves_informally', 'saves_at_home', 'savings_behavior']].head())

   saves_formally  saves_informally  saves_at_home savings_behavior
0               0                 0              0    Does Not Save
1               0                 0              0    Does Not Save
2               0                 0              1    Saves at Home
3               0                 0              0    Does Not Save
4               0                 0              0    Does Not Save

### 6, borrowing_behavior

This column will capture information about an individual's borrowing habits, including whether they borrow money, from whom they borrow, and the purpose of borrowing.

Step 1: Define borrowing_behavior

The borrowing_behavior column should capture:

Whether an individual borrows money .
From whom they borrow (e.g., formal institutions like banks, informal sources like family or friends, or other entities).
The purpose of borrowing (if available).
From the dataset, the following columns are likely candidates for deriving borrowing_behavior:

lc1_* : Indicates whether the individual has borrowed money in the past 12 months.

lc2a_* : Captures the source of borrowing (e.g., bank, family, savings groups, etc.).

lc2d_* : Captures the purpose of borrowing (e.g., emergencies, personal needs, business, etc.).

Before consolidating, letâ€™s analyze the relevant columns to confirm their structure and values.

In [113]:
# Define relevant column groups
borrowing_indicators_cols = [col for col in data.columns if col.startswith('lc1_')]  # Borrowing indicators
borrowing_sources_cols = [col for col in data.columns if col.startswith('lc2a_')]    # Borrowing sources
borrowing_purpose_cols = [col for col in data.columns if col.startswith('lc2d_')]    # Purpose of borrowing

# Combine all relevant columns into a single list
relevant_columns = borrowing_indicators_cols + borrowing_sources_cols + borrowing_purpose_cols

# Analyze each column
for column in relevant_columns:
    print(f"--- Analysis for Column: {column} ---")
    
    # Step 1: Check the column type
    print(f"Data Type: {data[column].dtype}")
    
    # Step 2: List unique values
    unique_values = data[column].unique()
    print(f"Unique Values ({len(unique_values)}): {unique_values}")
    
    # Step 3: Show value counts (frequency of each unique value)
    print("Value Counts:")
    print(data[column].value_counts())
    
    # Step 4: Count missing values
    missing_values = data[column].isnull().sum()
    print(f"Missing Values: {missing_values}")
    
    # Step 5: Show sample values
    print("Sample Values:")
    print(data[[column]].sample(5))
    
    print("\n" + "-"*50 + "\n")

--- Analysis for Column: lc1_1 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
lc1_1
2.0    21303
1.0     7089
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       lc1_1
15594    2.0
20995    1.0
20757    2.0
27369    2.0
20512    2.0

--------------------------------------------------

--- Analysis for Column: lc1_2 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
lc1_2
2.0    25815
1.0     2577
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       lc1_2
14651    2.0
824      2.0
88       2.0
8691     2.0
4096     2.0

--------------------------------------------------

--- Analysis for Column: lc1_3 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
lc1_3
2.0    25642
1.0     2750
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       lc1_3
6013     2.0
9945     2.0
11885    2.0
3525     2.0
4474     2.0

--------------------------------------------------

--- Analysis for Column: lc1_4 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
lc1_4
2.0    26585
1.0     1807
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       lc1_4
10866    2.0
17778    2.0
8753     2.0
12278    2.0
28225    1.0

--------------------------------------------------

--- Analysis for Column: lc1_5 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
lc1_5
2.0    26759
1.0     1633
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       lc1_5
13845    2.0
21993    2.0
26067    2.0
6938     2.0
25852    2.0

--------------------------------------------------

--- Analysis for Column: lc2a_1 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_1
0.0    8302
1.0     322
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_1
18700     NaN
21586     NaN
12731     0.0
11526     NaN
7057      NaN

--------------------------------------------------

--- Analysis for Column: lc2a_2 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_2
0.0    8319
1.0     305
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_2
5850      NaN
7165      NaN
19679     0.0
19906     NaN
21842     0.0

--------------------------------------------------

--- Analysis for Column: lc2a_3 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_3
0.0    8573
1.0      51
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_3
25176     NaN
17978     NaN
18623     NaN
3853      NaN
24100     NaN

--------------------------------------------------

--- Analysis for Column: lc2a_4 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_4
0.0    8599
1.0      25
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_4
24269     NaN
5830      NaN
17053     NaN
21163     NaN
16189     NaN

--------------------------------------------------

--- Analysis for Column: lc2a_5 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_5
0.0    8592
1.0      32
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_5
19690     0.0
9414      NaN
2703      NaN
16760     NaN
25603     NaN

--------------------------------------------------

--- Analysis for Column: lc2a_6 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_6
0.0    8592
1.0      32
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_6
22786     NaN
26524     NaN
11503     NaN
21869     0.0
6265      NaN

--------------------------------------------------

--- Analysis for Column: lc2a_7 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_7
0.0    8588
1.0      36
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_7
13290     NaN
407       NaN
16768     NaN
4803      NaN
10000     NaN

--------------------------------------------------

--- Analysis for Column: lc2a_8 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_8
0.0    8531
1.0      93
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_8
5585      NaN
13832     0.0
11869     NaN
19385     NaN
4379      0.0

--------------------------------------------------

--- Analysis for Column: lc2a_9 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_9
0.0    8536
1.0      88
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_9
4732      NaN
6544      0.0
7147      0.0
22317     NaN
4378      NaN

--------------------------------------------------

--- Analysis for Column: lc2a_10 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_10
0.0    8584
1.0      40
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_10
15150      NaN
23693      0.0
6842       NaN
9666       0.0
23634      0.0

--------------------------------------------------

--- Analysis for Column: lc2a_11 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_11
0.0    8277
1.0     347
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_11
24201      NaN
835        0.0
18874      NaN
16153      NaN
26390      NaN

--------------------------------------------------

--- Analysis for Column: lc2a_12 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_12
0.0    8162
1.0     462
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_12
23361      NaN
21069      0.0
8790       NaN
13809      NaN
8636       NaN

--------------------------------------------------

--- Analysis for Column: lc2a_13 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_13
0.0    8131
1.0     493
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_13
17505      NaN
9667       NaN
14281      NaN
11928      0.0
24881      0.0

--------------------------------------------------

--- Analysis for Column: lc2a_14 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_14
0.0    8274
1.0     350
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_14
21695      NaN
12258      NaN
18179      NaN
23698      0.0
5867       NaN

--------------------------------------------------

--- Analysis for Column: lc2a_15 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_15
0.0    8518
1.0     106
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_15
18311      NaN
8291       NaN
5442       NaN
28383      NaN
2255       NaN

--------------------------------------------------

--- Analysis for Column: lc2a_16 ---
Data Type: float64
Unique Values (3): [nan  1.  0.]
Value Counts:
lc2a_16
1.0    6321
0.0    2303
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_16
22769      NaN
15306      NaN
1844       NaN
14383      NaN
14342      NaN

--------------------------------------------------

--- Analysis for Column: lc2a_98 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_98
0.0    8363
1.0     261
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_98
668        0.0
16465      NaN
4412       NaN
19293      0.0
6506       0.0

--------------------------------------------------

--- Analysis for Column: lc2a_other ---
Data Type: object
Unique Values (168): ['' 'From the sellers,I bought garri and pay back the next year'
 'Am not owning any dept' 'None' "I don't borrow" 'Nobody' 'Neighbour'
 'From my customer' 'From neighbors' "I didn't borrow" 'Neighbor'
 'Shop seller' 'From a friend' 'People that sells the products'
 'From my customers in the market' 'Business patterns' 'Customers'
 'From a shop' 'Shop keeper and neighbor' 'My neighbour' 'Whole saler'
 'I never borrowed' 'IITA...' 'Wholesalers'
 'Borrow from business partners' 'Agricultural Loan' 'Never borrow'
 'Never borrow money' 'Church' "I haven't  borrowed"
 'Religious Organisation' 'I did not borrow' "I don't borrow money"
 "DIDN'T BORROW JUST BOUGHT FEW FOOD STUFF ON CREDIT FROM A REGULAR STORE"
 'NONE' 'Food stuff seller' 'Do not borrow' "I didn't borrow money"
 'No borrow money' 'Business  pattern'
 'I have never borrowed money before' 'Not applicable' 'Did not borrow'
 "Didn't borrow money" 'Business associate' 'IN A SHOP CLOSE TO ME'
 'From my brother' 'Family' 'Never borrowed' 'Babu' 'My  brother'
 'Nothing' 'A PROVISION SHOP CLOSE TO ME' 'NA'
 "I didn't borrow but bought something on credit" "Don't borrow"
 'Bought things from a shop owner on credit' 'Father-in-law'
 "Didn't borrow" "Didn't borrow any money" 'NCSU' 'PENAL  BANK'
 "I didn't borrow from any financial institution." 'From customer'
 'Did not borrow but bought something on credit' 'I did not borrow money'
 'Thrift scheme' 'Did not borrow any money' 'Never borrowed money before'
 'Easy buy' "Don't  borrow  money, only buy good on credit" 'Customer'
 'Did not borrow money from anyone'
 'I did not borrow money from anywhere or anyone' "Don't  borrow"
 'Buy things on credit' 'Vendor selling food' 'Vendor' 'Buy goods  on cre'
 'Grooming' "I invite the debth from my business, I don't borrow it"
 "Don't believe in it"
 'I did not take money from anyone, I bought goods credits and pay for it after I have sell it'
 'Online loan app' 'Easy buy,paying installmentally'
 "Don't borrow money, only buy goods on credit"
 'Bought land to harvest with the money yet to pay up' 'Not on any debt'
 "Haven't borrowed" 'Savings and loan group'
 "Didn't borrow only bought goods on credit" 'Borrowed from market women'
 'Customer I bought goods not borrow'
 'I did jot borrow,  I bought goods on credit to pay later from Sellers in the neighbourhood'
 "I didn't" 'People  he sold farm products to' 'None of the above' 'Zip'
 'For food' 'Supplier' 'Brought goods on credit'
 'Brought goods on credit.' 'Wholesaler' 'I live within my money'
 "I haven't borrowed money" "I didn't borrow from anyone" 'Women'
 'From a business woman who sells provision'
 'From where I do collect goods to put in my shop.'
 'Bought Simon on credit from a shop' 'From a foodstuff shop'
 'Shop we buy our products' 'Business partner' 'JAIZ BANK'
 'THE PERSON I BOUGHT GOODS FROM' 'No' "I don't borrow  money at all"
 'FROM THE BUSINESS PERTNER' 'BOUGHT PHONE ON EASY BUY'
 'BORROW FROM GURUMI' 'BOUGHT SOLAR' 'FROM BUSINESS PARTNERS IN FRANCE'
 'BOUGHT GOODS ON CREDIT' 'PENCOM' 'Am not owing any debt'
 'My Customers in market' "I don't have debt" 'Goods seller' 'Nill'
 'Goods owners' 'I was sick' 'I have never borrow money from anyone'
 "I didn't  borrowed money" 'I no borrow money' 'Did not borrowed money'
 'Do not borrowed money' 'MY BOSS' 'Inosowo' 'DID NOT BORROW MONEY'
 'SOLAR DISTRIBUTOR' 'Not borrowing  from any banks' "Didn't Borrow"
 'NEVER USED' 'Respondent have not borrowed in the past 12 months'
 'MY COLLEAGUE' 'NKO YA OWO' 'Only buying goods on credit'
 'Did not borrow money' 'My supplier' 'The person am buying goods from'
 "Don't have any debt" 'My customers'
 "I didn't borrow from any financial services" 'Traders (foodstuff)'
 'Provision shop owner' 'Provision store' 'Provision shop' 'In the church'
 'From business (provision shop) owners' 'Market'
 "I don't know from where but the people are from outside Nigeria"
 'Business (provision shop) owners' 'From shop' 'Never used'
 'Business man' "Don't know the name" 'Business Colleagues'
 'Business colleagues']
Value Counts:
lc2a_other
                                                   28131
None                                                  15
Nobody                                                10
NA                                                     9
Never borrow money                                     7
                                                   ...
I did not borrow money                                 1
Did not borrow but bought something on credit          1
I didn't borrow from any financial institution.        1
PENAL  BANK                                            1
Business colleagues                                    1
Name: count, Length: 168, dtype: int64
Missing Values: 0
Sample Values:
      lc2a_other
20986
23767
26497
1676
24253

--------------------------------------------------

--- Analysis for Column: lc2d_other ---
Data Type: object
Unique Values (265): ['' 'To buy materials for  fishing' 'Food' 'None' "I didn't borrow"
 'Kudin asibiti' 'For agriculture farm inputs' 'To pay for medical bills'
 'For farming' 'Personal use' 'Sickness' 'Business purposes'
 'To bill myself from prison' 'To buy phone' 'I was expecting a child'
 'Farming' 'Because of my farm' 'Domin siyan kayan gona' 'Not specified'
 'For personal use' 'To pay school fees' 'Never borrow'
 'Did not borrow money' 'Never borrow money' 'I did not borrow'
 'Completion of part of the house' 'DRILL BOREHOLE' "I don't borrow money"
 'NA' 'Do not borrow' "I didn't borrow money" 'Medical bills'
 'Not applicable' 'For an emergency' 'To buy a phone'
 'Add up and buy fishing net'
 'To buy plank and other materials so I can complete my wooden house'
 'Did not borrow' 'Transportation to an event' 'House completion'
 'To join up and travel' 'To add up and give to my husband'
 'To buy handouts' "Didn't  borrow money" 'To buy furniture'
 'For burial arrangements' 'Make use of it for my sons wedding'
 'Because of buy food and clothes' 'Buy detergents' 'Buy food' 'Farm'
 'I BOUGHT DETERGENT' 'To solve my personal problem' 'Not borrowed'
 'Food and farm' 'To buy fertiliser' 'Because of food and farming' 'Babu'
 'BOUGHT DETERGENT' 'To buy food' 'Explode my business'
 'Food and business' 'Abinci' 'Sayan abinci' 'Make business'
 'Boosting my  business' 'I bought items' "Didn't borrow"
 'I bought food items' 'Bought tire and fix on my motorbike'
 'To pay for my skills that is learning' 'To expand my business'
 'Settle a problem' 'To barb my hair' 'Some health challenge'
 'To work my motorcycle engine' 'Not borrow' 'Not  much money'
 'Solve a need' 'To work my motorcycle' 'To pay and fix my farm'
 "I don't want to share" 'Farm products' 'Emergency' 'To buy power bank'
 'Did not borrow any money' 'FARM BUSINESS' 'Pay for work done in my farm'
 'Buy a mobile phone' 'Repair my vehicle' 'Unexpected expenses'
 'Children School  fees'
 'I bought goods credit and I have paid for it long time ago'
 'Buy food on credit' 'I did not borrow money from anyone' "Don't borrow"
 'To cover farming expenses' 'Personal needs' 'Expand my farm'
 'For illnesses' 'To solve floors problem' 'Transportation'
 'Unexpected  expenses' "I don't borrow"
 'Is goods I bought I did not borrow money from anyone' 'Personal'
 'For working in his farm' "Didn't borrow money" 'Nothing'
 'Pots, kettle , clothes and flask' 'For land to cultivate on' 'No debt'
 'Starting her business' 'For school dept' 'Pers' 'To Improve business'
 'Pay school fees' 'To pay hospital bill for her child' 'Health emergency'
 'For payment in school'
 'Did no directly borrow, wore the person shirt and was involved in a dispute that resulted to a fight and was asked to pay for the shirt'
 'To buy a mobile phone' 'To buy drugs'
 'To settle apprenticeship agreement' 'To brush farm'
 'To cover farm lost due to Bush burning' 'Buy solar power'
 'Only bought goods on credit,  did not borrow' 'Livestock'
 'Payment of hospital bill' "Bought good on credit didn't borrow"
 'Unexpected experience' 'Expanding  her business' 'For business'
 'Used for farming' 'To buy airtime and data' 'For business  money'
 'To pay my children school fees'
 'To cover my children expenses and for their travelling abroad  expenses'
 'Build  house' 'For the development of my  ministry'
 'For business purposes' 'Repair car' 'Repair phone' 'Car repair'
 'For personal used' 'Boght phone to my wife' 'Repairs of phone'
 'To sow my uniform'
 'Did not borrow money particular but Brought food on credit.'
 'Bought new phone' 'To cover some bills'
 "I don't  borrowed  money  from  anyone" 'For medical purposes'
 "Personal use and can't disclose" 'For unexpected expenses'
 'Refused to mention' 'Refused' "Nothing.  I didn't borrow"
 'To buy something' 'To Pay Children School fees' 'Personal reasons'
 'Refused to answer' 'To buy trees for firewood' 'No gree talk'
 'Refused to Mention' 'Refused to say'
 'Used it to do palm kernel business'
 'For Business. To Buy Business Tools' 'Feeding'
 'To cover up My Mothers Medical bills' 'For Personal use' 'Food stuff'
 'To buy food stuffs' 'FOR PERSONAL USE' 'Foods stuff' 'OTHER PURPOSE'
 'Build room' 'Food provision' 'BUYING FOOD' 'Food stuffs'
 'To cover for the incure loss from my business' 'Illness' 'To buy foods'
 'To buy foods stuff' 'Do business' 'Other engagement'
 'Take care of things in house' 'To fix my phone' 'To pay bills'
 'For food' 'To buy for my business'
 'Wanted sending money to my parents before salary comes in, so I had to borrow'
 'Cover unexpected expenses' 'To solve problems' 'It is personal'
 'To repair my keke' 'Festival' 'I added the money in to my business'
 'To add to my Business' 'To by food' "I don't  borrow at all"
 'For my school fees' 'PHONE' 'SOLAR' 'FOOD STUFF'
 'FOR EMERGENCY STITUTION' 'Business Expansion'
 'To covered up business expenses' 'To Sove Emmagency issues'
 'For Businesses Stock' 'Fixing of Car' 'I used it to buy medicine' 'No'
 "I didn't" 'Cover my expenses' 'I Never borrow money'
 'I did not borrowed money' 'I said I no the borrow money'
 'Did not borrowed money' 'Do not borrowed money'
 'To add up to my business' 'To get food  to eat' 'NONE' 'TO BUY TOOLS'
 'Use it to do freedom ceremony for my child' 'FOR PREGNANCY OPERATION'
 'I have a problem  with  custom officer I use the money to sort it'
 'FOR DATA' 'Business use' 'FOR SOME URGENT NEEDS' 'DID NOT BORROW MONEY'
 'FOR MY BUSINESS' 'NOne' 'PERSONAL USE' 'NEVER BORROWED'
 "Respondent didn't borrow" 'FIKUN OWO OJA' 'For domestic use' 'Mofintaja'
 'Sa owo omo ile iwe' 'To sort immagency issues' 'Mofiraoja'
 'Funlilo tarami' 'Fi ran okowo mi lowo' 'Lati fi san owo ile Iwe omo'
 'To boost my business' 'For agricultural investment' 'Wonfira oja'
 'Fun okowo mi' 'Home use' 'Buy phone' 'Sick child'
 'To travel to my elder sister daughter wedding in the village'
 'Buy a new phone' 'To buy a smartphone' 'Farming activities'
 'To use for business' 'To buy Agricultural Products' 'Expand business'
 'Satisfied Some needs' 'Never used' 'Personal Used'
 'To repair my farm equipment' 'pay for a friend wedding contribution']
Value Counts:
lc2d_other
                                         28008
NA                                          13
None                                        12
Didn't borrow                               11
For business                                 9
                                         ...
For land to cultivate on                     1
No debt                                      1
Starting her business                        1
For school dept                              1
pay for a friend wedding contribution        1
Name: count, Length: 265, dtype: int64
Missing Values: 0
Sample Values:
      lc2d_other
380
12502
2614
14281
22176

--------------------------------------------------

Based on the analysis, hereâ€™s how weâ€™ll consolidate the borrowing_behavior column:

Binary Indicator for Borrowing :

Use lc1_* columns to determine whether an individual has borrowed money in the past 12 months.

Assign 1 if any lc1_* column indicates borrowing; otherwise, assign 0.

Categorization of Borrowing Sources :

Classify individuals based on their primary source of borrowing:

Formal Borrowing : From banks, microfinance institutions, or government programs.

Informal Borrowing : From family, friends, savings groups, or informal lenders.

Other Borrowing : From unspecified or unique sources.

Purpose of Borrowing :

Use lc2d_* columns to classify the purpose of borrowing (e.g., emergencies, personal needs, business).

Composite Representation :

Combine binary indicators, borrowing sources, and purposes into a single string representation (borrowing_behavior).

In [114]:
# Step 1: Identify relevant columns
formal_borrowing_cols = [
    col for col in borrowing_sources_cols if "bank" in col.lower() or "microfinance" in col.lower() or "government" in col.lower()
]
informal_borrowing_cols = [
    col for col in borrowing_sources_cols if "family" in col.lower() or "friend" in col.lower() or "savings group" in col.lower()
]
other_borrowing_cols = [
    col for col in borrowing_sources_cols if "other" in col.lower()
]

# Step 2: Create binary indicators for each category
data['borrows_formally'] = data[formal_borrowing_cols].isin([1.0]).any(axis=1).astype(int)
data['borrows_informally'] = data[informal_borrowing_cols].isin([1.0]).any(axis=1).astype(int)
data['borrows_other'] = data[other_borrowing_cols].isin([1.0]).any(axis=1).astype(int)

# Step 3: Categorize borrowing behavior
def categorize_borrowing_behavior(row):
    if row['borrows_formally']:
        return 'Formal Borrowing'
    elif row['borrows_informally']:
        return 'Informal Borrowing'
    elif row['borrows_other']:
        return 'Other Borrowing'
    else:
        return 'Does Not Borrow'

data['borrowing_behavior'] = data.apply(categorize_borrowing_behavior, axis=1)

# Step 4: Add purpose of borrowing (optional)
def get_borrowing_purpose(row):
    for col in borrowing_purpose_cols:
        if row[col] == 1.0:
            return col.split('_')[-1].replace('_', ' ').title()  # Extract purpose from column name
    return 'Unknown'

data['borrowing_purpose'] = data.apply(get_borrowing_purpose, axis=1)

# Step 5: Combine borrowing behavior and purpose
data['borrowing_behavior'] = (
    data['borrowing_behavior'] + ', Purpose: ' + data['borrowing_purpose']
)

# Display the consolidated column
print(data[['borrows_formally', 'borrows_informally', 'borrows_other', 'borrowing_purpose', 'borrowing_behavior']].head())

   borrows_formally  borrows_informally  borrows_other borrowing_purpose  \
0                 0                   0              0           Unknown
1                 0                   0              0           Unknown
2                 0                   0              0           Unknown
3                 0                   0              0           Unknown
4                 0                   0              0           Unknown

                  borrowing_behavior
0  Does Not Borrow, Purpose: Unknown
1  Does Not Borrow, Purpose: Unknown
2  Does Not Borrow, Purpose: Unknown
3  Does Not Borrow, Purpose: Unknown
4  Does Not Borrow, Purpose: Unknown

### 7, digital_payment_adoption

This column will capture information about an individual's adoption and usage of digital payment methods, such as mobile money, bank transfers, or other electronic payment systems.

Step 1: Define digital_payment_adoption
The digital_payment_adoption column should capture:

Whether an individual uses digital payment methods .

Which digital payment methods they use (e.g., mobile money, bank transfers, ATMs, etc.).

Frequency of usage (if available).
From the dataset, the following columns are likely candidates for deriving digital_payment_adoption:

py2b_* : Indicates whether the individual used specific payment methods in the past 12 months (e.g., mobile money, bank transfers, ATMs, cash, etc.).

mm3a : Captures how often the individual uses their mobile money account.

mm3b_* : Captures the specific mobile money services used (e.g., sending/receiving money, paying bills, etc.).

In [115]:
# Define relevant column groups
payment_method_cols = [col for col in data.columns if col.startswith('py2b_')]  # Payment methods
mobile_money_usage_cols = [col for col in data.columns if col.startswith('mm3a') or col.startswith('mm3b_')]  # Mobile money usage

# Combine all relevant columns into a single list
relevant_columns = payment_method_cols + mobile_money_usage_cols

# Analyze each column
for column in relevant_columns:
    print(f"--- Analysis for Column: {column} ---")
    
    # Step 1: Check the column type
    print(f"Data Type: {data[column].dtype}")
    
    # Step 2: List unique values
    unique_values = data[column].unique()
    print(f"Unique Values ({len(unique_values)}): {unique_values}")
    
    # Step 3: Show value counts (frequency of each unique value)
    print("Value Counts:")
    print(data[column].value_counts())
    
    # Step 4: Count missing values
    missing_values = data[column].isnull().sum()
    print(f"Missing Values: {missing_values}")
    
    # Step 5: Show sample values
    print("Sample Values:")
    print(data[[column]].sample(5))
    
    print("\n" + "-"*50 + "\n")

--- Analysis for Column: py2b_1 ---
Data Type: float64
Unique Values (3): [nan  1.  0.]
Value Counts:
py2b_1
1.0    5277
0.0     648
Name: count, dtype: int64
Missing Values: 22467
Sample Values:
       py2b_1
93        NaN
15876     NaN
17351     1.0
18934     NaN
4153      NaN

--------------------------------------------------

--- Analysis for Column: py2b_2 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
py2b_2
0.0    5886
1.0      39
Name: count, dtype: int64
Missing Values: 22467
Sample Values:
       py2b_2
6784      0.0
12080     NaN
10450     NaN
27251     NaN
18927     0.0

--------------------------------------------------

--- Analysis for Column: py2b_3 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
py2b_3
0.0    5879
1.0      46
Name: count, dtype: int64
Missing Values: 22467
Sample Values:
       py2b_3
12829     0.0
25821     NaN
9042      NaN
12464     NaN
6871      NaN

--------------------------------------------------

--- Analysis for Column: py2b_4 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
py2b_4
0.0    4259
1.0    1666
Name: count, dtype: int64
Missing Values: 22467
Sample Values:
       py2b_4
21277     NaN
20045     NaN
17796     NaN
6959      NaN
2038      0.0

--------------------------------------------------

--- Analysis for Column: py2b_5 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
py2b_5
0.0    5889
1.0      36
Name: count, dtype: int64
Missing Values: 22467
Sample Values:
       py2b_5
24586     NaN
13625     NaN
825       NaN
6159      0.0
2428      NaN

--------------------------------------------------

--- Analysis for Column: py2b_6 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
py2b_6
0.0    4482
1.0    1443
Name: count, dtype: int64
Missing Values: 22467
Sample Values:
       py2b_6
5862      NaN
7303      NaN
3983      NaN
7331      1.0
23063     NaN

--------------------------------------------------

--- Analysis for Column: py2b_7 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
py2b_7
0.0    4952
1.0     973
Name: count, dtype: int64
Missing Values: 22467
Sample Values:
       py2b_7
27012     NaN
7649      NaN
26637     NaN
9266      0.0
14895     NaN

--------------------------------------------------

--- Analysis for Column: py2b_8 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
py2b_8
0.0    5646
1.0     279
Name: count, dtype: int64
Missing Values: 22467
Sample Values:
       py2b_8
26980     NaN
9238      0.0
19011     NaN
23721     NaN
18690     NaN

--------------------------------------------------

--- Analysis for Column: py2b_9 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
py2b_9
0.0    4931
1.0     994
Name: count, dtype: int64
Missing Values: 22467
Sample Values:
       py2b_9
17259     0.0
7321      NaN
13354     NaN
18024     0.0
21526     0.0

--------------------------------------------------

--- Analysis for Column: py2b_10 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
py2b_10
0.0    5765
1.0     160
Name: count, dtype: int64
Missing Values: 22467
Sample Values:
       py2b_10
23898      NaN
6620       NaN
4089       0.0
26484      0.0
11272      NaN

--------------------------------------------------

--- Analysis for Column: py2b_11 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
py2b_11
0.0    5661
1.0     264
Name: count, dtype: int64
Missing Values: 22467
Sample Values:
       py2b_11
16186      NaN
28187      NaN
18717      0.0
14496      NaN
9061       NaN

--------------------------------------------------

--- Analysis for Column: mm3a ---
Data Type: float64
Unique Values (8): [nan  6.  2.  3.  1.  4.  7.  5.]
Value Counts:
mm3a
2.0    887
1.0    746
6.0    309
3.0    265
7.0    237
4.0     52
5.0     14
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3a
1342    NaN
10834   NaN
27817   NaN
21457   NaN
6538    NaN

--------------------------------------------------

--- Analysis for Column: mm3b_1 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
mm3b_1
0.0    1931
1.0     579
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_1
2944      NaN
22702     NaN
18571     0.0
26589     NaN
27335     NaN

--------------------------------------------------

--- Analysis for Column: mm3b_2 ---
Data Type: float64
Unique Values (3): [nan  1.  0.]
Value Counts:
mm3b_2
1.0    1841
0.0     669
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_2
41        NaN
23517     NaN
23133     NaN
19824     NaN
24876     NaN

--------------------------------------------------

--- Analysis for Column: mm3b_3 ---
Data Type: float64
Unique Values (3): [nan  1.  0.]
Value Counts:
mm3b_3
1.0    1826
0.0     684
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_3
12603     NaN
20153     NaN
553       NaN
22120     NaN
5040      NaN

--------------------------------------------------

--- Analysis for Column: mm3b_4 ---
Data Type: float64
Unique Values (3): [nan  1.  0.]
Value Counts:
mm3b_4
0.0    1268
1.0    1242
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_4
3777      NaN
19116     1.0
15562     NaN
5899      NaN
12643     NaN

--------------------------------------------------

--- Analysis for Column: mm3b_5 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
mm3b_5
0.0    2426
1.0      84
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_5
18802     NaN
21379     0.0
12422     NaN
18782     0.0
12395     NaN

--------------------------------------------------

--- Analysis for Column: mm3b_6 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
mm3b_6
0.0    1834
1.0     676
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_6
5473      NaN
3464      0.0
14608     NaN
3171      NaN
20739     NaN

--------------------------------------------------

--- Analysis for Column: mm3b_7 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
mm3b_7
0.0    2425
1.0      85
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_7
19521     NaN
16146     NaN
3730      0.0
16493     NaN
14934     NaN

--------------------------------------------------

--- Analysis for Column: mm3b_8 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
mm3b_8
0.0    2077
1.0     433
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_8
8886      NaN
1045      NaN
7977      NaN
13427     NaN
23311     NaN

--------------------------------------------------

--- Analysis for Column: mm3b_9 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
mm3b_9
0.0    2162
1.0     348
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_9
16848     NaN
9452      NaN
3880      NaN
5330      NaN
11425     NaN

--------------------------------------------------

--- Analysis for Column: mm3b_10 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
mm3b_10
0.0    2491
1.0      19
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_10
6079       NaN
6458       NaN
16392      NaN
14581      NaN
15895      NaN

--------------------------------------------------

--- Analysis for Column: mm3b_11 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
mm3b_11
0.0    2502
1.0       8
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_11
19933      NaN
7733       NaN
14286      NaN
1864       NaN
11902      NaN

--------------------------------------------------

--- Analysis for Column: mm3b_12 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
mm3b_12
0.0    2376
1.0     134
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_12
18722      NaN
15735      NaN
2470       NaN
5784       NaN
11766      NaN

--------------------------------------------------

--- Analysis for Column: mm3b_96 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
mm3b_96
0.0    2494
1.0      16
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_96
8547       NaN
14692      NaN
24044      NaN
17862      NaN
22678      NaN

--------------------------------------------------

--- Analysis for Column: mm3b_98 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
mm3b_98
0.0    2507
1.0       3
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_98
11984      NaN
5827       NaN
807        NaN
10423      NaN
27782      NaN

--------------------------------------------------

--- Analysis for Column: mm3b_13 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
mm3b_13
0.0    2271
1.0     239
Name: count, dtype: int64
Missing Values: 25882
Sample Values:
       mm3b_13
16435      NaN
27055      NaN
24057      NaN
19869      NaN
25546      NaN

--------------------------------------------------

--- Analysis for Column: mm3b_other ---
Data Type: object
Unique Values (4): ['' 'Send and earned' 'N ko lomo' 'Borrow money']
Value Counts:
mm3b_other
                   28389
Send and earned        1
N ko lomo              1
Borrow money           1
Name: count, dtype: int64
Missing Values: 0
Sample Values:
      mm3b_other
20822
4008
11076
22714
24019

--------------------------------------------------

In [116]:
# Now to consolidate

# Step 1: Identify relevant columns
mobile_money_cols = [col for col in data.columns if col.startswith('py2b_')]
other_payment_cols = []  # Add other digital payment columns here if applicable

# Step 2: Create binary indicators for each category
data['uses_mobile_money'] = data[mobile_money_cols].isin([1.0]).any(axis=1).astype(int)
data['uses_other_digital_payments'] = data[other_payment_cols].isin([1.0]).any(axis=1).astype(int)

# Step 3: Categorize payment method
def categorize_payment_method(row):
    if row['uses_mobile_money']:
        return 'Mobile Money'
    elif row['uses_other_digital_payments']:
        return 'Other Digital Payments'
    else:
        return 'Does Not Use Digital Payments'

data['payment_method'] = data.apply(categorize_payment_method, axis=1)

# Step 4: Categorize mobile money frequency
def categorize_mobile_money_frequency(mm3a):
    if pd.isna(mm3a):
        return 'Non-User'
    elif mm3a in [1.0, 2.0, 3.0]:
        return 'Frequent User'
    elif mm3a in [4.0, 5.0, 6.0, 7.0]:
        return 'Occasional User'
    else:
        return 'Unknown'

data['mobile_money_frequency'] = data['mm3a'].apply(categorize_mobile_money_frequency)

# Step 5: Combine payment method and frequency
data['digital_payment_adoption'] = (
    data['payment_method'] + ', Frequency: ' + data['mobile_money_frequency']
)

# Display the consolidated column
print(data[['uses_mobile_money', 'uses_other_digital_payments',
            'payment_method', 'mobile_money_frequency', 'digital_payment_adoption']].head())

   uses_mobile_money  uses_other_digital_payments  \
0                  0                            0
1                  0                            0
2                  0                            0
3                  0                            0
4                  0                            0

                  payment_method mobile_money_frequency  \
0  Does Not Use Digital Payments               Non-User
1  Does Not Use Digital Payments               Non-User
2  Does Not Use Digital Payments               Non-User
3  Does Not Use Digital Payments               Non-User
4  Does Not Use Digital Payments               Non-User

                            digital_payment_adoption
0  Does Not Use Digital Payments, Frequency: Non-...
1  Does Not Use Digital Payments, Frequency: Non-...
2  Does Not Use Digital Payments, Frequency: Non-...
3  Does Not Use Digital Payments, Frequency: Non-...
4  Does Not Use Digital Payments, Frequency: Non-...

### 8, access_to_electricity

Letâ€™s proceed with the column access_to_electricity .

Step 1: Identify Relevant Columns
Based on the dataset's structure and naming conventions, the following columns are likely candidates for deriving access_to_electricity :

d3_18 : Indicates whether the household has a telephone (landline), which might correlate with electricity access.

d3_19 : Indicates whether the household has a mobile phone, which indirectly suggests electricity access for charging.

d3_25 : Indicates whether the household has a generator set, which is often used as a backup power source.

pc1_4 : Indicates whether an ATM is close to the household, which may imply infrastructure like electricity.

pc1_7 : Indicates whether a non-interest service provider is close to the household, potentially correlating with electricity access.

pc1_10 : Indicates whether a pharmacy is close to the household, which typically requires electricity.

pc1_11 : Indicates whether a restaurant is close to the household, which also typically requires electricity.

pc1_12 : Indicates whether a mobile phone kiosk is close to the household, which requires electricity for operation.

gen3_1 : Indicates whether the household owns agricultural land, which might correlate with electricity access for irrigation or other uses.

gen3_2 : Indicates whether the household owns land, which could be relevant if tied to electricity infrastructure.

gen3_3 : Indicates whether the household owns a house/dwelling, which might have electricity connections.

Step 2: Analyze Relevant Columns
To confirm the relevance of these columns, weâ€™ll analyze their structure, unique values, value counts, missing values, and sample data.

In [117]:
# Define relevant columns
relevant_columns = [
    'd3_18', 'd3_19', 'd3_25', 'pc1_4', 'pc1_7', 'pc1_10', 'pc1_11', 'pc1_12',
    'gen3_1', 'gen3_2', 'gen3_3'
]

# Analyze each column
for column in relevant_columns:
    print(f"--- Analysis for Column: {column} ---")
    
    # Step 1: Check the column type
    print(f"Data Type: {data[column].dtype}")
    
    # Step 2: List unique values
    unique_values = data[column].unique()
    print(f"Unique Values ({len(unique_values)}): {unique_values}")
    
    # Step 3: Show value counts (frequency of each unique value)
    print("Value Counts:")
    print(data[column].value_counts())
    
    # Step 4: Count missing values
    missing_values = data[column].isnull().sum()
    print(f"Missing Values: {missing_values}")
    
    # Step 5: Show sample values
    print("Sample Values:")
    print(data[[column]].sample(5))
    
    print("\n" + "-"*50 + "\n")

--- Analysis for Column: d3_18 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
d3_18
0.0    28244
1.0      148
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       d3_18
26689    0.0
5431     0.0
23508    0.0
8594     0.0
21007    0.0

--------------------------------------------------

--- Analysis for Column: d3_19 ---
Data Type: float64
Unique Values (2): [1. 0.]
Value Counts:
d3_19
1.0    20063
0.0     8329
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       d3_19
8069     0.0
2826     0.0
24557    1.0
24852    1.0
6143     0.0

--------------------------------------------------

--- Analysis for Column: d3_25 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
d3_25
0.0    25128
1.0     3264
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       d3_25
24969    0.0
17170    0.0
20854    0.0
18992    1.0
27870    0.0

--------------------------------------------------

--- Analysis for Column: pc1_4 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_4
0.0    25240
1.0     3152
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_4
13341    0.0
23774    0.0
7776     0.0
13037    0.0
14385    0.0

--------------------------------------------------

--- Analysis for Column: pc1_7 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_7
0.0    28231
1.0      161
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_7
11921    0.0
7799     0.0
17889    0.0
28234    0.0
22370    0.0

--------------------------------------------------

--- Analysis for Column: pc1_10 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_10
0.0    18269
1.0    10123
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_10
23082     0.0
24200     0.0
3689      1.0
7337      0.0
19143     0.0

--------------------------------------------------

--- Analysis for Column: pc1_11 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_11
0.0    27549
1.0      843
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_11
10285     0.0
21380     0.0
24047     0.0
1515      0.0
18483     0.0

--------------------------------------------------

--- Analysis for Column: pc1_12 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_12
0.0    22437
1.0     5955
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_12
1936      1.0
22879     0.0
6103      0.0
3682      1.0
24152     0.0

--------------------------------------------------

--- Analysis for Column: gen3_1 ---
Data Type: float64
Unique Values (3): [3. 2. 1.]
Value Counts:
gen3_1
3.0    17555
1.0     8491
2.0     2346
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       gen3_1
23835     3.0
380       1.0
26467     1.0
5788      3.0
9681      3.0

--------------------------------------------------

--- Analysis for Column: gen3_2 ---
Data Type: float64
Unique Values (3): [3. 1. 2.]
Value Counts:
gen3_2
3.0    18991
1.0     7367
2.0     2034
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       gen3_2
22386     3.0
4109      3.0
7844      3.0
10713     3.0
1616      3.0

--------------------------------------------------

--- Analysis for Column: gen3_3 ---
Data Type: float64
Unique Values (3): [3. 2. 1.]
Value Counts:
gen3_3
3.0    18284
1.0     7190
2.0     2918
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       gen3_3
19776     3.0
25889     3.0
1093      1.0
6935      3.0
18220     3.0

--------------------------------------------------

To create the access_to_electricity column, we will:

Binary Indicator for Electricity Access :

Use d3_18, d3_19, and d3_25 to infer electricity access:

A household with a landline (d3_18 == 1.0) or mobile phone (d3_19 == 1.0) likely has electricity.

A household with a generator set (d3_25 == 1.0) may have limited or backup electricity.

Assign 1 if any of these indicators suggest electricity access; otherwise, assign 0.

Proximity to Infrastructure :

Use pc1_* columns to assess proximity to services that typically require electricity (e.g., ATMs, pharmacies, restaurants, mobile phone kiosks).

Assign 1 if any pc1_* column indicates proximity to such services; otherwise, assign 0.

Land Ownership :

Use gen3_* columns to infer whether land ownership correlates with infrastructure access.

For example, households owning agricultural land (gen3_1 == 1.0) may have better access to electricity for irrigation or other uses.

Composite Representation :

Combine binary indicators into a single string representation (access_to_electricity).

In [118]:
# Now to consolidate

# Step 1: Create binary indicators for electricity access
data['has_landline'] = data['d3_18'].apply(lambda x: 1 if x == 1.0 else 0)
data['has_mobile_phone'] = data['d3_19'].apply(lambda x: 1 if x == 1.0 else 0)
data['has_generator_set'] = data['d3_25'].apply(lambda x: 1 if x == 1.0 else 0)

# Step 2: Create binary indicators for proximity to services
data['proximity_to_atm'] = data['pc1_4'].apply(lambda x: 1 if x == 1.0 else 0)
data['proximity_to_non_interest_service'] = data['pc1_7'].apply(lambda x: 1 if x == 1.0 else 0)
data['proximity_to_pharmacy'] = data['pc1_10'].apply(lambda x: 1 if x == 1.0 else 0)
data['proximity_to_restaurant'] = data['pc1_11'].apply(lambda x: 1 if x == 1.0 else 0)
data['proximity_to_mobile_kiosk'] = data['pc1_12'].apply(lambda x: 1 if x == 1.0 else 0)

# Step 3: Create binary indicators for land ownership
data['owns_agricultural_land'] = data['gen3_1'].apply(lambda x: 1 if x == 1.0 else 0)
data['owns_other_land'] = data['gen3_2'].apply(lambda x: 1 if x == 1.0 else 0)
data['owns_house'] = data['gen3_3'].apply(lambda x: 1 if x == 1.0 else 0)

# Step 4: Categorize electricity access
def categorize_electricity_access(row):
    # Direct indicators of electricity access
    if row['has_landline'] or row['has_mobile_phone']:
        return 'Likely Has Electricity'
    elif row['has_generator_set']:
        return 'Limited/Backup Electricity'
    
    # Proximity to services requiring electricity
    elif (
        row['proximity_to_atm'] or
        row['proximity_to_non_interest_service'] or
        row['proximity_to_pharmacy'] or
        row['proximity_to_restaurant'] or
        row['proximity_to_mobile_kiosk']
    ):
        return 'Proximity Suggests Electricity'
    
    # Land ownership as a proxy
    elif row['owns_agricultural_land'] or row['owns_other_land']:
        return 'Potential Electricity (Land Ownership)'
    
    # Default case
    else:
        return 'No Evidence of Electricity'

data['access_to_electricity'] = data.apply(categorize_electricity_access, axis=1)

# Display the consolidated column
print(data[['has_landline', 'has_mobile_phone', 'has_generator_set',
            'proximity_to_atm', 'proximity_to_pharmacy', 'proximity_to_mobile_kiosk',
            'owns_agricultural_land', 'owns_other_land', 'access_to_electricity']].head())

   has_landline  has_mobile_phone  has_generator_set  proximity_to_atm  \
0             0                 1                  0                 0
1             0                 1                  0                 0
2             0                 1                  0                 0
3             0                 1                  0                 0
4             0                 0                  0                 0

   proximity_to_pharmacy  proximity_to_mobile_kiosk  owns_agricultural_land  \
0                      0                          0                       0
1                      0                          0                       0
2                      0                          0                       1
3                      0                          0                       1
4                      1                          0                       0

   owns_other_land           access_to_electricity
0                0          Likely Has Electricity
1                0          Likely Has Electricity
2                1          Likely Has Electricity
3                1          Likely Has Electricity
4                0  Proximity Suggests Electricity

### 9, internet_access

Letâ€™s proceed with the column internet_access .

Step 1: Identify Relevant Columns
Based on the dataset's structure and naming conventions, the following columns are likely candidates for deriving internet_access :

d3_20 : Indicates whether the household has a computer, which often correlates with internet access.

d3_21 : Indicates whether the household has a tablet, which may also suggest internet access.

d3_22 : Indicates whether the household has a smart TV, which typically requires internet connectivity.

d3_23 : Indicates whether the household has a radio, which does not directly imply internet access but could be relevant in some contexts.

d3_24 : Indicates whether the household has a satellite dish, which might correlate with internet access (e.g., satellite internet).

pc1_4 : Indicates whether an ATM is close to the household, which may imply infrastructure like electricity and internet.

pc1_7 : Indicates whether a non-interest service provider is close to the household, potentially correlating with internet access.

pc1_10 : Indicates whether a pharmacy is close to the household, which typically requires electricity and possibly internet.

pc1_12 : Indicates whether a mobile phone kiosk is close to the household, which requires internet for operation.

gen3_1 , gen3_2 , gen3_3 : Indicate ownership of agricultural land or other types of land, which might correlate with infrastructure access.

In [119]:
# Define relevant columns
relevant_columns = [
    'd3_20', 'd3_21', 'd3_22', 'd3_23', 'd3_24', 'pc1_4', 'pc1_7', 'pc1_10', 'pc1_12',
    'gen3_1', 'gen3_2', 'gen3_3'
]

# Analyze each column
for column in relevant_columns:
    print(f"--- Analysis for Column: {column} ---")
    
    # Step 1: Check the column type
    print(f"Data Type: {data[column].dtype}")
    
    # Step 2: List unique values
    unique_values = data[column].unique()
    print(f"Unique Values ({len(unique_values)}): {unique_values}")
    
    # Step 3: Show value counts (frequency of each unique value)
    print("Value Counts:")
    print(data[column].value_counts())
    
    # Step 4: Count missing values
    missing_values = data[column].isnull().sum()
    print(f"Missing Values: {missing_values}")
    
    # Step 5: Show sample values
    print("Sample Values:")
    print(data[[column]].sample(5))
    
    print("\n" + "-"*50 + "\n")

--- Analysis for Column: d3_20 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
d3_20
0.0    28314
1.0       78
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       d3_20
10704    0.0
22195    0.0
24724    0.0
27712    0.0
21416    0.0

--------------------------------------------------

--- Analysis for Column: d3_21 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
d3_21
0.0    28206
1.0      186
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       d3_21
15507    1.0
18453    0.0
7540     0.0
22082    0.0
11095    0.0

--------------------------------------------------

--- Analysis for Column: d3_22 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
d3_22
0.0    24597
1.0     3795
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       d3_22
5838     0.0
10466    0.0
26357    0.0
13831    0.0
19810    0.0

--------------------------------------------------

--- Analysis for Column: d3_23 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
d3_23
0.0    28328
1.0       64
Name: count, dtype: int64
Missing Values: 0
Sample Values:
      d3_23
3023    0.0
5195    0.0
3069    0.0
1571    0.0
4226    0.0

--------------------------------------------------

--- Analysis for Column: d3_24 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
d3_24
0.0    27904
1.0      488
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       d3_24
15159    0.0
9067     1.0
10644    1.0
27550    0.0
18334    0.0

--------------------------------------------------

--- Analysis for Column: pc1_4 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_4
0.0    25240
1.0     3152
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_4
10427    0.0
23672    0.0
17835    1.0
5659     0.0
13490    0.0

--------------------------------------------------

--- Analysis for Column: pc1_7 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_7
0.0    28231
1.0      161
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_7
11034    0.0
16919    0.0
19113    0.0
27097    0.0
18876    0.0

--------------------------------------------------

--- Analysis for Column: pc1_10 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_10
0.0    18269
1.0    10123
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_10
2981      0.0
14608     1.0
7737      0.0
5457      0.0
1041      0.0

--------------------------------------------------

--- Analysis for Column: pc1_12 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_12
0.0    22437
1.0     5955
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_12
24950     0.0
993       0.0
10237     0.0
14172     0.0
14096     0.0

--------------------------------------------------

--- Analysis for Column: gen3_1 ---
Data Type: float64
Unique Values (3): [3. 2. 1.]
Value Counts:
gen3_1
3.0    17555
1.0     8491
2.0     2346
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       gen3_1
18685     3.0
16931     3.0
18865     3.0
6452      3.0
15457     1.0

--------------------------------------------------

--- Analysis for Column: gen3_2 ---
Data Type: float64
Unique Values (3): [3. 1. 2.]
Value Counts:
gen3_2
3.0    18991
1.0     7367
2.0     2034
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       gen3_2
13138     3.0
10319     3.0
6277      3.0
11118     1.0
18652     3.0

--------------------------------------------------

--- Analysis for Column: gen3_3 ---
Data Type: float64
Unique Values (3): [3. 2. 1.]
Value Counts:
gen3_3
3.0    18284
1.0     7190
2.0     2918
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       gen3_3
15004     3.0
16956     1.0
1682      3.0
5617      3.0
27823     3.0

--------------------------------------------------

Based on the results, hereâ€™s how we can consolidate the internet_access column.

Key Observations from the Analysis
1. Columns Related to Household Devices (d3_*)
d3_20 : Indicates whether the household has a computer.
0.0: No computer.
1.0: Has a computer (likely correlates with internet access).
d3_21 : Indicates whether the household has a tablet.
0.0: No tablet.
1.0: Has a tablet (likely correlates with internet access).
d3_22 : Indicates whether the household has a smart TV.
0.0: No smart TV.
1.0: Has a smart TV (requires internet connectivity).
d3_23 : Indicates whether the household has a radio.
0.0: No radio.
1.0: Has a radio (does not directly imply internet access).
d3_24 : Indicates whether the household has a satellite dish.
0.0: No satellite dish.
1.0: Has a satellite dish (may correlate with internet access, e.g., satellite internet).
2. Columns Related to Proximity to Services (pc1_*)
pc1_4 : Indicates whether an ATM is close to the household.
0.0: No ATM nearby.
1.0: ATM nearby (implies infrastructure like electricity and possibly internet).
pc1_7 : Indicates whether a non-interest service provider is close to the household.
0.0: No non-interest service provider nearby.
1.0: Non-interest service provider nearby (may require internet).
pc1_10 : Indicates whether a pharmacy is close to the household.
0.0: No pharmacy nearby.
1.0: Pharmacy nearby (typically requires electricity and possibly internet).
pc1_12 : Indicates whether a mobile phone kiosk is close to the household.
0.0: No mobile phone kiosk nearby.
1.0: Mobile phone kiosk nearby (requires internet for operation).
3. Columns Related to Land Ownership (gen3_*)
gen3_1 , gen3_2 , gen3_3 : Indicate ownership of agricultural land or other types of land.
1.0: Owns land.
2.0: Does not own land.
3.0: Unknown or unspecified.

In [120]:
# Time to consolidate

# Step 1: Create binary indicators for internet access
data['has_computer'] = data['d3_20'].apply(lambda x: 1 if x == 1.0 else 0)
data['has_tablet'] = data['d3_21'].apply(lambda x: 1 if x == 1.0 else 0)
data['has_smart_tv'] = data['d3_22'].apply(lambda x: 1 if x == 1.0 else 0)
data['has_satellite_dish'] = data['d3_24'].apply(lambda x: 1 if x == 1.0 else 0)

# Step 2: Create binary indicators for proximity to services
data['proximity_to_atm'] = data['pc1_4'].apply(lambda x: 1 if x == 1.0 else 0)
data['proximity_to_non_interest_service'] = data['pc1_7'].apply(lambda x: 1 if x == 1.0 else 0)
data['proximity_to_pharmacy'] = data['pc1_10'].apply(lambda x: 1 if x == 1.0 else 0)
data['proximity_to_mobile_kiosk'] = data['pc1_12'].apply(lambda x: 1 if x == 1.0 else 0)

# Step 3: Create binary indicators for land ownership
data['owns_agricultural_land'] = data['gen3_1'].apply(lambda x: 1 if x == 1.0 else 0)
data['owns_other_land'] = data['gen3_2'].apply(lambda x: 1 if x == 1.0 else 0)
data['owns_house'] = data['gen3_3'].apply(lambda x: 1 if x == 1.0 else 0)

# Step 4: Categorize internet access
def categorize_internet_access(row):
    # Direct indicators of internet access
    if row['has_computer'] or row['has_tablet'] or row['has_smart_tv']:
        return 'Likely Has Internet'
    
    # Satellite dish as a proxy
    elif row['has_satellite_dish']:
        return 'Potential Internet (Satellite)'
    
    # Proximity to services requiring internet
    elif (
        row['proximity_to_atm'] or
        row['proximity_to_non_interest_service'] or
        row['proximity_to_pharmacy'] or
        row['proximity_to_mobile_kiosk']
    ):
        return 'Proximity Suggests Internet'
    
    # Land ownership as a proxy
    elif row['owns_agricultural_land'] or row['owns_other_land']:
        return 'Potential Internet (Land Ownership)'
    
    # Default case
    else:
        return 'No Evidence of Internet'

data['internet_access'] = data.apply(categorize_internet_access, axis=1)

# Display the consolidated column
print(data[['has_computer', 'has_tablet', 'has_smart_tv', 'has_satellite_dish',
            'proximity_to_atm', 'proximity_to_pharmacy', 'proximity_to_mobile_kiosk',
            'owns_agricultural_land', 'owns_other_land', 'internet_access']].head())

   has_computer  has_tablet  has_smart_tv  has_satellite_dish  \
0             0           0             0                   0
1             0           0             0                   0
2             0           0             0                   0
3             0           0             0                   0
4             0           0             0                   0

   proximity_to_atm  proximity_to_pharmacy  proximity_to_mobile_kiosk  \
0                 0                      0                          0
1                 0                      0                          0
2                 0                      0                          0
3                 0                      0                          0
4                 0                      1                          0

   owns_agricultural_land  owns_other_land  \
0                       0                0
1                       0                0
2                       1                1
3                       1                1
4                       0                0

                       internet_access
0              No Evidence of Internet
1              No Evidence of Internet
2  Potential Internet (Land Ownership)
3  Potential Internet (Land Ownership)
4          Proximity Suggests Internet

### 10, mobile_phone_usage

Letâ€™s proceed with the column mobile_phone_usage .

Step 1: Identify Relevant Columns
Based on the dataset's structure and naming conventions, the following columns are likely candidates for deriving mobile_phone_usage :

te1_1_1 : Indicates whether the individual uses a mobile phone.

te1_1_2 : Indicates whether the individual uses a tablet.

te1_1_3 : Indicates whether the individual uses a computer or laptop.

te1_1_4 : Indicates whether the individual uses a landline telephone.

te1_1_5 : Indicates whether the individual uses a 3G/4G/LTE modem/router.

te3_1 : Indicates whether the individual uses a smartphone capable of accessing the internet.

te3_2 : Indicates whether the individual uses a feature phone capable of accessing the internet.

te3_3 : Indicates whether the individual uses a basic phone (only capable of voice calls and SMS).

te4 : Indicates how comfortable the individual feels about using smartphone apps.

py1a_* : Indicates payment methods used in the past 12 months, including mobile money (py1a_11) and e-naira (py1a_12).

mm1a : Indicates whether the individual has heard of mobile money prior to today.

mm1b : Indicates the individual's experience level with mobile money (e.g., never used, beginner, advanced user).

Step 2: Analyze Relevant Columns
To confirm the relevance of these columns, weâ€™ll analyze their structure, unique values, value counts, missing values, and sample data.

In [121]:
# Define relevant columns
relevant_columns = [
    'te1_1_1', 'te1_1_2', 'te1_1_3', 'te1_1_4', 'te1_1_5',
    'te3_1', 'te3_2', 'te3_3', 'te4',
    'py1a_11', 'py1a_12',
    'mm1a', 'mm1b'
]

# Analyze each column
for column in relevant_columns:
    print(f"--- Analysis for Column: {column} ---")
    
    # Step 1: Check the column type
    print(f"Data Type: {data[column].dtype}")
    
    # Step 2: List unique values
    unique_values = data[column].unique()
    print(f"Unique Values ({len(unique_values)}): {unique_values}")
    
    # Step 3: Show value counts (frequency of each unique value)
    print("Value Counts:")
    print(data[column].value_counts())
    
    # Step 4: Count missing values
    missing_values = data[column].isnull().sum()
    print(f"Missing Values: {missing_values}")
    
    # Step 5: Show sample values
    print("Sample Values:")
    print(data[[column]].sample(5))
    
    print("\n" + "-"*50 + "\n")

--- Analysis for Column: te1_1_1 ---
Data Type: float64
Unique Values (2): [1. 2.]
Value Counts:
te1_1_1
1.0    24164
2.0     4228
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       te1_1_1
3426       1.0
12991      1.0
6754       1.0
15799      1.0
1675       1.0

--------------------------------------------------

--- Analysis for Column: te1_1_2 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
te1_1_2
2.0    27573
1.0      819
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       te1_1_2
22580      1.0
25736      2.0
15866      2.0
15367      2.0
4441       2.0

--------------------------------------------------

--- Analysis for Column: te1_1_3 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
te1_1_3
2.0    26891
1.0     1501
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       te1_1_3
12194      2.0
17130      2.0
14049      2.0
15074      2.0
16034      1.0

--------------------------------------------------

--- Analysis for Column: te1_1_4 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
te1_1_4
2.0    28188
1.0      204
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       te1_1_4
24853      2.0
11282      2.0
1232       2.0
13683      2.0
27919      2.0

--------------------------------------------------

--- Analysis for Column: te1_1_5 ---
Data Type: float64
Unique Values (2): [1. 2.]
Value Counts:
te1_1_5
2.0    23220
1.0     5172
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       te1_1_5
26963      2.0
12446      2.0
17237      2.0
27325      2.0
738        2.0

--------------------------------------------------

--- Analysis for Column: te3_1 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
te3_1
0.0    17885
1.0     7759
Name: count, dtype: int64
Missing Values: 2748
Sample Values:
       te3_1
15490    0.0
26631    1.0
13802    0.0
8527     NaN
8717     1.0

--------------------------------------------------

--- Analysis for Column: te3_2 ---
Data Type: float64
Unique Values (3): [ 1.  0. nan]
Value Counts:
te3_2
0.0    21201
1.0     4443
Name: count, dtype: int64
Missing Values: 2748
Sample Values:
       te3_2
21836    0.0
15457    1.0
10649    1.0
19414    NaN
13095    0.0

--------------------------------------------------

--- Analysis for Column: te3_3 ---
Data Type: float64
Unique Values (3): [ 0.  1. nan]
Value Counts:
te3_3
1.0    15137
0.0    10507
Name: count, dtype: int64
Missing Values: 2748
Sample Values:
       te3_3
1637     1.0
9930     0.0
16157    1.0
12290    0.0
24       1.0

--------------------------------------------------

--- Analysis for Column: te4 ---
Data Type: float64
Unique Values (5): [4. 3. 2. 1. 5.]
Value Counts:
te4
5.0    11383
1.0     5477
3.0     4096
4.0     3991
2.0     3445
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       te4
9748   3.0
25737  1.0
1280   5.0
18372  5.0
8610   4.0

--------------------------------------------------

--- Analysis for Column: py1a_11 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
py1a_11
0.0    27405
1.0      987
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       py1a_11
2827       0.0
14076      0.0
28356      0.0
10388      0.0
2645       0.0

--------------------------------------------------

--- Analysis for Column: py1a_12 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
py1a_12
0.0    28375
1.0       17
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       py1a_12
4919       0.0
19379      0.0
1432       0.0
18216      0.0
15770      0.0

--------------------------------------------------

--- Analysis for Column: mm1a ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
mm1a
2.0    20481
1.0     7911
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       mm1a
25124   2.0
5285    2.0
14051   1.0
26145   2.0
9528    1.0

--------------------------------------------------

--- Analysis for Column: mm1b ---
Data Type: float64
Unique Values (5): [nan  1.  2.  4.  3.]
Value Counts:
mm1b
1.0    5526
4.0    1272
2.0     704
3.0     467
Name: count, dtype: int64
Missing Values: 20423
Sample Values:
       mm1b
4183    NaN
12992   NaN
26385   NaN
19167   2.0
18295   1.0

--------------------------------------------------

Based on the results, hereâ€™s how we can consolidate the mobile_phone_usage column.

Key Observations from the Analysis
1. Columns Related to Device Ownership (te1_1_*)
te1_1_1 : Indicates whether the individual uses a mobile phone.
1.0: Uses a mobile phone.
2.0: Does not use a mobile phone.
te1_1_2 : Indicates whether the individual uses a tablet.
1.0: Uses a tablet.
2.0: Does not use a tablet.
te1_1_3 : Indicates whether the individual uses a computer or laptop.
1.0: Uses a computer/laptop.
2.0: Does not use a computer/laptop.
te1_1_4 : Indicates whether the individual uses a landline telephone.
1.0: Uses a landline telephone.
2.0: Does not use a landline telephone.
te1_1_5 : Indicates whether the individual uses a 3G/4G/LTE modem/router.
1.0: Uses a 3G/4G/LTE modem/router.
2.0: Does not use a 3G/4G/LTE modem/router.
2. Columns Related to Phone Type (te3_*)
te3_1 : Indicates whether the individual uses a smartphone capable of accessing the internet.
1.0: Uses a smartphone.
0.0: Does not use a smartphone.
NaN: Missing data.
te3_2 : Indicates whether the individual uses a feature phone capable of accessing the internet.
1.0: Uses a feature phone.
0.0: Does not use a feature phone.
NaN: Missing data.
te3_3 : Indicates whether the individual uses a basic phone (only capable of voice calls and SMS).
1.0: Uses a basic phone.
0.0: Does not use a basic phone.
NaN: Missing data.
3. Column Related to Smartphone App Comfort (te4)
te4 : Indicates how comfortable the individual feels about using smartphone apps.
1.0: Very uncomfortable.
2.0: Uncomfortable.
3.0: Neutral.
4.0: Comfortable.
5.0: Very comfortable.
4. Columns Related to Payment Methods (py1a_*)
py1a_11 : Indicates whether the individual has used mobile money in the past 12 months.
1.0: Has used mobile money.
0.0: Has not used mobile money.
py1a_12 : Indicates whether the individual has used e-naira in the past 12 months.
1.0: Has used e-naira.
0.0: Has not used e-naira.
5. Columns Related to Mobile Money Awareness (mm1a, mm1b)
mm1a : Indicates whether the individual has heard of mobile money prior to today.
1.0: Has heard of mobile money.
2.0: Has not heard of mobile money.
mm1b : Indicates the individual's experience level with mobile money.
1.0: Beginner.
2.0: Intermediate.
3.0: Advanced.
4.0: Expert.
NaN: Missing data.

In [122]:
# Time to consolidate

# Step 1: Create binary indicators for mobile phone usage
data['uses_mobile_phone'] = data['te1_1_1'].apply(lambda x: 1 if x == 1.0 else 0)

# Step 2: Categorize phone type
def categorize_phone_type(row):
    if row['te3_1'] == 1.0:
        return 'Smartphone'
    elif row['te3_2'] == 1.0:
        return 'Feature Phone'
    elif row['te3_3'] == 1.0:
        return 'Basic Phone'
    else:
        return 'No Phone'

data['phone_type'] = data.apply(categorize_phone_type, axis=1)

# Step 3: Categorize comfort level with smartphone apps
def categorize_comfort_level(te4):
    if te4 == 1.0:
        return 'Very Uncomfortable'
    elif te4 == 2.0:
        return 'Uncomfortable'
    elif te4 == 3.0:
        return 'Neutral'
    elif te4 == 4.0:
        return 'Comfortable'
    elif te4 == 5.0:
        return 'Very Comfortable'
    else:
        return 'Unknown'

data['comfort_level'] = data['te4'].apply(categorize_comfort_level)

# Step 4: Categorize mobile money usage
def categorize_mobile_money_usage(row):
    if row['py1a_11'] == 1.0:
        return 'Uses Mobile Money'
    elif row['mm1a'] == 1.0:
        return 'Aware of Mobile Money'
    else:
        return 'Not Aware of Mobile Money'

data['mobile_money_usage'] = data.apply(categorize_mobile_money_usage, axis=1)

# Step 5: Combine all indicators into a single string representation
data['mobile_phone_usage'] = (
    'Phone Usage: ' + data['uses_mobile_phone'].astype(str) +
    ', Phone Type: ' + data['phone_type'] +
    ', Comfort Level: ' + data['comfort_level'] +
    ', Mobile Money: ' + data['mobile_money_usage']
)

# Display the consolidated column
print(data[['uses_mobile_phone', 'phone_type', 'comfort_level', 'mobile_money_usage', 'mobile_phone_usage']].head())

   uses_mobile_phone     phone_type       comfort_level  \
0                  1  Feature Phone         Comfortable
1                  1    Basic Phone             Neutral
2                  1    Basic Phone       Uncomfortable
3                  0       No Phone  Very Uncomfortable
4                  0       No Phone         Comfortable

          mobile_money_usage  \
0  Not Aware of Mobile Money
1  Not Aware of Mobile Money
2  Not Aware of Mobile Money
3  Not Aware of Mobile Money
4  Not Aware of Mobile Money

                                  mobile_phone_usage
0  Phone Usage: 1, Phone Type: Feature Phone, Com...
1  Phone Usage: 1, Phone Type: Basic Phone, Comfo...
2  Phone Usage: 1, Phone Type: Basic Phone, Comfo...
3  Phone Usage: 0, Phone Type: No Phone, Comfort ...
4  Phone Usage: 0, Phone Type: No Phone, Comfort ...

### 11, credit_access

 Letâ€™s proceed with the column credit_access .

Step 1: Identify Relevant Columns
Based on the dataset's structure and naming conventions, the following columns are likely candidates for deriving credit_access :

lc1_1 : Indicates whether the individual borrowed money in the past 12 months.
lc1_2 : Indicates whether the individual has been paying back borrowed money.
lc2a_* : Indicates who the individual borrowed money from (e.g., bank, microfinance institution, family/friends, etc.).
lc4_other : Free-text responses explaining why the individual did not borrow money.
qf6_1_10 , qf6_2_10 , qf6_4_10 , etc.: Indicate whether the individual borrowed money from specific institutions (e.g., commercial banks, microfinance banks, mortgage institutions, etc.).
f4a_17 , f4a_18 , f4a_19 : Indicate whether the individual bought goods on credit, hired purchase, or used a credit card in the past year.
finhealth_resilience : Indicates the individual's financial resilience, which may correlate with access to credit.
finneeds_resilience : Indicates the individual's need for financial resilience, which may also correlate with credit access.

In [123]:
# Define relevant columns
relevant_columns = [
    'lc1_1', 'lc1_2', 'lc2a_1', 'lc2a_2', 'lc2a_3', 'lc2a_4', 'lc2a_5', 'lc2a_6',
    'lc2a_7', 'lc2a_8', 'lc2a_9', 'lc2a_10', 'lc4_other',
    'qf6_1_10', 'qf6_2_10', 'qf6_4_10', 'qf6_5_10', 'qf6_8_10',
    'f4a_17', 'f4a_18', 'f4a_19',
    'finhealth_resilience', 'finneeds_resilience'
]

# Analyze each column
for column in relevant_columns:
    print(f"--- Analysis for Column: {column} ---")
    
    # Step 1: Check the column type
    print(f"Data Type: {data[column].dtype}")
    
    # Step 2: List unique values
    unique_values = data[column].unique()
    print(f"Unique Values ({len(unique_values)}): {unique_values}")
    
    # Step 3: Show value counts (frequency of each unique value)
    print("Value Counts:")
    print(data[column].value_counts())
    
    # Step 4: Count missing values
    missing_values = data[column].isnull().sum()
    print(f"Missing Values: {missing_values}")
    
    # Step 5: Show sample values
    print("Sample Values:")
    print(data[[column]].sample(5))
    
    print("\n" + "-"*50 + "\n")

--- Analysis for Column: lc1_1 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
lc1_1
2.0    21303
1.0     7089
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       lc1_1
22597    2.0
24868    2.0
10854    2.0
13308    2.0
1767     2.0

--------------------------------------------------

--- Analysis for Column: lc1_2 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
lc1_2
2.0    25815
1.0     2577
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       lc1_2
11471    2.0
8980     2.0
25787    2.0
27399    2.0
9183     2.0

--------------------------------------------------

--- Analysis for Column: lc2a_1 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_1
0.0    8302
1.0     322
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_1
9120      NaN
18751     1.0
24972     NaN
3092      NaN
3104      NaN

--------------------------------------------------

--- Analysis for Column: lc2a_2 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_2
0.0    8319
1.0     305
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_2
19924     NaN
4197      0.0
6430      NaN
12726     0.0
25718     NaN

--------------------------------------------------

--- Analysis for Column: lc2a_3 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_3
0.0    8573
1.0      51
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_3
27297     0.0
15506     NaN
7718      0.0
27533     0.0
23996     NaN

--------------------------------------------------

--- Analysis for Column: lc2a_4 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_4
0.0    8599
1.0      25
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_4
23605     NaN
11534     0.0
5603      0.0
3599      NaN
27608     0.0

--------------------------------------------------

--- Analysis for Column: lc2a_5 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_5
0.0    8592
1.0      32
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_5
18886     0.0
347       NaN
8900      NaN
10182     NaN
26840     NaN

--------------------------------------------------

--- Analysis for Column: lc2a_6 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_6
0.0    8592
1.0      32
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_6
6673      NaN
27356     NaN
1108      0.0
26411     0.0
7805      NaN

--------------------------------------------------

--- Analysis for Column: lc2a_7 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_7
0.0    8588
1.0      36
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_7
25418     0.0
10360     NaN
10174     NaN
20508     0.0
15918     NaN

--------------------------------------------------

--- Analysis for Column: lc2a_8 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_8
0.0    8531
1.0      93
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_8
6608      0.0
7008      NaN
11269     0.0
14933     NaN
26614     NaN

--------------------------------------------------

--- Analysis for Column: lc2a_9 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_9
0.0    8536
1.0      88
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_9
13854     0.0
474       NaN
4498      NaN
13483     NaN
4164      NaN

--------------------------------------------------

--- Analysis for Column: lc2a_10 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
lc2a_10
0.0    8584
1.0      40
Name: count, dtype: int64
Missing Values: 19768
Sample Values:
       lc2a_10
18237      NaN
25566      NaN
1875       NaN
15885      NaN
20214      NaN

--------------------------------------------------

--- Analysis for Column: lc4_other ---
Data Type: object
Unique Values (201): ['' 'What I need now is with me ,so there is no need to borrow'
 "I don't have a regular income" 'Nothing' "I don't like borrowing"
 "I don't want to be a debtor to anyone" 'Ban taba ba'
 "I don't have means of paying back" 'Am scared to collect loan'
 "Don't have much of source of income"
 "I don't want bo borrow and learn don't have money to pay back"
 "Am old i don't want to collect or borrow money from people"
 "Ko na tambaya ba'a bani" 'Because I have it'
 'Afraid to borrow money from people' 'Dont have the means to pay back'
 'No source of repayment' 'I cannot  work so that I can refund  the  loan'
 'No source  of  repayment' "Can't  refund"
 'I want problem with anybody am a man of principle' "Don't have the need"
 'Dont like to borrow' "Because I don't know where to borrow from"
 "I don't want to be disgraced" "I don't work"
 'I am scared of not being able to pay back'
 "Because I don't have money to pay back" "I don't have money to pay back"
 "Because I know I can't pay back" 'Am just being patience'
 'Fear of not being able to payback' 'My parents will allow me to borrow'
 "I don't want to have problem with anyone"
 'Because  I am not to sure of my income' 'Not applicable'
 "Don't have money to pay back"
 "If should collect loan I don't have a means of paying back"
 "I don't want to disappoint someone" 'My parents are not in support'
 "Parents won't allow it"
 "Haven't had any reason to borrow for the past 12 months"
 'Save money in different sources' 'Borrowed from a friend'
 'If I need money I have goods and livestock to sell' 'No reason' 'NA'
 'STILL A CHILD'
 "When u collect it u don't know what tomorrow will be death can occur"
 "When I collect it I don't think I can have a means of refunding"
 'No body to give u' "I'm satisfied with what I have now."
 "I can't pay back" 'They use to give me' "Can't afford to pay back"
 "I'm scared to borrow" 'My parents are providing for me'
 "Don't want embarrassment" 'Not to put my children to future trouble'
 "I don't borrow money because of fear"
 "To avoid shame when I can't pay at the agreed time" "Don't have anyone"
 'My late father warned me against borrowing.'
 "Don't want disgrace and troubles" 'Borrowed and paid back'
 "Don't want wahala" 'Borrowed' 'Afraid of trouble'
 'Trying to avoid problems' 'Afraid of embarrassment'
 "I don't want to borrow to avoid problems" "I tried but wasn't given"
 'To avoid problems' 'Never borrow' 'None relevant questions'
 "Don't want trouble" 'I try to avoid embarrassment'
 'To avoid embarrassments' "I don't  borrow  my children  provide  for me"
 'They are wicked' 'My parent  are taking  care  of me'
 "I'm afraid  of credit" 'Fear' 'I dont  borrow' 'Scared  of my husband'
 'If I borrow  I might not be able to pay back' 'I like my peace'
 'I manage  what comes in' "I'm student"
 "She doesn't know how to pay back"
 "I don't like it reason being that I don't like people coming to tell me that I owed them money."
 "I don't have what I will use and pay for it" 'Do not like borrowing'
 "Don't know how to pay back" 'I dey fear to borrow' 'I dey fear'
 "Don't like it" 'I nor like am' "I don't like it"
 "Don't know if I can pay back" 'Am old' 'Am old woma'
 'I dont want trouble' 'None' 'Because of interest' 'Am afraid'
 'Am afraid of borrowing money' "I don't need it for now"
 'Am already borrow money' 'Not up to the age' 'Am not up to the age'
 'Bank refused to give me loan because am a pensioner'
 'No means to pay back' 'There isnt need for me to borrow'
 'Just like that' 'No one will give me' 'Fears'
 'I dont like borrowing its against my protocol'
 'My children makes sure I do not lack anything'
 'My vhildren will get angry if they  hear I borrowed money'
 "My chicane good care of me that I don't have to borrow"
 "I don't invest in what I cannot afford"
 "She said that she have phobia for borrowing money, that's why she prefer depending on God than borrowing."
 'Do not want to expose his household needs to people'
 'Who will borrow a old woman like me'
 'Family member take care of my needs' "I don't have means to pay"
 "Because am not  up to the age and I don't have  money to pay  back"
 "I'm relying on my husband  so I don't have means of paying"
 'Afraid to be humiliated if failed to repay on time' "Don't need loan."
 "Don't want it" 'Am still paying the loan l got since 3 years ago'
 "Don't  like borrowing" 'Available loans is too small'
 'Not yet have a business to invest in' 'No income to pay it back'
 'Income is not regular' 'I am not sure how to pay back'
 "I didn't reach to borrow" 'I do no want to borrow'
 'I have fears on debt and God has been  faithful  to me'
 'Cin Bashi haramun ne' 'Scared of disgrace' 'Too old for it'
 'Kos nan timafisan' 'Mitimasise' 'Monitoring perusal owomi'
 'Government should borrow me money' 'Monsieur oko' 'Kksibiti motifeyawo'
 'Mireyan yami' 'Milorun gbese' 'Koreyanya' 'Olohun lonse'
 'Wonlemi owoyiya' 'I borrowed money' 'Motidarugbo'
 "I don't put myself into financial problem" 'Is not necessary'
 "I can't paid it" 'Not interested in borrowing money' 'Mogbekekeisemi'
 'Leyin isemi' 'Mifewala' 'Isemi otosemo' 'Kosi' 'Moni nkan tonmowale'
 'Modako' 'Minifesi' 'Erumanbami' 'Kolemigbese' 'Kosenitofeyamilowo'
 'Kosi owo' 'Kowumiya' "I don't like embarrassment"
 'There is no way to repay' 'My children wont allow it'
 "My mother won't allow me"
 "My mom warn me never to borrow since I don't have a job"
 'My husband warm not borrow money' 'Parents will not allow me'
 'My are the taking care of my bills'
 "My parents won't let me borrow because I'm still young"
 'My parents are the onc paying bills' "I'm scared to be indebt"
 "I don't want to fight with the owner" 'I am afraid of Harassment'
 'My parents pay my bills' 'Afraid of Embarrassment'
 'I am contemted with what I have'
 'I hate embarrassment,  My spouse will not accept'
 'To avoid embarrassment' 'My children are always there for me'
 'I am afraid of loan' 'I am afraid' 'My family members paid for my needs'
 "Don't want embarrassment and disturbance" 'Rely on Someone'
 'Parents take care of everything' 'Rely on God']
Value Counts:
lc4_other
                           28119
Nothing                       37
NA                            10
No reason                      8
Not applicable                 6
                           ...
To avoid problems              1
Never borrow                   1
None relevant questions        1
Don't want trouble             1
Rely on God                    1
Name: count, Length: 201, dtype: int64
Missing Values: 0
Sample Values:
         lc4_other
8963
22827  Leyin isemi
24816
12858
5140

--------------------------------------------------

--- Analysis for Column: qf6_1_10 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
qf6_1_10
0.0    11251
1.0      435
Name: count, dtype: int64
Missing Values: 16706
Sample Values:
       qf6_1_10
3           NaN
22237       0.0
8358        0.0
18904       0.0
25719       NaN

--------------------------------------------------

--- Analysis for Column: qf6_2_10 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
qf6_2_10
1.0    364
0.0    233
Name: count, dtype: int64
Missing Values: 27795
Sample Values:
       qf6_2_10
17372       NaN
26509       NaN
12221       NaN
19572       NaN
318         NaN

--------------------------------------------------

--- Analysis for Column: qf6_4_10 ---
Data Type: float64
Unique Values (3): [nan  1.  0.]
Value Counts:
qf6_4_10
0.0    44
1.0     2
Name: count, dtype: int64
Missing Values: 28346
Sample Values:
       qf6_4_10
18338       NaN
14424       NaN
6633        NaN
3054        NaN
3748        NaN

--------------------------------------------------

--- Analysis for Column: qf6_5_10 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
qf6_5_10
0.0    2738
1.0     106
Name: count, dtype: int64
Missing Values: 25548
Sample Values:
       qf6_5_10
19381       NaN
14771       NaN
17909       NaN
12573       NaN
16034       NaN

--------------------------------------------------

--- Analysis for Column: qf6_8_10 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
qf6_8_10
0.0    167
1.0     10
Name: count, dtype: int64
Missing Values: 28215
Sample Values:
       qf6_8_10
26303       NaN
2431        NaN
1543        NaN
8347        NaN
10587       NaN

--------------------------------------------------

--- Analysis for Column: f4a_17 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
f4a_17
0.0    22850
1.0      243
Name: count, dtype: int64
Missing Values: 5299
Sample Values:
       f4a_17
21519     0.0
13082     0.0
6506      0.0
16145     0.0
11162     0.0

--------------------------------------------------

--- Analysis for Column: f4a_18 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
f4a_18
0.0    22956
1.0      137
Name: count, dtype: int64
Missing Values: 5299
Sample Values:
       f4a_18
21656     0.0
10471     NaN
22825     0.0
12718     0.0
74        NaN

--------------------------------------------------

--- Analysis for Column: f4a_19 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
f4a_19
0.0    23026
1.0       67
Name: count, dtype: int64
Missing Values: 5299
Sample Values:
       f4a_19
647       0.0
22368     0.0
20731     0.0
15030     NaN
12047     0.0

--------------------------------------------------

--- Analysis for Column: finhealth_resilience ---
Data Type: float64
Unique Values (3): [1. 0. 2.]
Value Counts:
finhealth_resilience
0.0    15876
2.0     6559
1.0     5957
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       finhealth_resilience
15689                   1.0
10478                   0.0
10601                   1.0
23901                   1.0
6508                    0.0

--------------------------------------------------

--- Analysis for Column: finneeds_resilience ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
finneeds_resilience
1.0    14623
2.0    13769
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       finneeds_resilience
28219                  1.0
10692                  2.0
24759                  2.0
4082                   1.0
17516                  1.0

--------------------------------------------------

Based on the provided outputs, here's how we can consolidate the credit_access column.

Key Observations from the Analysis
1. Columns Related to Borrowing Behavior (lc1_*)
lc1_1 : Indicates whether the individual borrowed money in the past 12 months.
1.0: Borrowed money.
0.0: Did not borrow money.
lc1_2 : Indicates whether the individual has been paying back borrowed money.
1.0: Paying back borrowed money.
0.0: Not paying back borrowed money.
2. Columns Related to Borrowing Sources (lc2a_*)
lc2a_1 to lc2a_10 : Indicate who the individual borrowed money from (e.g., family/friends, banks, microfinance institutions, etc.).
1.0: Borrowed from this source.
0.0: Did not borrow from this source.
lc2a_other : Free-text responses explaining other borrowing sources.
3. Columns Related to Financial Service Providers (qf6_*)
qf6_1_10, qf6_2_10, etc. : Indicate whether specific financial service providers (e.g., commercial banks, microfinance banks, etc.) were used for borrowing.
1.0: Used this provider.
0.0: Did not use this provider.
NaN: Missing data.
4. Columns Related to Financial Resilience (finhealth_resilience, finneeds_resilience)
finhealth_resilience : Indicates the individual's financial resilience.
1.0: Low resilience.
2.0: High resilience.
finneeds_resilience : Indicates the individual's need for financial resilience.
1.0: Low need.
2.0: High need.
5. Columns Related to Credit Usage (f4a_*)
f4a_17, f4a_18, f4a_19 : Indicate whether the individual bought goods on credit, hired purchase, or used a credit card in the past year.
1.0: Used credit.
0.0: Did not use credit.

In [ ]:
# Time to consolidate

# Step 1: Create binary indicators for borrowing behavior
data['borrowed_money'] = data['lc1_1'].apply(lambda x: 1 if x == 1.0 else 0)

# Step 2: Categorize borrowing sources
def categorize_borrowing_source(row):
    if row['lc2a_1'] == 1.0:
        return 'Family/Friends'
    elif row['lc2a_2'] == 1.0:
        return 'Bank'
    elif row['lc2a_3'] == 1.0:
        return 'Microfinance Institution'
    elif pd.notna(row['lc2a_other']) and row['lc2a_other'].strip() != '':
        return 'Other'
    else:
        return 'No Borrowing Source'

data['borrowing_source'] = data.apply(categorize_borrowing_source, axis=1)

# Step 3: Identify financial service providers used
def identify_financial_providers(row):
    providers = []
    if row['qf6_1_10'] == 1.0:
        providers.append('Commercial Bank')
    if row['qf6_2_10'] == 1.0:
        providers.append('Microfinance Bank')
    # Add more providers as needed
    return ', '.join(providers) if providers else 'None'

data['financial_providers'] = data.apply(identify_financial_providers, axis=1)

# Step 4: Identify credit usage
def identify_credit_usage(row):
    if row['f4a_17'] == 1.0 or row['f4a_18'] == 1.0 or row['f4a_19'] == 1.0:
        return 'Used Credit'
    else:
        return 'No Credit Usage'

data['credit_usage'] = data.apply(identify_credit_usage, axis=1)

# Step 5: Combine all indicators into a single string representation
data['credit_access'] = (
    'Borrowed Money: ' + data['borrowed_money'].astype(str) +
    ', Borrowing Source: ' + data['borrowing_source'] +
    ', Financial Providers: ' + data['financial_providers'] +
    ', Credit Usage: ' + data['credit_usage']
)

# Display the consolidated column
print(data[['borrowed_money', 'borrowing_source', 'financial_providers', 'credit_usage', 'credit_access']].head())

   borrowed_money     borrowing_source financial_providers     credit_usage  \
0               0  No Borrowing Source                None  No Credit Usage
1               0  No Borrowing Source                None  No Credit Usage
2               0  No Borrowing Source                None  No Credit Usage
3               0  No Borrowing Source                None  No Credit Usage
4               0  No Borrowing Source                None  No Credit Usage

                                       credit_access
0  Borrowed Money: 0, Borrowing Source: No Borrow...
1  Borrowed Money: 0, Borrowing Source: No Borrow...
2  Borrowed Money: 0, Borrowing Source: No Borrow...
3  Borrowed Money: 0, Borrowing Source: No Borrow...
4  Borrowed Money: 0, Borrowing Source: No Borrow...

### 12, small_business_ownership

Letâ€™s proceed with the column small_business_ownership .

Step 1: Identify Relevant Columns
Based on the dataset's structure and naming conventions, the following columns are likely candidates for deriving small_business_ownership :

gen3_8 : Indicates whether the individual owns non-farm business equipment (e.g., sewing machine, brick-making machine).
gen3_9 : Indicates whether the individual owns large consumer durables (e.g., refrigerator, TV, sofa), which could be used for business purposes.
gen3_10 : Indicates whether the individual owns small consumer durables (e.g., radio, cookware), which might also be relevant for small-scale businesses.
gen3_11 : Indicates whether the individual owns a mobile phone, which is often essential for running a business.
gen3_12 : Indicates whether the individual owns a means of transportation (e.g., bicycle, motorcycle, car), which could support business operations.
gen5_8 : Indicates whether the individual can sell or lease non-farm business equipment without anyone's permission.
cc1_* : Indicates the individual's involvement in various income-generating activities (e.g., agriculture, trade, services).
cc3 : Indicates the primary source of income, which may include small business ownership.
cc4_* : Indicates secondary sources of income, which may also include small business activities.
pc1_* : Indicates proximity to markets, shops, and other services, which could correlate with business ownership.

In [125]:
# Define relevant columns
relevant_columns = [
    'gen3_8', 'gen3_9', 'gen3_10', 'gen3_11', 'gen3_12',
    'gen5_8', 'cc1_1', 'cc1_2', 'cc1_3', 'cc1_4', 'cc1_5', 'cc1_6', 'cc1_7',
    'cc3', 'cc4_1', 'cc4_2', 'cc4_3', 'cc4_4', 'cc4_5', 'cc4_6', 'cc4_7',
    'pc1_1', 'pc1_2', 'pc1_3', 'pc1_4', 'pc1_5', 'pc1_6', 'pc1_7', 'pc1_8', 'pc1_9', 'pc1_10', 'pc1_11', 'pc1_12'
]

# Analyze each column
for column in relevant_columns:
    print(f"--- Analysis for Column: {column} ---")
    
    # Step 1: Check the column type
    print(f"Data Type: {data[column].dtype}")
    
    # Step 2: List unique values
    unique_values = data[column].unique()
    print(f"Unique Values ({len(unique_values)}): {unique_values}")
    
    # Step 3: Show value counts (frequency of each unique value)
    print("Value Counts:")
    print(data[column].value_counts())
    
    # Step 4: Count missing values
    missing_values = data[column].isnull().sum()
    print(f"Missing Values: {missing_values}")
    
    # Step 5: Show sample values
    print("Sample Values:")
    print(data[[column]].sample(5))
    
    print("\n" + "-"*50 + "\n")

--- Analysis for Column: gen3_8 ---
Data Type: float64
Unique Values (3): [3. 2. 1.]
Value Counts:
gen3_8
3.0    26924
1.0     1164
2.0      304
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       gen3_8
17643     2.0
13498     3.0
17264     3.0
19556     3.0
4011      3.0

--------------------------------------------------

--- Analysis for Column: gen3_9 ---
Data Type: float64
Unique Values (3): [3. 2. 1.]
Value Counts:
gen3_9
3.0    21924
1.0     5053
2.0     1415
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       gen3_9
23740     3.0
17767     3.0
24042     3.0
24065     3.0
3149      3.0

--------------------------------------------------

--- Analysis for Column: gen3_10 ---
Data Type: float64
Unique Values (3): [1. 3. 2.]
Value Counts:
gen3_10
3.0    21018
1.0     6164
2.0     1210
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       gen3_10
18276      1.0
26832      1.0
59         3.0
10536      3.0
23995      3.0

--------------------------------------------------

--- Analysis for Column: gen3_11 ---
Data Type: float64
Unique Values (3): [1. 3. 2.]
Value Counts:
gen3_11
1.0    19046
3.0     8679
2.0      667
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       gen3_11
21367      1.0
1048       1.0
23318      1.0
24510      3.0
16152      1.0

--------------------------------------------------

--- Analysis for Column: gen3_12 ---
Data Type: float64
Unique Values (3): [1. 3. 2.]
Value Counts:
gen3_12
3.0    23593
1.0     4104
2.0      695
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       gen3_12
22930      3.0
23516      3.0
20545      3.0
10744      3.0
22276      3.0

--------------------------------------------------

--- Analysis for Column: gen5_8 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
gen5_8
1.0    937
2.0    598
Name: count, dtype: int64
Missing Values: 26857
Sample Values:
       gen5_8
1135      NaN
27654     NaN
26097     NaN
20722     NaN
10918     NaN

--------------------------------------------------

--- Analysis for Column: cc1_1 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_1
2.0    23876
1.0     4516
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_1
11356    2.0
11880    2.0
9283     2.0
21162    2.0
16564    2.0

--------------------------------------------------

--- Analysis for Column: cc1_2 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_2
2.0    26327
1.0     2065
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_2
18087    2.0
19697    2.0
22459    2.0
7120     2.0
27590    2.0

--------------------------------------------------

--- Analysis for Column: cc1_3 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_3
2.0    27259
1.0     1133
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_3
2093     2.0
22589    2.0
17968    2.0
27907    2.0
20496    2.0

--------------------------------------------------

--- Analysis for Column: cc1_4 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_4
2.0    26321
1.0     2071
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_4
7652     2.0
3122     2.0
10636    2.0
23639    2.0
18209    2.0

--------------------------------------------------

--- Analysis for Column: cc1_5 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_5
2.0    27296
1.0     1096
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_5
5976     2.0
21250    2.0
23180    2.0
3246     2.0
23300    2.0

--------------------------------------------------

--- Analysis for Column: cc1_6 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_6
2.0    26437
1.0     1955
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_6
19346    2.0
16916    2.0
7365     2.0
21706    2.0
28136    2.0

--------------------------------------------------

--- Analysis for Column: cc1_7 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_7
2.0    28239
1.0      153
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_7
6873     2.0
15548    2.0
22751    2.0
5075     2.0
15435    2.0

--------------------------------------------------

--- Analysis for Column: cc3 ---
Data Type: float64
Unique Values (150): [         nan -9.60000e+01  1.00000e+04  2.00000e+03  2.00000e+04
  3.00000e+04  2.50000e+03  5.00000e+03  3.00000e+03  2.75000e+04
  5.00000e+04  3.50000e+04  1.00000e+05  7.00000e+05  4.00000e+04
  5.00000e+05  5.20000e+04  2.68000e+05  2.50000e+05  2.00000e+05
  1.00000e+03  1.60000e+04  6.00000e+03  8.00000e+03  9.00000e+04
  7.50000e+03  3.70000e+03  1.50000e+03  6.00000e+04  1.50000e+04
  8.00000e+04  2.00000e+06  9.50000e+04  1.20000e+04  7.00000e+04
  1.30000e+04  4.00000e+05  4.60000e+04  3.00000e+05  7.00000e+03
  2.50000e+04  3.00000e+02  1.25000e+04  4.00000e+03  4.50000e+05
  1.50000e+05  8.00000e+05  2.65000e+05  1.30000e+05  1.20000e+05
  5.95000e+03  6.00000e+05  4.30000e+03  1.30000e+06  1.95000e+05
  3.50000e+05  1.70000e+05  1.40000e+05  1.60000e+05  6.50000e+05
  4.50000e+04  1.25000e+05  7.80000e+04  9.20000e+04  7.50000e+04
  5.50000e+03  3.90000e+03  9.00000e+03  1.80000e+04  4.50000e+03
  3.50000e+03  4.20000e+04  1.70000e+04  6.50000e+03  8.60000e+04
  1.90000e+04  6.80000e+03  8.50000e+03  2.40000e+04  5.50000e+04
  2.20000e+04  1.10000e+05  6.50000e+04  1.70000e+06  2.70000e+04
  2.60000e+05  5.10000e+04  1.00000e+06  5.50000e+05  2.80000e+04
  1.00000e+09  8.50000e+04  8.56800e+04  3.80000e+05  2.00000e+09
  2.10000e+05  1.05000e+05  1.70000e+02  5.60000e+04  2.80000e+05
  6.40000e+04  1.80000e+05  6.20000e+04  2.04000e+04  3.60000e+04
  4.70000e+04  2.47000e+05  1.60000e+03  1.00000e+07  4.68000e+05
  4.30000e+04  3.30000e+04  2.30000e+04  4.20000e+05  3.00008e+05
  3.20000e+05  2.30000e+05  1.50000e+06  3.40000e+05  8.50000e+05
  4.25000e+06  7.20000e+04  5.20000e+05  2.70000e+03  2.10000e+04
  1.10000e+04  7.50000e+05  8.00000e+02  1.00000e+00  2.54000e+05
  1.80000e+07  1.40000e+04  5.00000e+02  5.70000e+04  1.38000e+04
  2.60000e+04  4.80000e+04  5.70000e+03  6.80000e+05  1.20000e+06
  1.85000e+04  1.55000e+04  4.70000e+03  6.70000e+04  8.90000e+04
  3.80000e+04  2.40000e+05  3.70000e+04  3.20000e+04  1.30000e+03]
Value Counts:
cc3
-9.600000e+01    2810
 5.000000e+04     406
 2.000000e+04     312
 1.000000e+04     278
 1.000000e+05     258
                 ...
 8.568000e+04       1
 1.000000e+09       1
 5.500000e+05       1
 5.100000e+04       1
 1.300000e+03       1
Name: count, Length: 149, dtype: int64
Missing Values: 22165
Sample Values:
           cc3
7435       NaN
3711       NaN
27473  50000.0
6272   10000.0
19018      NaN

--------------------------------------------------

--- Analysis for Column: cc4_1 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_1
0.0    4351
1.0    1876
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_1
11935    1.0
3944     NaN
26018    NaN
11465    NaN
14768    NaN

--------------------------------------------------

--- Analysis for Column: cc4_2 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_2
0.0    6195
1.0      32
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_2
14191    NaN
12075    NaN
12282    NaN
18293    NaN
2079     NaN

--------------------------------------------------

--- Analysis for Column: cc4_3 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_3
0.0    6176
1.0      51
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_3
4609     0.0
27815    NaN
981      0.0
10129    NaN
5782     NaN

--------------------------------------------------

--- Analysis for Column: cc4_4 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_4
0.0    6122
1.0     105
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_4
14670    0.0
25738    NaN
25656    NaN
7158     0.0
12274    NaN

--------------------------------------------------

--- Analysis for Column: cc4_5 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_5
0.0    5128
1.0    1099
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_5
4562     0.0
26780    NaN
26695    0.0
26828    1.0
3618     0.0

--------------------------------------------------

--- Analysis for Column: cc4_6 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_6
0.0    5528
1.0     699
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_6
15899    0.0
12237    NaN
3841     NaN
18298    0.0
26804    0.0

--------------------------------------------------

--- Analysis for Column: cc4_7 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_7
0.0    6152
1.0      75
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_7
17180    NaN
18065    0.0
15458    NaN
2672     NaN
1723     0.0

--------------------------------------------------

--- Analysis for Column: pc1_1 ---
Data Type: float64
Unique Values (2): [1. 0.]
Value Counts:
pc1_1
1.0    27305
0.0     1087
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_1
16367    1.0
15014    1.0
1277     1.0
26279    1.0
11606    1.0

--------------------------------------------------

--- Analysis for Column: pc1_2 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_2
0.0    24331
1.0     4061
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_2
9684     0.0
21642    0.0
8570     1.0
6627     0.0
21421    0.0

--------------------------------------------------

--- Analysis for Column: pc1_3 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_3
1.0    14764
0.0    13628
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_3
13516    0.0
23993    0.0
442      0.0
10513    1.0
22047    0.0

--------------------------------------------------

--- Analysis for Column: pc1_4 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_4
0.0    25240
1.0     3152
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_4
7803     0.0
7836     0.0
12851    0.0
1656     0.0
8362     0.0

--------------------------------------------------

--- Analysis for Column: pc1_5 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_5
0.0    27331
1.0     1061
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_5
23561    0.0
101      0.0
10175    0.0
22567    0.0
2179     0.0

--------------------------------------------------

--- Analysis for Column: pc1_6 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_6
0.0    28245
1.0      147
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_6
24285    0.0
11806    0.0
25158    0.0
22856    0.0
16623    0.0

--------------------------------------------------

--- Analysis for Column: pc1_7 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_7
0.0    28231
1.0      161
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_7
8819     0.0
11347    0.0
17478    0.0
11343    0.0
699      0.0

--------------------------------------------------

--- Analysis for Column: pc1_8 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_8
0.0    18955
1.0     9437
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_8
4988     0.0
7164     0.0
26395    0.0
11620    1.0
20011    0.0

--------------------------------------------------

--- Analysis for Column: pc1_9 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_9
1.0    14670
0.0    13722
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_9
685      0.0
9456     0.0
10849    1.0
15994    1.0
18060    1.0

--------------------------------------------------

--- Analysis for Column: pc1_10 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_10
0.0    18269
1.0    10123
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_10
4626      0.0
18786     1.0
25295     1.0
7483      0.0
6106      0.0

--------------------------------------------------

--- Analysis for Column: pc1_11 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_11
0.0    27549
1.0      843
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_11
28149     0.0
10673     0.0
1909      0.0
14114     0.0
21781     0.0

--------------------------------------------------

--- Analysis for Column: pc1_12 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_12
0.0    22437
1.0     5955
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_12
24632     1.0
8986      1.0
16153     1.0
10273     0.0
4194      0.0

--------------------------------------------------

To create the small_business_ownership column, we will:

Binary Indicator for Business Equipment Ownership :

Use gen3_8 to determine whether the individual owns non-farm business equipment.

Assign 1 if gen3_8 == 1.0; otherwise, assign 0.

Categorize Business Tools :

Use gen3_9, gen3_10, gen3_11, and gen3_12 to classify ownership of essential business tools:

"Owns Large Consumer Durables": gen3_9 == 1.0.

"Owns Small Consumer Durables": gen3_10 == 1.0.

"Owns Mobile Phone": gen3_11 == 1.0.

"Owns Transportation": gen3_12 == 1.0.

Control Over Business Assets :

Use gen5_8 to infer control over business assets:

"Full Control": gen5_8 == 1.0.

"Limited Control": gen5_8 == 2.0.

Income-Generating Activities :

Use cc1_* columns to identify involvement in income-generating activities:

"Involved in Agriculture": cc1_1 == 1.0.

"Involved in Trade": cc1_2 == 1.0.

"Involved in Services": cc1_3 == 1.0.

Proximity to Markets and Services :

Use pc1_* columns to assess proximity to markets and services that could support business operations.

Composite Representation :
Combine all indicators into a single string representation (small_business_ownership).

In [126]:
# Now to consolidate

# Step 1: Create binary indicators for business equipment ownership
data['owns_business_equipment'] = data['gen3_8'].apply(lambda x: 1 if x == 1.0 else 0)

# Step 2: Categorize ownership of essential business tools
def categorize_business_tools(row):
    tools = []
    if row['gen3_9'] == 1.0:
        tools.append('Large Consumer Durables')
    if row['gen3_10'] == 1.0:
        tools.append('Small Consumer Durables')
    if row['gen3_11'] == 1.0:
        tools.append('Mobile Phone')
    if row['gen3_12'] == 1.0:
        tools.append('Transportation')
    return ', '.join(tools) if tools else 'No Business Tools'

data['business_tools'] = data.apply(categorize_business_tools, axis=1)

# Step 3: Categorize control over business assets
def categorize_control_over_assets(gen5_8):
    if gen5_8 == 1.0:
        return 'Full Control'
    elif gen5_8 == 2.0:
        return 'Limited Control'
    else:
        return 'Unknown'

data['control_over_assets'] = data['gen5_8'].apply(categorize_control_over_assets)

# Step 4: Identify income-generating activities
def identify_income_activities(row):
    activities = []
    if row['cc1_1'] == 1.0:
        activities.append('Agriculture')
    if row['cc1_2'] == 1.0:
        activities.append('Trade')
    if row['cc1_3'] == 1.0:
        activities.append('Services')
    return ', '.join(activities) if activities else 'No Income Activities'

data['income_activities'] = data.apply(identify_income_activities, axis=1)

# Step 5: Identify proximity to markets and services
def identify_proximity_to_services(row):
    services = []
    if row['pc1_1'] == 1.0:
        services.append('Market')
    if row['pc1_2'] == 1.0:
        services.append('Shop')
    # Add more services as needed
    return ', '.join(services) if services else 'No Proximity to Services'

data['proximity_to_services'] = data.apply(identify_proximity_to_services, axis=1)

# Step 6: Combine all indicators into a single string representation
data['small_business_ownership'] = (
    'Business Equipment: ' + data['owns_business_equipment'].astype(str) +
    ', Business Tools: ' + data['business_tools'] +
    ', Control Over Assets: ' + data['control_over_assets'] +
    ', Income Activities: ' + data['income_activities'] +
    ', Proximity to Services: ' + data['proximity_to_services']
)

# Display the consolidated column
print(data[['owns_business_equipment', 'business_tools', 'control_over_assets',
            'income_activities', 'proximity_to_services', 'small_business_ownership']].head())

   owns_business_equipment                                     business_tools  \
0                        0  Small Consumer Durables, Mobile Phone, Transpo...
1                        0              Small Consumer Durables, Mobile Phone
2                        0              Small Consumer Durables, Mobile Phone
3                        0                                  No Business Tools
4                        0                                  No Business Tools

  control_over_assets     income_activities proximity_to_services  \
0             Unknown  No Income Activities                Market
1             Unknown  No Income Activities                Market
2             Unknown  No Income Activities                Market
3             Unknown  No Income Activities                Market
4             Unknown  No Income Activities                Market

                            small_business_ownership
0  Business Equipment: 0, Business Tools: Small C...
1  Business Equipment: 0, Business Tools: Small C...
2  Business Equipment: 0, Business Tools: Small C...
3  Business Equipment: 0, Business Tools: No Busi...
4  Business Equipment: 0, Business Tools: No Busi...

### 13, entrepreneurship


Letâ€™s proceed with the column entrepreneurship .

Step 1: Identify Relevant Columns
Based on the dataset's structure and naming conventions, the following columns are likely candidates for deriving entrepreneurship :

cc1_* : Indicates involvement in income-generating activities (e.g., agriculture, trade, services).
cc3 : Indicates the primary source of income, which may include entrepreneurship.
cc4_* : Indicates secondary sources of income, which may also include entrepreneurial activities.
gen3_8 : Indicates ownership of non-farm business equipment (e.g., sewing machine, brick-making machine), which is often associated with entrepreneurship.
gen5_8 : Indicates whether the individual can sell or lease non-farm business equipment without anyone's permission, suggesting control over entrepreneurial assets.
pc1_* : Indicates proximity to markets, shops, and other services, which could correlate with entrepreneurial activities.
e13a_* : Indicates the sector(s) in which the individual's source(s) of income falls, which may include entrepreneurial sectors like trade, manufacturing, or services.
e13b : Indicates the number of people employed in the individual's business, if applicable.
lc2a_* : Indicates borrowing sources, which may include loans for entrepreneurial purposes (e.g., microfinance institutions, savings groups).
qf6_* : Indicates activities done using financial institutions, such as borrowing money or making investments, which may be linked to entrepreneurship.

In [130]:
# Define relevant columns
relevant_columns = [
    'cc1_1', 'cc1_2', 'cc1_3', 'cc1_4', 'cc1_5', 'cc1_6', 'cc1_7',
    'cc3', 'cc4_1', 'cc4_2', 'cc4_3', 'cc4_4', 'cc4_5', 'cc4_6', 'cc4_7',
    'gen3_8', 'gen5_8',
    'pc1_1', 'pc1_2', 'pc1_3', 'pc1_4', 'pc1_5', 'pc1_6', 'pc1_7', 'pc1_8', 'pc1_9', 'pc1_10', 'pc1_11', 'pc1_12',
    'e13a_1', 'e13a_2', 'e13a_3', 'e13a_4', 'e13a_5', 'e13a_6', 'e13a_7', 'e13a_8', 'e13a_9', 'e13a_10', 'e13a_other',
    'e13b',
    'lc2a_1', 'lc2a_2', 'lc2a_3', 'lc2a_4', 'lc2a_5', 'lc2a_6', 'lc2a_7', 'lc2a_8', 'lc2a_9', 'lc2a_10', 'lc2a_11',
    'lc2a_12', 'lc2a_13', 'lc2a_14', 'lc2a_15', 'lc2a_16', 'lc2a_other',
    'qf6_1_10', 'qf6_2_10', 'qf6_3_10', 'qf6_4_10', 'qf6_5_10', 'qf6_6_10', 'qf6_7_10', 'qf6_8_10'
]

# Analyze each column
for column in relevant_columns:
    print(f"--- Analysis for Column: {column} ---")
    
    # Step 1: Check the column type
    print(f"Data Type: {data[column].dtype}")
    
    # Step 2: List unique values
    unique_values = data[column].unique()
    print(f"Unique Values ({len(unique_values)}): {unique_values}")
    
    # Step 3: Show value counts (frequency of each unique value)
    print("Value Counts:")
    print(data[column].value_counts())
    
    # Step 4: Count missing values
    missing_values = data[column].isnull().sum()
    print(f"Missing Values: {missing_values}")
    
    # Step 5: Show sample values
    print("Sample Values:")
    print(data[[column]].sample(5))
    
    print("\n" + "-"*50 + "\n")

--- Analysis for Column: cc1_1 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_1
2.0    23876
1.0     4516
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_1
3818     2.0
16789    2.0
191      2.0
14682    2.0
14039    2.0

--------------------------------------------------

--- Analysis for Column: cc1_2 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_2
2.0    26327
1.0     2065
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_2
11740    2.0
11524    2.0
23646    2.0
2712     2.0
10207    2.0

--------------------------------------------------

--- Analysis for Column: cc1_3 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_3
2.0    27259
1.0     1133
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_3
10543    2.0
13871    2.0
19809    2.0
9010     2.0
12765    1.0

--------------------------------------------------

--- Analysis for Column: cc1_4 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_4
2.0    26321
1.0     2071
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_4
27643    2.0
14309    2.0
15623    2.0
2138     2.0
14223    2.0

--------------------------------------------------

--- Analysis for Column: cc1_5 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_5
2.0    27296
1.0     1096
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_5
19995    2.0
9743     2.0
25858    2.0
7208     2.0
18719    2.0

--------------------------------------------------

--- Analysis for Column: cc1_6 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_6
2.0    26437
1.0     1955
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_6
2569     2.0
10622    2.0
8287     1.0
17812    2.0
1149     2.0

--------------------------------------------------

--- Analysis for Column: cc1_7 ---
Data Type: float64
Unique Values (2): [2. 1.]
Value Counts:
cc1_7
2.0    28239
1.0      153
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       cc1_7
28020    2.0
14537    2.0
4829     2.0
16424    2.0
10303    2.0

--------------------------------------------------

--- Analysis for Column: cc3 ---
Data Type: float64
Unique Values (150): [         nan -9.60000e+01  1.00000e+04  2.00000e+03  2.00000e+04
  3.00000e+04  2.50000e+03  5.00000e+03  3.00000e+03  2.75000e+04
  5.00000e+04  3.50000e+04  1.00000e+05  7.00000e+05  4.00000e+04
  5.00000e+05  5.20000e+04  2.68000e+05  2.50000e+05  2.00000e+05
  1.00000e+03  1.60000e+04  6.00000e+03  8.00000e+03  9.00000e+04
  7.50000e+03  3.70000e+03  1.50000e+03  6.00000e+04  1.50000e+04
  8.00000e+04  2.00000e+06  9.50000e+04  1.20000e+04  7.00000e+04
  1.30000e+04  4.00000e+05  4.60000e+04  3.00000e+05  7.00000e+03
  2.50000e+04  3.00000e+02  1.25000e+04  4.00000e+03  4.50000e+05
  1.50000e+05  8.00000e+05  2.65000e+05  1.30000e+05  1.20000e+05
  5.95000e+03  6.00000e+05  4.30000e+03  1.30000e+06  1.95000e+05
  3.50000e+05  1.70000e+05  1.40000e+05  1.60000e+05  6.50000e+05
  4.50000e+04  1.25000e+05  7.80000e+04  9.20000e+04  7.50000e+04
  5.50000e+03  3.90000e+03  9.00000e+03  1.80000e+04  4.50000e+03
  3.50000e+03  4.20000e+04  1.70000e+04  6.50000e+03  8.60000e+04
  1.90000e+04  6.80000e+03  8.50000e+03  2.40000e+04  5.50000e+04
  2.20000e+04  1.10000e+05  6.50000e+04  1.70000e+06  2.70000e+04
  2.60000e+05  5.10000e+04  1.00000e+06  5.50000e+05  2.80000e+04
  1.00000e+09  8.50000e+04  8.56800e+04  3.80000e+05  2.00000e+09
  2.10000e+05  1.05000e+05  1.70000e+02  5.60000e+04  2.80000e+05
  6.40000e+04  1.80000e+05  6.20000e+04  2.04000e+04  3.60000e+04
  4.70000e+04  2.47000e+05  1.60000e+03  1.00000e+07  4.68000e+05
  4.30000e+04  3.30000e+04  2.30000e+04  4.20000e+05  3.00008e+05
  3.20000e+05  2.30000e+05  1.50000e+06  3.40000e+05  8.50000e+05
  4.25000e+06  7.20000e+04  5.20000e+05  2.70000e+03  2.10000e+04
  1.10000e+04  7.50000e+05  8.00000e+02  1.00000e+00  2.54000e+05
  1.80000e+07  1.40000e+04  5.00000e+02  5.70000e+04  1.38000e+04
  2.60000e+04  4.80000e+04  5.70000e+03  6.80000e+05  1.20000e+06
  1.85000e+04  1.55000e+04  4.70000e+03  6.70000e+04  8.90000e+04
  3.80000e+04  2.40000e+05  3.70000e+04  3.20000e+04  1.30000e+03]
Value Counts:
cc3
-9.600000e+01    2810
 5.000000e+04     406
 2.000000e+04     312
 1.000000e+04     278
 1.000000e+05     258
                 ...
 8.568000e+04       1
 1.000000e+09       1
 5.500000e+05       1
 5.100000e+04       1
 1.300000e+03       1
Name: count, Length: 149, dtype: int64
Missing Values: 22165
Sample Values:
           cc3
3978       NaN
22205      NaN
14789      NaN
5881       NaN
5864   10000.0

--------------------------------------------------

--- Analysis for Column: cc4_1 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_1
0.0    4351
1.0    1876
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_1
15597    NaN
15105    NaN
11625    NaN
19973    NaN
2445     NaN

--------------------------------------------------

--- Analysis for Column: cc4_2 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_2
0.0    6195
1.0      32
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_2
15104    NaN
23249    NaN
6113     NaN
13857    0.0
5936     NaN

--------------------------------------------------

--- Analysis for Column: cc4_3 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_3
0.0    6176
1.0      51
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_3
6356     0.0
11120    NaN
16372    NaN
21483    NaN
12095    NaN

--------------------------------------------------

--- Analysis for Column: cc4_4 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_4
0.0    6122
1.0     105
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_4
914      0.0
545      NaN
9289     NaN
14729    NaN
7071     0.0

--------------------------------------------------

--- Analysis for Column: cc4_5 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_5
0.0    5128
1.0    1099
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_5
22010    NaN
8509     NaN
11445    NaN
26740    0.0
15782    NaN

--------------------------------------------------

--- Analysis for Column: cc4_6 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_6
0.0    5528
1.0     699
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_6
22868    0.0
25301    NaN
3155     NaN
27179    NaN
21555    NaN

--------------------------------------------------

--- Analysis for Column: cc4_7 ---
Data Type: float64
Unique Values (3): [nan  0.  1.]
Value Counts:
cc4_7
0.0    6152
1.0      75
Name: count, dtype: int64
Missing Values: 22165
Sample Values:
       cc4_7
4125     NaN
13341    NaN
9873     NaN
11297    NaN
8801     NaN

--------------------------------------------------

--- Analysis for Column: gen3_8 ---
Data Type: float64
Unique Values (3): [3. 2. 1.]
Value Counts:
gen3_8
3.0    26924
1.0     1164
2.0      304
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       gen3_8
9876      3.0
8762      3.0
11639     3.0
6305      3.0
10972     3.0

--------------------------------------------------

--- Analysis for Column: gen5_8 ---
Data Type: float64
Unique Values (3): [nan  1.  2.]
Value Counts:
gen5_8
1.0    937
2.0    598
Name: count, dtype: int64
Missing Values: 26857
Sample Values:
       gen5_8
17173     NaN
17801     NaN
14802     NaN
26643     NaN
19924     NaN

--------------------------------------------------

--- Analysis for Column: pc1_1 ---
Data Type: float64
Unique Values (2): [1. 0.]
Value Counts:
pc1_1
1.0    27305
0.0     1087
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_1
26036    0.0
13386    1.0
13208    1.0
5611     1.0
8072     1.0

--------------------------------------------------

--- Analysis for Column: pc1_2 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_2
0.0    24331
1.0     4061
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_2
14271    0.0
3640     0.0
13528    0.0
27623    0.0
28187    0.0

--------------------------------------------------

--- Analysis for Column: pc1_3 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_3
1.0    14764
0.0    13628
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_3
22499    1.0
13852    1.0
24787    1.0
5618     1.0
25756    0.0

--------------------------------------------------

--- Analysis for Column: pc1_4 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_4
0.0    25240
1.0     3152
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_4
9976     0.0
23979    1.0
25592    0.0
24988    0.0
10731    0.0

--------------------------------------------------

--- Analysis for Column: pc1_5 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_5
0.0    27331
1.0     1061
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_5
17642    0.0
7397     0.0
556      0.0
11150    0.0
7236     0.0

--------------------------------------------------

--- Analysis for Column: pc1_6 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_6
0.0    28245
1.0      147
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_6
17637    0.0
1478     0.0
8118     0.0
7989     0.0
21554    0.0

--------------------------------------------------

--- Analysis for Column: pc1_7 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_7
0.0    28231
1.0      161
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_7
11347    0.0
2629     0.0
3284     0.0
12694    0.0
2803     0.0

--------------------------------------------------

--- Analysis for Column: pc1_8 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_8
0.0    18955
1.0     9437
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_8
20817    0.0
16210    0.0
4115     0.0
8537     1.0
7567     0.0

--------------------------------------------------

--- Analysis for Column: pc1_9 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_9
1.0    14670
0.0    13722
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_9
16546    0.0
4499     1.0
10211    1.0
22778    1.0
18976    1.0

--------------------------------------------------

--- Analysis for Column: pc1_10 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_10
0.0    18269
1.0    10123
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_10
23488     0.0
3663      1.0
25662     0.0
9555      0.0
9468      1.0

--------------------------------------------------

--- Analysis for Column: pc1_11 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_11
0.0    27549
1.0      843
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_11
10644     0.0
16295     0.0
47        0.0
24002     0.0
10206     0.0

--------------------------------------------------

--- Analysis for Column: pc1_12 ---
Data Type: float64
Unique Values (2): [0. 1.]
Value Counts:
pc1_12
0.0    22437
1.0     5955
Name: count, dtype: int64
Missing Values: 0
Sample Values:
       pc1_12
9748      0.0
10128     0.0
22589     0.0
18898     0.0
19420     0.0

--------------------------------------------------

--- Analysis for Column: e13a_1 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
e13a_1
0.0    10749
1.0     9912
Name: count, dtype: int64
Missing Values: 7731
Sample Values:
       e13a_1
12905     0.0
9618      0.0
5019      1.0
20191     1.0
6125      0.0

--------------------------------------------------

--- Analysis for Column: e13a_2 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
e13a_2
0.0    20552
1.0      109
Name: count, dtype: int64
Missing Values: 7731
Sample Values:
       e13a_2
20635     0.0
27374     0.0
26661     0.0
2589      0.0
7112      0.0

--------------------------------------------------

--- Analysis for Column: e13a_3 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
e13a_3
0.0    20353
1.0      308
Name: count, dtype: int64
Missing Values: 7731
Sample Values:
      e13a_3
4091     0.0
15       NaN
8221     0.0
7692     0.0
8839     NaN

--------------------------------------------------

--- Analysis for Column: e13a_4 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
e13a_4
0.0    20530
1.0      131
Name: count, dtype: int64
Missing Values: 7731
Sample Values:
       e13a_4
10921     NaN
18019     0.0
15894     NaN
11750     0.0
4583      0.0

--------------------------------------------------

--- Analysis for Column: e13a_5 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
e13a_5
0.0    20590
1.0       71
Name: count, dtype: int64
Missing Values: 7731
Sample Values:
       e13a_5
9173      NaN
21282     0.0
11003     0.0
11326     NaN
12589     0.0

--------------------------------------------------

--- Analysis for Column: e13a_6 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
e13a_6
0.0    20255
1.0      406
Name: count, dtype: int64
Missing Values: 7731
Sample Values:
       e13a_6
5559      NaN
10380     NaN
10638     0.0
22860     0.0
8306      0.0

--------------------------------------------------

--- Analysis for Column: e13a_7 ---
Data Type: float64
Unique Values (3): [ 0.  1. nan]
Value Counts:
e13a_7
0.0    16519
1.0     4142
Name: count, dtype: int64
Missing Values: 7731
Sample Values:
       e13a_7
28332     0.0
20205     0.0
12885     NaN
28024     NaN
24677     0.0

--------------------------------------------------

--- Analysis for Column: e13a_8 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
e13a_8
0.0    20122
1.0      539
Name: count, dtype: int64
Missing Values: 7731
Sample Values:
       e13a_8
13111     0.0
11154     NaN
21164     NaN
22212     0.0
25050     0.0

--------------------------------------------------

--- Analysis for Column: e13a_9 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
e13a_9
0.0    19943
1.0      718
Name: count, dtype: int64
Missing Values: 7731
Sample Values:
       e13a_9
1324      0.0
16484     NaN
13612     0.0
11425     0.0
17282     NaN

--------------------------------------------------

--- Analysis for Column: e13a_10 ---
Data Type: float64
Unique Values (3): [ 0. nan  1.]
Value Counts:
e13a_10
0.0    20514
1.0      147
Name: count, dtype: int64
Missing Values: 7731
Sample Values:
       e13a_10
14602      0.0
25791      NaN
2391       0.0
21876      0.0
23014      0.0

--------------------------------------------------

--- Analysis for Column: e13a_other ---
Data Type: object
Unique Values (280): ['' 'Farming' 'Farmers' 'Farm Products' 'Bakery' 'Pastor'
 'Trading on cloth' 'A Priest'
 'I am a youth corper ,so I received my allowance'
 'Local government staff' 'Own a restaurant' 'Plumber' 'Seamstress' 'Nysc'
 'Tailoring' 'Provisions for shop (food stuff' 'Provision shop' 'Clothing'
 'Small scale business' 'Business man' 'Market trader' "Trader's"
 'Business' 'Small scale business Saling of fire wood' 'Account Section'
 'Business woman' 'Business (food stuff)' 'Firewood business'
 'NSCDC, NIGERIA AND SECURITY DEFENCE CORP' 'I sell soft drinks'
 'From spouse' 'Business/provisions shop' 'Hair dressing'
 'Personel management' 'Saloon' 'Civil servant' 'Company' 'Civil  servant'
 'Herbalist' 'School' 'Mechanics' 'Saling food' 'Laundry  services'
 'Community services' 'Petty trading' 'Vulcaniser' 'Petty business'
 'Community service (grinding)' 'Sells firewood' 'Tailor'
 'Local government' 'Buying and selling of condem properties'
 'A fashion designer' 'Engineering' 'HAIRDRESSING SERVICES'
 'BARBER SERVICES' 'Hairdressing service' 'TAILORING SERVICES'
 'Family members pay my bill' 'Security' 'Tailored' 'Trader'
 'Smell sells some food items  at home' 'Okada' 'PETTY TRADING'
 'Fraying akara' 'Labra' 'Blacksmith' 'Baking' 'Buy and sale'
 'Charcoal sellers' 'Farm labourer' 'Defence' 'Dependent' 'Hospitality'
 'Clergy' 'Repairs of Generator' 'Get money from  relatives' 'Current'
 'Pension' 'Religious' 'Livestock rearing' 'Online Business'
 'Military work' 'Get money from spouse' 'Federal government work'
 'Children' 'Tradomedical doctor' 'Labourer' 'Im not working'
 'Sales cooked food' 'I be tailor' 'Retailer' 'Sales fish'
 'Small scale provision store' 'Trading' 'Nothing for now'
 'Fashion designer' 'Provision' 'Hairdresser' 'Foodstuff'
 'A beer parlour  and restaurant' 'Online trading'
 'Tutor in a government secondary school' 'Phone accessories'
 'Crop farming' 'Buying and selling' 'Fish seller' 'Nothing'
 'Palm wine seller' 'Carpentry and farming' 'None' 'Expand business'
 'Primary health care center' 'Fashion  designer' 'Retired  Wokers'
 'No other' 'Weather' 'Education' 'Electrician' 'No other business'
 'Cleric' 'Private teacher' 'Okada relder' 'Blogger' 'Driver' 'Food'
 'Restaurant' 'Baker' 'Food stuffs' 'Public sector' 'Pastries'
 'Civil defence' 'Carpenter' 'Fitness' 'Motor cycle rider.'
 'Business and farming' 'Phone repair'
 'Get money from family and friends.' 'None of the above'
 'Ice block trading' 'Farming and  Tailoring' 'Motor cycle rider'
 'Hair Barbing' 'Mechanic' 'Sales girl' 'Hairdressing' 'Hair stylist'
 'POS AGENT' 'Hair Stylist' 'Train people in school' 'Electrical works'
 'Building and Construction(brick Laying)' 'I work in a coal room'
 'Security Officer' 'Buying and selling of iron scrabes' 'Fashion(Tailor)'
 'Health worker' 'SECURITY' 'ONWN BUSINESS' 'BUSINESS' 'HAND WORKER'
 'NONE' 'FARMING ACTIVITIES' 'HAND WORK' 'OWN BUSINESS' 'MY ONWN BUSINESS'
 'Retail Trade' 'Farming and livestock' 'Food hawking'
 'Selling of food at home' 'Trade (selling grains)' 'Shoes maker'
 'Buy and sell' 'Pitty trader ( selling of stweet potatoes  )'
 'He have a shop where he sell bags and  shoes' 'Agriculture'
 'He is learrning Carpenters work' 'Selling of pour water' 'Painting'
 'Magic (Bori)' 'Food seller' 'Security guard' 'Women hair dresser'
 'Henna decorations and hair' 'CATTLE REARER' 'Petty  trading'
 'Skilled worker' 'From family and friends' 'Skill worker'
 'FASHION DESIGNER' 'TRANSPORTATION' 'SHOE SELLER' 'BIKE RIDER'
 'Provision stores' 'SHOES SELLER' 'CLERCH(ALFA)' 'LABOURAL'
 'ENVIRONMENTAL HEALTH SERVICE' 'Fashion' 'SECURITY OFFICER' 'Cateering'
 'Builders' 'Sells food' 'Provision Store' 'Pensioner' 'Butcher man'
 'Printing press' 'Cleaning services' 'Sell Food' 'Madrid business'
 'Selling of groundnut' 'Selling of food stuff' 'Selling of drinks'
 'Saling of beer' 'Grinding engine' 'Bussiness' 'Anti corruption'
 'Painter' 'Food Stuff' 'Taloring' 'Selling of soft drinks'
 'Selling of soya bean cake' 'Food stuff' 'From my father' 'Local Govt'
 'Petty trader' 'She has a grinding  machine' 'FOOD SELLER'
 'STATE REVENUE SERVICE' 'CLERGY' 'Food product' 'FOOD VENDOR'
 'SECURITY MAN' 'Selling food' 'Hair dresser' 'CMEMIST' 'CATHERA'
 'DR CLEANING' 'Ise owoni' 'Ate oni worobo' 'Kosi' 'A ba in kole'
 'Okowo,bi ogede, ewebe,etc' 'Ise Agbe' 'Kara kata  oni sowo' 'Ise owo'
 'Ko si' 'Eko pipon' 'Female wears' 'Pepper Grinding' 'Make up artists'
 'Agbee' 'Aagbe' 'Fufu riro' 'Structural engineer' 'Fashion Stylist'
 'Processed food' 'Artisan' 'PASTOR' 'Food and provisions'
 'Provisions and edibles' 'Pastor ( Church Ministry)' 'NGO'
 'From children' 'Depends on husband' 'From father' 'From husband'
 'From husband and family' 'Not applicable' 'Carpentry' 'My husband pays'
 'Food vendor' 'Building mesing' 'In court' 'Erant' 'Sugarcane seller'
 'Buying food' 'Driving' 'Hair dressing etc']
Value Counts:
e13a_other
                              27878
Farming                          40
Tailoring                        32
Kosi                             17

To create the entrepreneurship column, we will:

Binary Indicator for Involvement in Income-Generating Activities :

Use cc1_* columns to determine involvement in income-generating activities.

Assign 1 if any cc1_* == 1.0; otherwise, assign 0.

Categorize Primary and Secondary Sources of Income :

Use cc3 and cc4_* columns to classify the primary and secondary sources of income.

Ownership of Business Equipment :

Use gen3_8 to infer ownership of non-farm business equipment.

Control Over Business Assets :

Use gen5_8 to assess control over business assets.

Proximity to Markets and Services :

Use pc1_* columns to evaluate proximity to markets and services.

Borrowing Sources :

Use lc2a_* columns to identify borrowing sources relevant to entrepreneurship.

Sectors of Income :

Use e13a_* columns to classify the sectors of income.

Employment :

Use e13b to determine the number of employees in the individual's business.

Composite Representation :

Combine all indicators into a single string representation (entrepreneurship).

In [131]:
# Time to consolidate

# Step 1: Create binary indicators for income-generating activities
def categorize_income_activities(row):
    activities = []
    if row['cc1_1'] == 1.0:
        activities.append('Agriculture')
    if row['cc1_2'] == 1.0:
        activities.append('Trade')
    if row['cc1_3'] == 1.0:
        activities.append('Services')
    # Add more activities as needed
    return ', '.join(activities) if activities else 'No Income Activities'

data['income_activities'] = data.apply(categorize_income_activities, axis=1)

# Step 2: Categorize primary and secondary sources of income
def categorize_sources_of_income(row):
    primary_source = {
        1.0: 'Agriculture',
        2.0: 'Trade',
        3.0: 'Services',
        4.0: 'Other'
    }.get(row['cc3'], 'Unknown')
    
    secondary_sources = []
    if row['cc4_1'] == 1.0:
        secondary_sources.append('Agriculture')
    if row['cc4_2'] == 1.0:
        secondary_sources.append('Trade')
    if row['cc4_3'] == 1.0:
        secondary_sources.append('Services')
    # Add more sources as needed
    secondary_sources = ', '.join(secondary_sources) if secondary_sources else 'None'
    
    return f'Primary Source: {primary_source}, Secondary Sources: {secondary_sources}'

data['sources_of_income'] = data.apply(categorize_sources_of_income, axis=1)

# Step 3: Categorize ownership of business equipment
def categorize_business_equipment(gen3_8):
    if gen3_8 == 1.0:
        return 'Owns Business Equipment'
    elif gen3_8 == 2.0:
        return 'No Business Equipment'
    else:
        return 'Unknown'

data['business_equipment'] = data['gen3_8'].apply(categorize_business_equipment)

# Step 4: Categorize control over business assets
def categorize_control_over_assets(gen5_8):
    if gen5_8 == 1.0:
        return 'Full Control'
    elif gen5_8 == 2.0:
        return 'Limited Control'
    else:
        return 'Unknown'

data['control_over_assets'] = data['gen5_8'].apply(categorize_control_over_assets)

# Step 5: Identify proximity to markets and services
def identify_proximity_to_services(row):
    services = []
    if row['pc1_1'] == 1.0:
        services.append('Market')
    if row['pc1_2'] == 1.0:
        services.append('Shop')
    # Add more services as needed
    return ', '.join(services) if services else 'No Proximity to Services'

data['proximity_to_services'] = data.apply(identify_proximity_to_services, axis=1)

# Step 6: Identify borrowing sources
def identify_borrowing_sources(row):
    sources = []
    if row['lc2a_1'] == 1.0:
        sources.append('Family/Friends')
    if row['lc2a_2'] == 1.0:
        sources.append('Bank')
    if row['lc2a_3'] == 1.0:
        sources.append('Microfinance Institution')
    # Add more sources as needed
    return ', '.join(sources) if sources else 'No Borrowing Sources'

data['borrowing_sources'] = data.apply(identify_borrowing_sources, axis=1)

# Step 7: Identify sectors of income
def identify_sectors_of_income(row):
    sectors = []
    if row['e13a_1'] == 1.0:
        sectors.append('Agriculture')
    if row['e13a_2'] == 1.0:
        sectors.append('Trade')
    if row['e13a_3'] == 1.0:
        sectors.append('Services')
    # Add more sectors as needed
    return ', '.join(sectors) if sectors else 'No Sectors'

data['sectors_of_income'] = data.apply(identify_sectors_of_income, axis=1)

# Step 8: Identify employment
data['employment'] = data['e13b'].apply(lambda x: int(x) if pd.notna(x) else 0)

# Step 9: Combine all indicators into a single string representation
data['entrepreneurship'] = (
    'Income Activities: ' + data['income_activities'] +
    ', Sources of Income: ' + data['sources_of_income'] +
    ', Business Equipment: ' + data['business_equipment'] +
    ', Control Over Assets: ' + data['control_over_assets'] +
    ', Proximity to Services: ' + data['proximity_to_services'] +
    ', Borrowing Sources: ' + data['borrowing_sources'] +
    ', Sectors of Income: ' + data['sectors_of_income'] +
    ', Employees: ' + data['employment'].astype(str)
)

# Display the consolidated column
print(data[['income_activities', 'sources_of_income', 'business_equipment',
            'control_over_assets', 'proximity_to_services', 'borrowing_sources',
            'sectors_of_income', 'employment', 'entrepreneurship']].head())

      income_activities                                 sources_of_income  \
0  No Income Activities  Primary Source: Unknown, Secondary Sources: None
1  No Income Activities  Primary Source: Unknown, Secondary Sources: None
2  No Income Activities  Primary Source: Unknown, Secondary Sources: None
3  No Income Activities  Primary Source: Unknown, Secondary Sources: None
4  No Income Activities  Primary Source: Unknown, Secondary Sources: None

  business_equipment control_over_assets proximity_to_services  \
0            Unknown             Unknown                Market
1            Unknown             Unknown                Market
2            Unknown             Unknown                Market
3            Unknown             Unknown                Market
4            Unknown             Unknown                Market

      borrowing_sources sectors_of_income  employment  \
0  No Borrowing Sources        No Sectors           1
1  No Borrowing Sources        No Sectors           0
2  No Borrowing Sources        No Sectors           0
3  No Borrowing Sources        No Sectors           0
4  No Borrowing Sources       Agriculture           0

                                    entrepreneurship
0  Income Activities: No Income Activities, Sourc...
1  Income Activities: No Income Activities, Sourc...
2  Income Activities: No Income Activities, Sourc...
3  Income Activities: No Income Activities, Sourc...
4  Income Activities: No Income Activities, Sourc...

Now that we have consolidated all these columns, we will create a dataset containing only these columns so we can work with the most important information in a compact form. The dataset will be our tool for Phase 2. This is the end of Phase 1.

In [134]:
# Step 1: Select the relevant columns for the new DataFrame
columns_to_keep = [
    'state', 
    'bank_account_ownership', 
    'financial_inclusion_metrics', 
    'demographic_factors', 
    'savings_behavior', 
    'borrowing_behavior', 
    'digital_payment_adoption', 
    'access_to_electricity', 
    'internet_access', 
    'mobile_phone_usage', 
    'credit_access', 
    'small_business_ownership', 
    'entrepreneurship'
]

# Step 2: Create the new DataFrame (data2) with only the selected columns
data2 = data[columns_to_keep]

# Step 3: Display the first few rows of the new DataFrame to confirm
print(data2.head())

# Step 4: Define the file path where the CSV will be saved
file_path = r"C:\Users\USER\Desktop\A2F-2023-Revised-dataset-with-Revised-weights\data2.csv"

# Step 5: Save the new DataFrame (data2) as a CSV file
data2.to_csv(file_path, index=False)

# Step 6: Print confirmation message
print(f"CSV file saved successfully to: {file_path}")

  state  bank_account_ownership  financial_inclusion_metrics  \
0  ABIA                     0.0                            2
1  ABIA                     0.0                            2
2  ABIA                     0.0                            2
3  ABIA                     0.0                            1
4  ABIA                     0.0                            1

                                 demographic_factors savings_behavior  \
0  Adult, Female, Medium Education, Middle Income...    Does Not Save
1  Adult, Female, Medium Education, Middle Income...    Does Not Save
2  Adult, Male, Medium Education, Middle Income, ...    Saves at Home
3  Adult, Male, Medium Education, Middle Income, ...    Does Not Save
4  Adult, Male, Low Education, Middle Income, Sma...    Does Not Save

                  borrowing_behavior  \
0  Does Not Borrow, Purpose: Unknown
1  Does Not Borrow, Purpose: Unknown
2  Does Not Borrow, Purpose: Unknown
3  Does Not Borrow, Purpose: Unknown
4  Does Not Borrow, Purpose: Unknown

                            digital_payment_adoption  \
0  Does Not Use Digital Payments, Frequency: Non-...
1  Does Not Use Digital Payments, Frequency: Non-...
2  Does Not Use Digital Payments, Frequency: Non-...
3  Does Not Use Digital Payments, Frequency: Non-...
4  Does Not Use Digital Payments, Frequency: Non-...

            access_to_electricity                      internet_access  \
0          Likely Has Electricity              No Evidence of Internet
1          Likely Has Electricity              No Evidence of Internet
2          Likely Has Electricity  Potential Internet (Land Ownership)
3          Likely Has Electricity  Potential Internet (Land Ownership)
4  Proximity Suggests Electricity          Proximity Suggests Internet

                                  mobile_phone_usage  \
0  Phone Usage: 1, Phone Type: Feature Phone, Com...
1  Phone Usage: 1, Phone Type: Basic Phone, Comfo...
2  Phone Usage: 1, Phone Type: Basic Phone, Comfo...
3  Phone Usage: 0, Phone Type: No Phone, Comfort ...
4  Phone Usage: 0, Phone Type: No Phone, Comfort ...

                                       credit_access  \
0  Borrowed Money: 0, Borrowing Source: No Borrow...
1  Borrowed Money: 0, Borrowing Source: No Borrow...
2  Borrowed Money: 0, Borrowing Source: No Borrow...
3  Borrowed Money: 0, Borrowing Source: No Borrow...
4  Borrowed Money: 0, Borrowing Source: No Borrow...

                            small_business_ownership  \
0  Business Equipment: 0, Business Tools: Small C...
1  Business Equipment: 0, Business Tools: Small C...
2  Business Equipment: 0, Business Tools: Small C...
3  Business Equipment: 0, Business Tools: No Busi...
4  Business Equipment: 0, Business Tools: No Busi...

                                    entrepreneurship
0  Income Activities: No Income Activities, Sourc...
1  Income Activities: No Income Activities, Sourc...
2  Income Activities: No Income Activities, Sourc...
3  Income Activities: No Income Activities, Sourc...
4  Income Activities: No Income Activities, Sourc...
CSV file saved successfully to: C:\Users\USER\Desktop\A2F-2023-Revised-dataset-with-Revised-weights\data2.csv